<template>
  <span>
    <span v-if="withBracket">[</span>
    <span part="s-fgpt-item" :class="{'s-fgpt-item': true, ['s-fgpt-item--' + className]: true}">{{text}}</span>
    <span v-if="withBracket">]</span>
  </span>
</template>

<script setup>

const props = defineProps({
  text: String,
  className: String,
  withBracket: {
    type: Boolean,
    default: true,
  }
})

</script>

<style lang="scss" src="./FeelGPT.scss" />
