@import "@/assets/styles/component.scss";

.s-fgpt-item{
  @include text-2;
  white-space: nowrap;
  text-transform: capitalize;
  
  &--happy {color: #4CAF50;}
  &--passionate {color: #00E676;}
  &--high-passion-peak {color: #00E676;}
  &--excited {color: #00C853;}
  &--engaged {color: #64DD17;}

  &--sad {color: #0277BD;}
  &--very-sad {color: #01579B;}
  &--depressed {color: #616161;}

  &--aggressive {color: #FF3D00;}
  &--uneasy {color: #FF6E40;}
  &--uneasy-peak {color: #FF6E40;}
  &--inaccurate {color: #DD2C00;}
  &--highly-inaccurate{color: 	#DD2C00;}

  &--stressed {color: #FF6D00;}
  &--highly-stressed {color: #FF6D00;}
  &--hesitant {color: #FFAB40;}
  &--confused {color: #FF9100;}

  &--argumentative {color: #26A69A;}
  &--confident {color: #1DE9B6;}
  &--focused {color: #00BFA5;}
  &--assertive {color: #00695C;}

  &--upset {color: #7C4DFF;}
  &--frustrated {color: #B388FF;}
  &--agitated {color: #6200EA;}
  &--dissatisfied {color: #311B92;}
  &--reticent {color: #FFAB40;}
}