<template>
  <div part="s-fgpt-list" class="s-fgpt-list">
    <FeelGPT v-for="item in feelGptItems" :text="item.text" :class-name="item.className" />
  </div>
</template>

<script setup>
import FeelGPT from './FeelGPT.vue';
import {getFeelGPTLabelsByValue} from "@/helpers/segments.js";
import {computed} from "vue";

const props = defineProps({
  feelGpt: [String, Array],
  localeTexts: Object,
})

const feelGptItems = computed(() => {
  if(Array.isArray(props.feelGpt)) return props.feelGpt;
  else return getFeelGPTLabelsByValue(props.feelGpt, getTranslate);
});

function getTranslate(text){
  return props.localeTexts?.hasOwnProperty(text) ? props.localeTexts[text] : text;
}

</script>

<style lang="scss" src="./FeelGPTList.scss" />
