<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ProfileHeader :insufficientData="props.insufficientData" :title="Locale.behavioralProfile" :type="header.type" :text="header.text" :icon="header.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  anticipation: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  concentration: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  hesitation: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['behavioralProfile', 'hesitant', 'speakingFreely', 'highlyFocused', 'unfocused', 'highlyEngaged', 'lowEngagement', 'normal']
  },
  insufficientData: {
    required: false,
    typeof: "boolean",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ProfileHeader from "@/components/ProfileHeader.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.energyProfile.header);

const header = computed(() => {
  if(!props.value.hesitation) return {type: 'no-data', text: '-', icon: null};

  const anticipation = props.value.anticipation.averageLevel;
  const concentration = props.value.concentration.averageLevel;
  const hesitation = props.value.hesitation.averageLevel;

  const result = {
    type: 'success',
    text: Locale.value.normal,
    icon: "check-success-white"
  };

  const texts = [];

  if(hesitation > 17) {
    texts.push(Locale.value.hesitant);
    result.type = 'warning';
    result.icon = 'warning-white'
  }
  if(hesitation < 13) texts.push(Locale.value.speakingFreely);

  if(concentration > 15) texts.push(Locale.value.highlyFocused);
  if(concentration < 4){
    texts.push(Locale.value.unfocused);
    result.type = 'warning';
    result.icon = 'warning-white'
  }

  if(anticipation > 15) texts.push(Locale.value.highlyEngaged);
  if(anticipation < 4) {
    texts.push(Locale.value.lowEngagement);
    result.type = 'warning';
    result.icon = 'warning-white'
  }

  if(texts.length > 0) result.text = texts.join(', ');

  return result;
});

</script>

<style lang="scss" src="./BehavioralProfileHeader.scss" />
