<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="bp-container" class="bp-container" :class="{'bp-no-data': !props.hesitation}">
      <BehavioralProfileHeader :insufficientData="!props.anticipation" :anticipation="props.anticipation" :concentration="props.concentration" :hesitation="props.hesitation" :localeTexts="Locale" />
      <InsufficientAudioData v-if="!props.anticipation" :message="Locale.insufficientAudioData" />
      <template v-else>
        <div part="bp-content" class="bp-content">
          <ChartHesitation :hesitation="props.hesitation" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
          <ChartConcentration :concentration="props.concentration" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
          <ChartAnticipation :anticipation="props.anticipation" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
        </div>
        <LinearDescription :localeTexts="LocaleLinearDescription" />
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  anticipation: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  concentration: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  hesitation: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.behavioralProfile), 'linearDescription']
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import BehavioralProfileHeader from "./BehavioralProfileHeader.ce.vue";
import ChartHesitation from "./ChartHesitation.ce.vue";
import ChartConcentration from "./ChartConcentration.ce.vue";
import ChartAnticipation from "./ChartAnticipation.ce.vue";
import LinearDescription from '@/components/LinearDescription.vue';
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.behavioralProfile);
const LocaleLinearDescription = getLocaleTexts(stringifyProps.localeTexts?.linearDescription, mainLocale.linearDescription);

</script>

<style lang="scss" src="./BehavioralProfile.scss" />
