@import "@/assets/styles/component.scss";
@import "./BehavioralProfileHeader.scss";
@import "./ChartHesitation.scss";
@import "./ChartConcentration.scss";
@import "./ChartAnticipation.scss";
@import "@/components/LinearDescription.scss";
@import "@/components/InsufficientAudioData.scss";

.bp-container{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $c-stroke;
  gap: 24px;
  height: 100%;
}
.bp-no-data{
  background-color: $c-gray-bg-1;
}
.bp-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}