<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ChartItem 
      :header="Locale.hesitation" 
      :avg-text="Locale.avg" 
      :avg-value="hesitationAvg.value" 
      :lvl-text="hesitationAvg.text" 
      :ratio-object="normalizeHesitation" 
      :title="hesitationAvg.title" 
      :description="Locale.hesitationDescription"
      :show-header="props.showHeader"
      :show-title="props.showTitle"
      :show-description="props.showDescription"
      :show-tooltips="props.showTooltips"
      :chartBorderColor="props.chartBorderColor"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  hesitation: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['hesitation', 'avg', 'low', 'med', 'high', 'normal', 'hesitationDescription', 'hesitant', 'speakingFreely']
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showTitle: {
    default: true,
    typeof: "boolean"
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showTooltips: {
    default: true,
    typeof: "boolean"
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChartItem from "./components/ChartItem.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.behavioralProfile);

const normalizeHesitation = computed(() => {
  if(!props.value.hesitation) return undefined;
  return {
    averageLevel: props.value.hesitation.averageLevel,
    highPercentage: props.value.hesitation.highPercentage,
    lowPercentage: props.value.hesitation.lowPercentage,
    midPercentage: props.value.hesitation.midPercentage,
    noReactionPercentage: props.value.hesitation.normalReactionPercentage
  }
})

const hesitationAvg = computed(() => {
  if(!props.value.hesitation) return {value: '-', title: '-', text: '-'};

  const value = Math.round(props.value.hesitation.averageLevel * 10) / 10;
  let title = Locale.value.normal;
  let text = Locale.value.of;

  if(value > 17) title = Locale.value.hesitant;
  if(value < 13) title = Locale.value.speakingFreely;

  return {value, title, text};
})

</script>

<style lang="scss" src="./ChartHesitation.scss" />
