<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ChartItem
      :header="Locale.anticipation"
      :avg-text="Locale.avg"
      :avg-value="anticipationAvg.value"
      :lvl-text="anticipationAvg.text"
      :ratio-object="props.anticipation"
      :title="anticipationAvg.title"
      :description="Locale.anticipationDescription"
      :show-header="props.showHeader"
      :show-title="props.showTitle"
      :show-description="props.showDescription"
      :show-tooltips="props.showTooltips"
      :chartBorderColor="props.chartBorderColor"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  anticipation: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['anticipation', 'avg', 'low', 'med', 'high', 'normal', 'anticipationDescription', 'highlyEngaged', 'lowEngagement']
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showTitle: {
    default: true,
    typeof: "boolean"
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showTooltips: {
    default: true,
    typeof: "boolean"
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChartItem from './components/ChartItem.vue';

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.behavioralProfile);

const anticipationAvg = computed(() => {
  if(!props.value.anticipation) return {value: '-', title: '-', text: '-'};

  const value = Math.round(props.value.anticipation.averageLevel * 10) / 10;
  let title = Locale.value.normal;
  let text = Locale.value.of;

  if(value > 15) title = Locale.value.highlyEngaged;
  if(value < 4) title = Locale.value.lowEngagement;

  return {value, title, text};
})

</script>

<style lang="scss" src="./ChartAnticipation.scss" />
