<template>
  <div class="app-root">
<!--    <EmotionPlayer :options="{
      files: ['jap-34-ok.mp3','jap-34-ok.mp3'], 
      lines: {
        riskOnProgressLine: true,
      },
      segments: report.segments,
      }
    " />-->
    
<!--    <Conclusion
      :risk="report.analysis?.reports?.risk"
      :gptConclusion="report.analysis?.chatGptAnalysis?.conclusions"
      :image="conclusionImage"
      :localeTexts="{
              ...locale.conclusion,
              riskScore:{
                ...locale.riskScore,
                mediumDescription: 'discoveryReport.apps.hrp.riskMedium',
                highDescription: 'discoveryReport.apps.hrp.riskHigh' 
              }
            }"
    />-->
    
<!--    <STTSegmentAnalysisList
      :segments="report.segments"
      @copyText="test"
    ></STTSegmentAnalysisList>-->
<!--    
    <MoodProfile
      :aggression="report.reports['channel-0'].profile.aggression"
      :joy="report.reports['channel-0'].profile.joy"
      :sad="report.reports['channel-0'].profile.sad"
      :showEmotionDistribution="false"
       id="nms-dr-mood-profile"
    ></MoodProfile>
    
    <TechnicalInfo
      :technical="report.technical"
      :inlineStyle="true"
    ></TechnicalInfo>
    
    
    <TopicList
      :risk="report.reports.risk"
      :competenciesCoreValues="report.reports.competenciesCoreValues"
      :segments="report.segments"
      :warnings="report.warnings"
      :summaryQuestions="report.summary.questions"
      :files="[{
        'id': '0.013044420266868695', 
        'url': 'https://nms-research.s3.eu-west-1.amazonaws.com/apptone/questionnaires/org_30/459a4399-5188-4dff-8ef1-db738ccc03fd.mp3?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAUZAUGUL4JA6MLUYM%2F20240103%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20240103T100330Z&X-Amz-Expires=3600&X-Amz-Signature=77cb06ab505379c71d3b885acc389f661e491b8790f811b61ac5fc40462544f7&X-Amz-SignedHeaders=host&x-id=GetObject', 
        'text': 'Question 1'
      }]"
    />-->
    <TopicList
      :risk="report.reports.risk"
      :competenciesCoreValues="report.reports.competenciesCoreValues"
      :segments="report.segments"
      :warnings="report.warnings"
      :summaryQuestions="report.summary.questions"
      :files="files"
    />
  </div>
</template>

<script setup>
import report from './riskInvalid.json'
import locale from './locales/locale.json'
import conclusionImage from './conclusion-1.jpg'
import TimeStampEmotions from '@/web-components/general/summary/TimeStampEmotions.ce.vue'
import STTSegmentAnalysisList from '@/web-components/general/risk/STTSegmentAnalysisList.ce.vue'
import Conclusion from '@/web-components/general/conclusions/Conclusion.ce.vue'
import TechnicalInfo from '@/web-components/general/summary/TechnicalInfo.ce.vue'
import TopicList from '@/web-components/general/interview/TopicList.ce.vue'
import EmotionPlayer from '@/web-components/general/emotion-player/EmotionPlayer.ce.vue'
import MoodProfile from '@/web-components/channel/mood-profile/MoodProfile.ce.vue';
import {computed} from "vue";

const files = computed(() => {
  return report.summary.questions.map((v, i) => {
    return {
      'id': v.question,
      'url': v.url,
      'text': `Question ${i + 1}`
    }
  })
  
})

const test = (value) => {
  console.log(value);
}
</script>

<style lang="scss">
@import '@/web-components/general/summary/TimeStampEmotions.scss';
@import '@/web-components/general/risk/STTSegmentAnalysisList.scss';
@import "@/web-components/general/emotion-player/EmotionPlayer.scss"; 
@import "@/web-components/general/interview/TopicList.scss"; 
@import "@/web-components/general/summary/TechnicalInfo.scss"; 
@import "@/web-components/channel/mood-profile/MoodProfile.scss"; 
@import "@/web-components/general/conclusions/Conclusion.scss"; 

.app-root{
  display: flex;
  flex-direction: column;
  width: 1462px;
  margin: 0 auto;
  padding-top: 100px;
}
</style>
