<template>
  <div part="invalid-property" class="invalid-property">{{message}}</div>
</template>

<script setup>

const props = defineProps({
  message: String
})

</script>

<style lang="scss">
@import "@/assets/styles/component.scss";
</style>
