<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="audio-player" class="audio-player">
    <audio crossOrigin="anonymous" ref="audioRef" :src="currentPlayFile" @timeupdate="timeUpdateHandler" @ended="onFileEnded" @canplaythrough="onCanPlayThrough" />
    <div part="audio-player-row" class="audio-player-row">
      <div part="audio-player-row-controls" class="audio-player-row-controls">
        <PlayerControls
          :status="playStatus"
          :currentPlayTime="totalPlayingTime"
          :totalFilesLength="totalFilesLength"
          :showStopButton="props.showStopButton"
          @play="onPlay"
          @pause="onPause"
          @stop="onStop"
          @previous="onPrevious"
          @next="onNext"
          :multiple="props.files && props.files.length > 1"
          :canPressPrevious="currentFileIndex > 0"
          :canPressNext="props.files && (currentFileIndex < props.files.length - 1)"
          :showLengthTimeWhenStopped="props.showLengthTimeWhenStopped"
        />
      </div>
      <PlayerTimeLine 
        v-if="props.showTimeLine" 
        :currentPlayTime="totalPlayingTime" 
        :fileLengths="calculatedFileLengths" 
        :withRisk="props.withRisk"
        @change="onChangePlayTimeByTotal" 
      />
    </div>
  </div>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  files: {
    typeof: "array",
    required: true,
  },
  fileLengths: {
    typeof: "array",
    required: false,
  },
  showStopButton: {
    default: true,
    typeof: "boolean"
  },
  showTimeLine: {
    default: true,
    typeof: "boolean"
  },
  showLengthTimeWhenStopped: {
    default: false,
    typeof: "boolean"
  },
  withRisk: {
    default: false,
    typeof: "boolean"
  },
}
</script>
<script setup>
import {instance} from '@/components/player/helpers/playerStore.js';
const {
  resetSelectedArea,
  selectedArea,
  selectedAreaContinuePlaying,
  selectedAreaPlaying,
  calculatedFileLengths
} = instance.value;

import PlayerTimeLine from "./PlayerTimeLine.vue";
import PlayerControls from "./PlayerControls.vue";

import {PlayerStatus} from "@/components/player/helpers/constants.js";

import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed, ref, watch} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const emit = defineEmits(['fileChanged']);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.emotionPlayer);

const _restCalcFileLength = ref(0);
const _playingFileWasChangedAndWaitingLoad = ref(false);

const audioRef = ref(null);
const playStatus = ref(PlayerStatus.stopped);
const currentFileIndex = ref(0);
const currentFilePlayingTime = ref(0);
const _selectedAreaPauseAfterReach = ref(0);

const currentPlayFile = computed(() => {
  return props.value.files[currentFileIndex.value];
})

const totalFilesLength = computed(() => {
  return calculatedFileLengths.value.reduce((r,c) => r + c, 0);
})

const totalPlayingTime = computed(() => {
  let time = 0;
  for(let ind = 0; ind < calculatedFileLengths.value.length; ind++){
    if(ind < currentFileIndex.value) time += calculatedFileLengths.value[ind];
    else break;
  }
  return time + currentFilePlayingTime.value;
})

watch(() => props.value.files, () => {
  if(audioRef.value) onStop();
  if(props.value.fileLengths){
    calculatedFileLengths.value = props.value.fileLengths;
  }
  else if(props.value.files){
    const files = props.value.files;
    if(!files || !Array.isArray(files) || files.some(v => !v)) return;
    
    _restCalcFileLength.value += files.length;
    let _fileLengths = new Array(files.length);
    files.forEach((file, ind) => {
      const audio = new Audio();
      audio.addEventListener("loadedmetadata", function(){
        _fileLengths[ind] = audio.duration;
        _restCalcFileLength.value -= 1;
        if(_restCalcFileLength.value === 0) {
          calculatedFileLengths.value = _fileLengths;
        }
      });
      audio.crossOrigin = "anonymous";
      audio.src = file;
    })
  }
}, {immediate: true})

const timeUpdateHandler = (e) => {
  const { currentTime } = e.target;
  if(!_playingFileWasChangedAndWaitingLoad.value){
    currentFilePlayingTime.value = currentTime; 
  }
}

watch(currentFileIndex, () => {
  emit('fileChanged', currentFileIndex.value);
})

const onFileEnded = () => {
  if(currentFileIndex.value < props.value.files.length - 1){
    //play next file
    currentFileIndex.value++;
    _playingFileWasChangedAndWaitingLoad.value = true;
    audioRef.value.currentTime = currentFilePlayingTime.value = 0;
  }
  else{
    //finish playing
    playStatus.value = PlayerStatus.paused;
    audioRef.value.pause();
  }
}

const onCanPlayThrough = () => {
  if(_playingFileWasChangedAndWaitingLoad.value){
    audioRef.value.currentTime = currentFilePlayingTime.value; 
  }
  if(![PlayerStatus.stopped, PlayerStatus.paused].includes(playStatus.value) ){
    audioRef.value.play();
  }
  _playingFileWasChangedAndWaitingLoad.value = false;
}

const onPlay = () => {
  playStatus.value = PlayerStatus.playing;
  audioRef.value.play();
}

const onPause = () => {
  playStatus.value = PlayerStatus.paused;
  audioRef.value.pause();
}

const onStop = () => {
  playStatus.value = PlayerStatus.stopped;
  audioRef.value.pause();
  currentFileIndex.value = 0;
  _playingFileWasChangedAndWaitingLoad.value = true;
  audioRef.value.currentTime = currentFilePlayingTime.value = 0;
}

const onPrevious = () => {
  currentFileIndex.value--;
  _playingFileWasChangedAndWaitingLoad.value = true;
  audioRef.value.currentTime = currentFilePlayingTime.value = 0;
}
const onNext = () => {
  currentFileIndex.value++;
  _playingFileWasChangedAndWaitingLoad.value = true;
  audioRef.value.currentTime = currentFilePlayingTime.value = 0;
}

const onChangePlayTimeByTotal = (newTotalTime) => {
  let time = 0;
  for(let ind = 0; ind < calculatedFileLengths.value.length; ind++){
    time += calculatedFileLengths.value[ind];
    if(newTotalTime - time <= 0){
      currentFileIndex.value = ind;
      _playingFileWasChangedAndWaitingLoad.value = true;
      audioRef.value.currentTime = currentFilePlayingTime.value = newTotalTime - (time - calculatedFileLengths.value[ind]);
      break;
    }
  }
}





watch(selectedAreaContinuePlaying, () => {
  if(selectedAreaContinuePlaying.value){
    const newPlayTime = (selectedArea.value.from / selectedArea.value.maxWidth) * totalFilesLength.value;
    onChangePlayTimeByTotal(newPlayTime);
    playStatus.value = PlayerStatus.playing;
    resetSelectedArea();
    selectedAreaContinuePlaying.value = false;
  }
})

watch(selectedAreaPlaying, () => {
  if(selectedAreaPlaying.value){
    const newPlayTime = (selectedArea.value.from / selectedArea.value.maxWidth) * totalFilesLength.value;
    _selectedAreaPauseAfterReach.value = (selectedArea.value.to / selectedArea.value.maxWidth) * totalFilesLength.value;
    playStatus.value = PlayerStatus.pauseAfter;
    onChangePlayTimeByTotal(newPlayTime);
  }
  else{
    onPause();
  }
})

watch(totalPlayingTime, () => {
  if(selectedAreaPlaying.value && _selectedAreaPauseAfterReach.value && totalPlayingTime.value >= _selectedAreaPauseAfterReach.value){
    selectedAreaPlaying.value = false;
  }
})

</script>

<style lang="scss" src="./Player.scss" />
