@import "@/assets/styles/component.scss";
@import "./PlayerTimeLine.scss";
@import "./PlayerControls.scss";

.audio-player{
  display: flex;
}
.audio-player-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  border-radius: 2px;
  background-color: $c-gray-bg-1;
  padding: 4px 6px 4px 6px;
  gap: 12px;
}
.audio-player-row-controls{
  width: auto;
}