<template>
  <div part="player-controls" class="player-controls">
    <div part="player-controls-buttons" class="player-controls-buttons">
      <IconPrevious v-if="multiple" :class="{['player-disable-btn']: !canPressPrevious}" @click="onPrevious" />
      <IconPlay v-if="status === PlayerStatus.paused || status === PlayerStatus.stopped" @click="onPlay" />
      <IconPause v-if="status !== PlayerStatus.paused && status !== PlayerStatus.stopped" @click="onPause" />
      <IconStop v-if="showStopButton && !multiple" @click="onStop" />
      <IconNext v-if="multiple" :class="{['player-disable-btn']: !canPressNext}" @click="onNext" />
    </div>
    <div part="player-controls-time" class="player-controls-time">
      {{ currentTime }}
    </div>
  </div>
</template>

<script setup>
import { defineProps, defineEmits, computed } from 'vue';
import IconPlay from '@/assets/icons/play.svg';
import IconStop from '@/assets/icons/stop.svg';
import IconPause from '@/assets/icons/pause.svg';
import IconPrevious from '@/assets/icons/previous.svg';
import IconNext from '@/assets/icons/next.svg';

import {PlayerStatus} from "@/components/player/helpers/constants.js";
import {convertSecondsToTime} from "@/helpers/segments.js";

const props = defineProps({
  status: Number,
  currentPlayTime: { //in seconds
    type: Number,
    default: 0,
  },
  totalFilesLength: { //in seconds
    type: Number,
    default: 0,
  },
  showStopButton: {
    type: Boolean,
    default: true,
  },
  showLengthTimeWhenStopped: {
    type: Boolean,
    default: true,
  },
  multiple: Boolean,
  canPressPrevious: Boolean,
  canPressNext: Boolean,
})

const emit = defineEmits(['play', 'pause', 'stop', 'previous', 'next'])

const onPlay = () => {
  emit('play');
}
const onPause = () => {
  emit('pause');
}
const onStop = () => {
  emit('stop');
}
const onPrevious = () => {
  emit('previous');
}
const onNext = () => {
  emit('next');
}

const currentTime = computed(() => {
  if(props.status === PlayerStatus.stopped && props.showLengthTimeWhenStopped) return convertSecondsToTime(props.totalFilesLength);
  return convertSecondsToTime(props.currentPlayTime);
})

</script>

<style lang="scss" src="./PlayerTimeLine.scss" />