@import "@/assets/styles/component.scss";
@import "./labels/PlayPositionLabelCircle.scss";
@import "./labels/EndOfFilePositionLabelLine.scss";
@import "./labels/RiskLabelsCircles.scss";

.player-time-line {
  flex: 1;
  height: 4px;
  background: $c-gray-bg-2;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.player-time-line-active {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: $c-stroke;
}
