<template>
  <div
    ref="playerTimeLineRef"
    part="player-time-line"
    class="player-time-line"
    @mousedown="onMouseDown"
  >
    <div
      part="player-time-line-active"
      class="player-time-line-active"
      :style="{ width: playPosition }"
    />
    <template v-if="fileLengths.length > 1">
      <EndOfFilePositionLabelLine v-for="fileMark in fileMarks" :percent-position="fileMark" />
    </template>
    <PlayPositionLabelCircle />
    <RiskLabelsCircles v-if="withRisk" />
  </div>
</template>

<script setup>
import {instance} from '@/components/player/helpers/playerStore.js';
const {
  playPosition,
} = instance.value;

import RiskLabelsCircles from './labels/RiskLabelsCircles.vue'
import PlayPositionLabelCircle from './labels/PlayPositionLabelCircle.vue'
import EndOfFilePositionLabelLine from './labels/EndOfFilePositionLabelLine.vue'
import {defineProps, defineEmits, ref, watch, onMounted, onUnmounted, computed, shallowRef} from 'vue'
import {getZoom} from "@/helpers/zoom.js";

const props = defineProps({
  currentPlayTime: {
    type: Number,
    default: 0,
  },
  fileLengths: Array,
  withRisk: {
    type: Boolean,
    default: false
  }
})

const emit = defineEmits(['change'])

const zoomMultiplier = ref(1);

const mouseDownObj = ref({
  playerTimeLineWidth: 0,
  clientX: 0,
})
const isMouseMove = ref(false)
const playerTimeLineRef = ref(null);

const totalPlayTime = computed(() => {
  return props.fileLengths.reduce((res, curr) => res + curr, 0);
})

const fileMarks = computed(() => {
  const markLeft = [];
  let time = 0;
  for(let ind in props.fileLengths){
    time += props.fileLengths[ind];
    if(ind < props.fileLengths.length - 1){ //skip the last one
      markLeft.push(`${(time / totalPlayTime.value) * 100}%`);
    }
  }
  return markLeft;
})

watch(() => props.currentPlayTime, () => {
  if(!isMouseMove.value){
    playPosition.value = `${(props.currentPlayTime / totalPlayTime.value) * 100}%`;
  }
})

onMounted(() => {
  zoomMultiplier.value = 1/getZoom(playerTimeLineRef);
  window.addEventListener('mousemove', onMouseMove);
  window.addEventListener('mouseup', onMouseUp);
})

onUnmounted(() => {
  window.removeEventListener('mousemove', onMouseMove);
  window.removeEventListener('mouseup', onMouseUp);
})

const onMouseMove = (e) => {
  if (isMouseMove.value) {
    e.preventDefault();
    const newPos = getNewTimeLinePosition(e);
    playPosition.value = `${newPos}px`;
  }
}

const onMouseDown = (e) => {
  isMouseMove.value = true;
  mouseDownObj.value = {
    playerTimeLineWidth: e.clientX * zoomMultiplier.value - playerTimeLineRef.value.getBoundingClientRect().left,
    clientX: e.clientX,
  }
}

const onMouseUp = (e) => {
  if(isMouseMove.value){
    e.preventDefault();
    const timelineWidth = playerTimeLineRef.value.clientWidth;
    const newPos = getNewTimeLinePosition(e);
    const newPlayTime = (newPos / timelineWidth) * totalPlayTime.value;
    emit('change', newPlayTime);
    isMouseMove.value = false;
  }
}

const getNewTimeLinePosition = (e) => {
  let newPos = mouseDownObj.value.playerTimeLineWidth + (e.clientX - mouseDownObj.value.clientX) * zoomMultiplier.value;
  if(newPos < 0) newPos = 0;
  if(newPos > playerTimeLineRef.value.clientWidth) newPos = playerTimeLineRef.value.clientWidth;
  return newPos;
}

</script>

<style lang="scss" src="./PlayerTimeLine.scss" />
