@import "@/assets/styles/component.scss";

.player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  > * {
    cursor: pointer;
  }
}
.player-controls-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: $c-secondary-dark;
}
.player-controls-time{
  cursor: default;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: $c-main-dark;
}
.player-disable-btn{
  pointer-events: none;
  cursor: default;
  color: $c-stroke
}