<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ep-line-container" class="ep-line-container">
      <div part="ep-value-container" class="ep-value-container">
        <LinearSeparation :reactions="props.energy" />
        <LinearDescription v-if="props.showLineDescription" :localeTexts="LocaleLinearDescription" />
      </div>
      <div v-if="props.showDescription" part="ep-info-container" class="ep-info-container">
        {{Locale.lineDescriptionText}}
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  energy: {
    required: false,
    typeof: "object",
    existProps: ['highPercentage','lowPercentage','midPercentage','noReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['lineDescriptionText', 'linearDescription']
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showLineDescription: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import LinearSeparation from "@/components/LinearSeparation.vue";
import LinearDescription from "@/components/LinearDescription.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.energyProfile);
const LocaleLinearDescription = getLocaleTexts(stringifyProps.localeTexts?.linearDescription, mainLocale.linearDescription);

</script>

<style lang="scss" src="./EnergyProfileLevels.scss" />
