<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ep-line-container" class="ep-line-container">
      <div part="ep-value-container" class="ep-value-container">
        <div v-if="props.showHeader" part="ep-extreme-title" class="ep-extreme-title">{{Locale.extremeEmotions}}</div>
        <ValueIconEmphasizing v-if="!props.insufficientData" :text="extreme.text" :value="extreme.value" :icon="extreme.icon" />
      </div>
      <div v-if="props.showDescription && !props.insufficientData" part="ep-info-container" class="ep-info-container">
        {{Locale.extremeDescriptionText}}
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  channelExtremeEmotionSegments:{
    required: false,
    typeof: "number",
  },
  channelSegmentsCount:{
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['extremeEmotionsSegments', 'extremeDescriptionText', 'extremeEmotions']
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  insufficientData:{
    default: false,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

import ValueIconEmphasizing from "@/components/ValueIconEmphasizing.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.energyProfile);

const extreme = computed(() => {
  const value = props.value.channelExtremeEmotionSegments;
  
  if(value === undefined) return {value: "-", text: `${Locale.value.extremeEmotionsSegments} -`, icon: null};
  
  const percent = Math.round(props.value.channelExtremeEmotionSegments / props.value.channelSegmentsCount * 1000) / 10;
  const text = `${Locale.value.extremeEmotionsSegments} ${value}`;
  
  if(percent > 10) return {value: percent + "%", text, icon: "warning-red"};
  if(percent > 2) return {value: percent + "%", text, icon: "warning-orange"};
  return {value: percent + "%", text, icon: "check-success"};
});

</script>

<style lang="scss" src="./EnergyProfileExtreme.scss" />
