@import "@/assets/styles/component.scss";
@import "./EnergyProfileHeader.scss";
@import "./EnergyProfileLevels.scss";
@import "./EnergyProfileExtreme.scss";
@import "@/components/InsufficientAudioData.scss";

.ep-container{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $c-stroke;
  gap: 24px;
  height: 100%;
}
.ep-no-data{
  background-color: $c-gray-bg-1;
  .ep-no-data-extreme{
    height: 20px;
  }
}
.ep-line{
  @include line;
}