<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ProfileHeader :title="Locale.energyProfile" :type="header.type" :text="header.text" :icon="header.icon" :insufficientData="props.insufficientData" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  energy: {
    required: false,
    typeof: "object",
    existProps: ['highPercentage','lowPercentage','midPercentage','noReactionPercentage']
  },
  insufficientData: {
    required: false,
    typeof: "boolean",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.energyProfile.header)
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ProfileHeader from "@/components/ProfileHeader.vue";
import mainLocale from "@/locales/locale.json";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.energyProfile.header);

const header = computed(() => {
  const energy = props.value.energy;
  if(!energy) return {type: 'no-data', text: '-', icon: null};
  if(energy.lowPercentage > 90) return {type: 'fail', text: Locale.value.extremelyLow, icon: "warning-white"};
  if(energy.highPercentage > 80) return {type: 'fail', text: Locale.value.extremelyHigh, icon: "warning-white"};
  if(energy.lowPercentage > 60) return {type: 'warning', text: Locale.value.belowNormal, icon: "warning-white"};
  if(energy.highPercentage >= 30) return {type: 'warning', text: Locale.value.aboveNormal, icon: "warning-white"};
  return {type: 'success', text: Locale.value.normal, icon: "check-success-white"};
});

</script>

<style lang="scss" src="./EnergyProfileHeader.scss" />
