@import "@/assets/styles/component.scss";
@import "@/components/ValueIconEmphasizing.scss";

.ep-line-container{
  @include text-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.ep-value-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}
.ep-info-container{
  @include text-1;
  width: 42%;
}
.ep-extreme-title{
  @include title-5;
}