<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ep-container" class="ep-container" :class="{'ep-no-data': !props.energy}">
      <EnergyProfileHeader :energy="props.energy" :localeTexts="Locale.header" :insufficientData="!props.energy" />
      <InsufficientAudioData v-if="!props.energy" :message="Locale.insufficientAudioData" />
      <EnergyProfileLevels v-else :energy="props.energy" :localeTexts="Locale" />
      <div part="ep-line" class="ep-line"></div>
      <EnergyProfileExtreme :insufficientData="!props.channelExtremeEmotionSegments" :channelExtremeEmotionSegments="props.channelExtremeEmotionSegments" :channelSegmentsCount="props.channelSegmentsCount" :localeTexts="Locale" />
      <InsufficientAudioData v-if="!props.channelExtremeEmotionSegments" class="ep-no-data-extreme" :message="Locale.insufficientAudioData" />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  channelExtremeEmotionSegments:{
    required: false,
    typeof: "number",
  },
  channelSegmentsCount:{
    required: false,
    typeof: "number",
  },
  energy: {
    required: false,
    typeof: "object",
    existProps: ['highPercentage','lowPercentage','midPercentage','noReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.energyProfile), 'linearDescription']
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

import EnergyProfileHeader from "./EnergyProfileHeader.ce.vue";
import EnergyProfileLevels from "./EnergyProfileLevels.ce.vue";
import EnergyProfileExtreme from "./EnergyProfileExtreme.ce.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.energyProfile,
  linearDescription: mainLocale.linearDescription
});

</script>

<style lang="scss" src="./EnergyProfile.scss" />
