<template>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
  <div style="width: 1220px">
    <nms-player ref="nmsRef" videoUrl="/test.mp4" ></nms-player>
  </div>
</template>
<script setup>
import {onMounted, ref} from "vue";

const nmsRef = ref(null)

import json from '../public/test.json'

const data = JSON.stringify(json)

onMounted(() => {
  nmsRef.value.setData(json)
})
</script>
<style>

.sidebar--wrapper {
  width: 375px;
}

</style>
