<template>
  <div part="br-container" class="br-container">
    <div part="br-left-border-container" class="br-left-border-container">
      <div v-if="icon" part="br-icon" class="br-icon">
        <AttentionIcons :name="icon"/>
      </div>
      <div part="br-text-container" class="br-text-container">
        <div part="br-text" class="br-text">
          <div v-if="!hideDescription" class="br-description">{{locale.indicationsOf}}</div>
          <div class="br-title">{{title}}</div>
          <div v-if="!hideDescription" class="br-description"></div>
        </div>
        <div part="br-text" class="br-text">
          <div v-if="!hideDescription" class="br-description"></div>
          <div class="br-title">{{value}}</div>
          <div v-if="!hideDescription" class="br-description">{{locale.detected}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>

import AttentionIcons from "@/components/AttentionIcons.vue";

const props = defineProps({
  title: String,
  value: String,
  icon: String,
  hideDescription: Boolean,
  locale: Object
})

</script>

<style lang="scss" src="./BadgeRisk.scss" />

