@import "@/assets/styles/component.scss";

.br-container {
  display: flex;
  border-radius: 12px;
  border: 1px solid $c-stroke;
  overflow: hidden;
}
.br-left-border-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 24px 12px 12px;
  width: 100%;
  border-left: 8px solid $c-secondary-dark;
  background-color: $c-white;
}
.br-text-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex: 1;
}
.br-icon{
  width: 24px;
  height: 24px;
}
.br-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.br-description {
  @include text-3;
  height: 16px;
}
.br-title {
  @include title-7;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin: 6px 0;
}