@import "@/assets/styles/component.scss";

.risk-highlight{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.risk-highlight-dot{
  min-width: 8px;
  width: 8px;
  min-height: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: $c-stroke;
  margin: 6px 0;
}
.risk-highlight-text{
  @include text-3;
}