<template>
  <div part="risk-highlight" class="risk-highlight">
    <div part="risk-highlight-dot" class="risk-highlight-dot"></div>
    <div part="risk-highlight-text" class="risk-highlight-text">{{text}}</div>
  </div>
</template>

<script setup>

const props = defineProps({
  text: String,
})

</script>

<style lang="scss" src="./Highlight.scss" />
