<template>
  <div part="gsb-container" class="gsb-container">
    <div part="gsb-left-border-container" class="gsb-left-border-container">
      <div part="gsb-icon" class="gsb-icon">
        <AttentionIcons :name="icon"/>
      </div>
      <div part="gsb-text" class="gsb-text">
        {{ text }}
      </div>
      <div v-if="value" part="gsb-text" class="gsb-text">
        {{ '(' + roundedValue + ')' }}
      </div>
    </div>
  </div>
</template>

<script setup>

import AttentionIcons from "@/components/AttentionIcons.vue";
import {computed} from "vue";

const props = defineProps({
  text: String,
  icon: String,
  value: [String, Number],
})

const roundedValue = computed(() => {
  return Math.round(parseFloat(props.value) * 10) / 10;
})

</script>

<style lang="scss" src="./BadgeGeneralSummary.scss" />

