@import "@/assets/styles/component.scss";

.gsb-container {
  display: flex;
  height: 100%;
  border-radius: 12px;
  border: 1px solid $c-stroke;
  overflow: hidden;
}
.gsb-left-border-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px;
  border-left: 8px solid $c-blue;
}
.gsb-icon{
  display: flex;
}
.gsb-text {
  @include title-6;
}