﻿<template>
  <div part="q-collapse" class="q-collapse">
    <div part="q-collapse-container" class="q-collapse-container" :class="{'q-collapse-container-min': !visible}" @click="makeVisible">
      <div part="q-collapse-header" class="q-collapse-header">
        <div part="q-collapse-header-container" class="q-collapse-header-container q-collapse-container-min" @click.stop="changeVisibility">
          <slot name="header">
            {{name}}
          </slot>
        </div>
        <IconArrow part="q-collapse-arrow" class="q-collapse-arrow" :class="{'collapse-arrow-down': visible}" @click.stop="changeVisibility" />
      </div>
      <Collapse :when="visible" part="collapse-body" class="collapse-body">
        <div part="collapse-margin" class="collapse-margin"></div>
        <slot/>
      </Collapse>
    </div>
  </div>
</template>

<script setup>

import {ref} from "vue";
import IconArrow from '@/assets/icons/arrow-up.svg';
import { Collapse } from 'vue-collapsed'

const props = defineProps({
  name: String,
  defaultVisible: {
    type: Boolean,
    default: true
  }
})

const visible = ref(props.defaultVisible);

const makeVisible = () => {
  if(!visible.value) visible.value = true;
}

const changeVisibility = () => {
  visible.value = !visible.value;
}

</script>

<style lang="scss" src="./Collapse.scss"/>
