@import "@/assets/styles/component.scss";

.q-collapse{
  border: 1px solid $c-stroke;
  border-radius: 12px;
  overflow: hidden;
}
.q-collapse-container{
  display: flex;
  flex-direction: column;
  border-left: 8px solid $c-blue;
  padding: 12px 24px 12px 24px;
}
.q-collapse-container-min{
  cursor: pointer;
}
.q-collapse-header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}
.q-collapse-arrow{
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.5s;
  &.collapse-arrow-down{
    transform: rotate(0deg);
  }
}
.q-collapse-header-container{
  flex: 1; 
}