@import "@/assets/styles/component.scss";
@import "@/components/SegmentedLine.scss";

.line-question{
  @include text-3;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $c-stroke;
}
.line-question-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.line-question-low{
  color: $c-green-1;
}
.line-question-medium{
  color: $c-orange;
}
.line-question-high{
  color: $c-red;
}