<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="line-question" class="line-question">
      <div part="line-question-header" class="line-question-header">
        <div>{{props.name}}</div>
        <div>
          <span :class="{[value.class]: true}">{{value.text}}</span> ({{props.risk}})
        </div>
      </div>
      <SegmentedLine :value="value.value" :type="value.type" />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  name: {
    required: true,
    typeof: "string",
  },
  risk: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['low', 'medium', 'high'],
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import SegmentedLine from "@/components/SegmentedLine.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.questionnaire.question);

const value = computed(() => {
  if(props.value.risk < 20) return {value: 1, type: 'low', text: Locale.value.low, class: 'line-question-low'};
  if(props.value.risk < 40) return {value: 2, type: 'low', text: Locale.value.low, class: 'line-question-low'};
  if(props.value.risk < 60) return {value: 3, type: 'medium', text: Locale.value.medium, class: 'line-question-medium'};
  if(props.value.risk < 80) return {value: 4, type: 'high', text: Locale.value.high, class: 'line-question-high'};
  return {value: 5, type: 'high', text: Locale.value.high, class: 'line-question-high'};
});

</script>

<style lang="scss" src="./LineQuestion.scss" />
