@import "@/assets/styles/varriables";
@import "../EmotionDiamondLibrary/blocks/Sidebar.ce";
@import "../EmotionDiamondLibrary/blocks/LVAOnline.ce";
@import "../EmotionDiamondLibrary/blocks/Stt.ce";
@import "@/web-components/reports/AnalysisReport.scss";

.root {
  container: player / inline-size;

  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  &.is-audio{
    .elements-top{
      position: relative;
      flex-direction: column-reverse;
    }
    .player-sidebar{
      width: 100%;
      flex-grow: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .player-indications{
      flex-grow: 0;
      z-index: 3;
    }
  }
}

.nms-logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: pqw(221);
  height: auto;
}

.audio-bg{
  object-fit: cover;
}

.main-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: pqw(686.25);
  height: pqw(686.25);
  background-color: black;
}

.elements {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  &-top {
    display: flex;
    flex-grow: 1;
    height: calc(100% - pqw(39.4));
  }

  &-bottom {
    height: pqw(40);
  }

  .player-sidebar {
    margin-left: auto;
    width: pqw(375);
  }
}

.player-indications {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video {
  z-index: 3;
  width: pqw(845);
  height: pqw(646);
  background-color: black;
}

.full-size-video{
  .video{
    width: 100%;
    height: 100%;
  }
  .sidebar--wrapper{
    background: rgba(0, 0, 0, 0.75);
  }
}

.controls {
  display: flex;
  align-items: center;
  color: #fff;
}

.play-pause-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 pqw(5.62);

  svg {
    width: pqw(15.25);
    height: auto;
  }
}

.skip-forward,
.skip-backward {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: pqw(11.44);

  span {
    margin: 0 pqw(2);
  }

  svg {
    width: pqw(15.25);
    height: auto;
  }
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: pqw(8.26) pqw(15.25) pqw(8.26) pqw(7.5);
  position: relative;
  width: 100%;
  height: pqw(40);
  background: #2e2e2e;
  color: #fff;
  box-sizing: border-box;
}
.player-fullscreen-container{
  display: flex;
  margin-left: 12px;
  > * {
    width: 24px;
    cursor: pointer;
  }
}

.controls-wrapper {
  display: flex;
  align-items: center;
  font-size: 15px;
}


.video-time-line {
  width: 100%;
  height: pqw(7);
  background: #979797;
  position: relative;
  cursor: pointer;
}

.time-block {
  width: pqw(50);
  margin: 0 pqw(14);
  font-size: pqw(11.44);
}

.video-time-line-active {
  position: absolute;
  left: 0;
  top: 0;
  height: pqw(7);
  background: #ebebeb;
}

.time-code-circle {
  box-sizing: border-box;
  pointer-events: none;
  border: pqw(3) solid #ff8629;
  background: $white;
  width: pqw(11.44);
  height: pqw(11.44);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  &.time-code-circle-high{
    border-color: #FF0000;
  }
  &.time-code-circle-medium{
    border-color: #FF8000;
  }
  &.time-code-circle-suspected{
    border-color: #FFC700;
  }
}
