@import "@/assets/styles/component.scss";

.four-lvl-pie-container{
  position: relative;
  padding: 5px 12px;
  .chart {
    > * {
      width: 120px;
      height: 120px;
    }
  }
}
.four-lvl-pie-label{
  @include title-1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $c-secondary-dark;
  padding: 4px 8px;
  border-radius: 6px;
  width: 52px;
  background-color: $c-white;
}
.four-lvl-pie-high{
  top: 0;
  left: 0;
  border-color: $c-secondary-dark;
}
.four-lvl-pie-medium{
  top: 0;
  right: 0;
  border-color: $c-stroke;
}
.four-lvl-pie-low{
  bottom: 0;
  right: 0;
  border-color: $c-gray-bg-2;
}
.four-lvl-pie-no-reaction{
  bottom: 0;
  left: 0;
  border-color: $c-gray-bg-1;
}
.four-lvl-pie-slot{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

