<template>
  <div part="four-lvl-pie-container" class="four-lvl-pie-container">
    <v-chart part="chart" class="chart" :option="option" autoresize />
    <template v-if="showTooltips">
      <div v-if="props.value" part="four-lvl-pie-label" class="four-lvl-pie-label four-lvl-pie-high">{{label.high}}</div>
      <div v-if="props.value" part="four-lvl-pie-label" class="four-lvl-pie-label four-lvl-pie-medium">{{label.medium}}</div>
      <div v-if="props.value" part="four-lvl-pie-label" class="four-lvl-pie-label four-lvl-pie-low">{{label.low}}</div>
      <div v-if="props.value" part="four-lvl-pie-label" class="four-lvl-pie-label four-lvl-pie-no-reaction">{{label.noReaction}}</div>
    </template>
    <div part="four-lvl-pie-slot" class="four-lvl-pie-slot">
      <slot></slot>
    </div>
  </div>
</template>

<script setup>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { PieChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent
} from 'echarts/components';
import VChart from 'vue-echarts';
import { computed } from 'vue';

use([
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent
]);

const props = defineProps({
  value: Object, // { highPercentage, lowPercentage, midPercentage, noReactionPercentage }
  showTooltips: {
    type: Boolean,
    default: true,
  },
  chartBorderColor: {
    type: String,
  },
});

const noPercentage = "#F6F6F8";
const low = "#DFE3EF";
const medium = "#A3AED0";
const high = "#45557D";

const label = computed(() => {
  if(!props.value) return {};
  return { 
    high: `${ Math.round(props.value.highPercentage * 10) / 10 }%` ,
    medium: `${ Math.round(props.value.midPercentage * 10) / 10 }%`,
    low: `${ Math.round(props.value.lowPercentage * 10) / 10 }%`,
    noReaction: `${ Math.round(props.value.noReactionPercentage * 10) / 10 }%`,
  }
})

const option = computed(() => ({
  tooltip: {
    show: false,
  },
  legend: {
    show: false,
    selectedMode: false
  },
  grid: {
    left: "0",
    top: "0",
    right: "0",
    bottom: "0",
  },
  series: [
    {
      type: 'pie',
      radius: ['60%', '100%'],
      center: ['50%', '50%'],
      left: '0',
      top: '0',
      right: '0',
      itemStyle: {
        borderColor: props.chartBorderColor || '#fff',
        borderWidth: props.value ? 2 : 0,
      },
      emphasis:{
        disabled: true,
      },
      label: {
        show: false,
        borderColor: 'inherit',
        borderWidth: 1,
        borderRadius: 6,
        padding: [4,8,4,8],
        fontFamily: "DM Sans",
        fontSize: 12,
        fontWeight: 500,
        color: '#45557D',
      },
      labelLine: {
        show: false
      },
      data: props.value ? [
        { value: props.value.midPercentage, name: label.value.medium, itemStyle: {color: medium} },
        { value: props.value.lowPercentage, name: label.value.low, itemStyle: {color: low} },
        { value: props.value.noReactionPercentage, name: label.value.noReaction, itemStyle: {color: noPercentage} },
        { value: props.value.highPercentage, name:  label.value.high, itemStyle: {color: high} },
      ] : [
        { value: 100, name: label.value.medium, itemStyle: {color: medium} },
      ]
    }
  ]
}));
</script>

<style lang="scss" src="./FourLevelPercentagePie.scss" />