<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="qrs-container" class="qrs-container">
      <div part="qrs-title" class="qrs-title">{{Locale.riskSummary}}</div>
      <div part="qrs-body-container" class="qrs-body-container">
        <div part="qrs-body-item" class="qrs-body-item">
          <div part="qrs-body-block" class="qrs-body-block">
            <div part="qrs-row-with-icon" class="qrs-row-with-icon">
              <div part="qrs-subtitle" class="qrs-subtitle">{{Locale.underlyingRisk}}</div>
              <AttentionIcons :name="underlyingRisk.icon" />
            </div>
            <div part="qrs-attention-title" class="qrs-attention-title" :class="{[underlyingRisk.class]: true}">{{underlyingRisk.text}}</div>
            <div v-if="props.showMaxSOS" part="qrs-subtext" class="qrs-subtext">{{`(${Locale.maxSOS}: ${underlyingRisk.value})`}}</div>
          </div>
          <div part="qrs-body-block" class="qrs-body-block">
            <div part="qrs-row-with-icon" class="qrs-row-with-icon">
              <div part="qrs-subtitle" class="qrs-subtitle">{{Locale.stressLevel}}</div>
              <AttentionIcons :name="stressLevel.icon" />
            </div>
            <div part="qrs-attention-title" class="qrs-attention-title" :class="{[stressLevel.class]: true}">{{stressLevel.text}}</div>
          </div>
        </div>
        <div part="qrs-body-item" class="qrs-body-item">
          <QuestionObjectiveRisk :riskObjective="props.question.riskObjective" :localeTexts="Locale" />
          <QuestionSubjectiveRisk :riskSubjective="props.question.riskSubjective" :localeTexts="Locale" />
        </div>
        <div v-if="props.showTechnicalInfo" part="qrs-body-item info" class="qrs-body-item info">
          <div part="qrs-info" class="qrs-info">
            <div>{{`${Locale.avgJQ} (${Locale.stressBiomarker}): ${props.question.averageJQ}`}}</div>
            <div>{{`${Locale.avgVol1}: ${props.question.averageVol1}`}}</div>
            <div>{{`${Locale.avgVol2}: ${props.question.averageVol2}`}}</div>
            <div>{{`${Locale.segmentsCount}: ${props.question.segmentsCount}`}}</div>
          </div>
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  question: {
    required: true,
    typeof: "object",
    existProps: ['maxSOS', 'averageJQ', 'riskObjective', 'riskSubjective', 'segmentsCount', 'averageVol1', 'averageVol2'],
  },
  showTechnicalInfo: {
    default: true,
    typeof: "boolean"
  },
  showMaxSOS: {
    default: true,
    typeof: "boolean"
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.questionnaire.question),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import QuestionObjectiveRisk from './QuestionObjectiveRisk.ce.vue';
import QuestionSubjectiveRisk from './QuestionSubjectiveRisk.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import AttentionIcons from "@/components/AttentionIcons.vue";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.questionnaire.question);

const underlyingRisk = computed(() => {
  const value = props.value.question.maxSOS;
  if(value > 90) return { value, icon: 'warning-orange', text: Locale.value.withholdingInformation, class: 'qrs-medium' };
  return { value, icon: null, text: Locale.value.notDetected, class: 'qrs-low' };
})

const stressLevel = computed(() => {
  const value = props.value.question.averageJQ;
  if(value > 45) return { value, icon: 'warning-orange', text: Locale.value.high, class: 'qrs-medium' };
  return { value, icon: 'check-success', text: Locale.value.withinTheNorm, class: 'qrs-low' };
})

</script>

<style lang="scss" src="./QuestionRiskSummary.scss" />
