@import "@/assets/styles/component.scss";

.qt-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.qt-title{
  @include title-5;
}
.qt-text{
  @include text-3;
  max-height: 135px;
  overflow-y: auto;
}