@import "@/assets/styles/component.scss";
@import "@/components/player/Player.scss";

.qh-container{
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.qh-index-container{
  display: flex;
  flex-direction: row;
}
.qh-index{
  @include text-4;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: $c-white;
  &.qh-index-no{
    background-color: $c-stroke;
  }
  &.qh-index-low{
    background-color: $c-green-1;
  }
  &.qh-index-medium{
    background-color: $c-orange;
  }
  &.qh-index-high{
    background-color: $c-red;
  }
}
.qh-index-icon {
  display: flex;
  svg{
    width: 12px;
    height: 12px;
  }
}
.qh-title{
  @include text-45;
  color: $c-secondary-dark;
  flex: 1;
}
.qh-info{
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
}
.qh-player{
  display: flex;
  align-items: center;
  .audio-player-row-controls{
    width: auto;
    padding-right: 8px;
  }
}