<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <LineQuestion :name="Locale.subjectiveRisk" :risk="props.riskSubjective" :localeTexts="Locale" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  riskSubjective: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['subjectiveRisk', 'low', 'medium', 'high'],
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import LineQuestion from "./components/LineQuestion.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.questionnaire.question);

</script>

<style lang="scss" src="./QuestionSubjectiveRisk.scss" />
