@import "@/assets/styles/component.scss";
@import "@/components/Collapse.scss";
@import "./QuestionHeader.scss";
@import "./QuestionRiskSummary.scss";
@import "./QuestionTranscription.scss";
@import "../summary/SpeakerDistribution.scss";
@import "../emotion-player/EmotionPlayer.scss";

.question-line{
  @include line;
}
.question-body-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.question-body{
  display: flex;
  flex-direction: row;
  gap: 48px;
  > * {
    flex: 1;
  }
}
.question-ep-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.question-ep-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.question-ep-header-name{
  @include title-5;
}