<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="qh-container" class="qh-container">
      <div part="qh-index-container" class="qh-index-container">
        <div part="qh-index" class="qh-index" :class="{[status.class]: true}">{{props.index}}</div>
        <div part="qh-index-icon" class="qh-index-icon">
          <AttentionIcons :name="status.icon" />
        </div>
      </div>
      <div part="qh-title" class="qh-title">
        {{props.question.text}}
      </div>
      <div part="qh-info" class="qh-info">
        <IconHighVolume v-if="warnings.highVolume" />
        <IconLowVolume v-if="warnings.lowVolume" />
        <IconNoise v-if="warnings.noise" />
      </div>
      <div part="qh-player" class="qh-player" v-if="props.fileUrl">
        <Player :files="[props.fileUrl]" :showTimeLine="false" :showStopButton="false" :showLengthTimeWhenStopped="true" />
      </div>
    </div>
  </template>
</template>

<script>

const propsDefinition = {
  index: {
    required: true,
    typeof: "number",
  },
  questionRisk: {
    required: false,
    typeof: "object",
    existProps: ['_id', 'riskObjective'],
  },
  question: {
    required: true,
    typeof: "object",
    existProps: ['id', 'text'],
  },
  warnings: {
    required: false,
    typeof: "array",
  },
  fileUrl: {
    required: true
  }
}
</script>
<script setup>
import {initializeNewInstance} from '@/components/player/helpers/playerStore.js';
initializeNewInstance();

import IconHighVolume from '@/assets/icons/high-volume.svg';
import IconLowVolume from '@/assets/icons/low-volume.svg';
import IconNoise from '@/assets/icons/noise.svg';
import Player from '@/components/player/Player.ce.vue';
import AttentionIcons from '@/components/AttentionIcons.vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);

const status = computed(() => {
  if(!props.value.questionRisk) return {class: 'qh-index-no', icon: ''};
  
  const riskObjective = props.value.questionRisk?.riskObjective;
  if(riskObjective < 40) return {class: 'qh-index-low', icon: 'check-success'};
  if(riskObjective <= 60) return {class: 'qh-index-medium', icon: 'warning-orange'};
  return {class: 'qh-index-high', icon: 'warning-red'};
})

const warnings = computed(() => {
  const result = {
    highVolume: false,
    lowVolume: false,
    noise: false
  };
  
  if(!props.value.warnings || props.value.warnings.length === 0) return result;
  
  const warningCodes = props.value.warnings.map(w => w.code);
  
  if(warningCodes.includes(101)) result.highVolume = true;
  if(warningCodes.includes(102)) result.lowVolume = true;
  if(warningCodes.includes(103)) result.noise = true;
  
  return result;
})

</script>

<style lang="scss" src="./QuestionHeader.scss" />
