@import "@/assets/styles/component.scss";
@import "./QuestionObjectiveRisk.scss";
@import "./QuestionSubjectiveRisk.scss";

.qrs-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.qrs-title{
  @include title-5;
}
.qrs-body-container{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.qrs-body-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  &.info{
    align-self: center;
  }
}
.qrs-row-with-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  svg {
    width: 12px;
    height: 12px;
  }
}
.qrs-subtitle{
  @include text-3;
  color: $c-stroke;
}
.qrs-subtext{
  @include text-2;
  color: $c-stroke;
}
.qrs-attention-title{
  @include title-3;
}
.qrs-low{
  color: $c-green-1;
}
.qrs-medium{
  color: $c-orange;
}
.qrs-high{
  color: $c-red;
}
.qrs-body-block{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.qrs-info{
  @include text-2;
  color: $c-stroke;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $c-gray-bg-1;
  border-radius: 12px;
  padding: 12px;
}