<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <Collapse :defaultVisible="props.expand">
      <template #header>
        <QuestionHeader 
          :index="props.index" 
          :questionRisk="props.questionRisk" 
          :fileUrl="props.fileUrl"
          :question="props.question"
          :warnings="props.warnings"
        />
      </template>
      <div part="question-body-container" class="question-body-container">
        <div part="question-line" class="question-line"></div>
        <div part="question-body" class="question-body">
          <QuestionRiskSummary :question="props.questionRisk" :localeTexts="Locale" />
          <QuestionTranscription :speechToTextIndex="speechToTextIndex" :validSegmentIndex="validSegmentIndex" :questionSegmentsData="props.questionSegments.data" :localeTexts="Locale" />
        </div>
        <div v-if="props.questionSegments.data.length > 10">
          <div part="question-line" class="question-line"></div>
          <div part="question-ep-container" class="question-ep-container">
            <div part="question-ep-header" class="question-ep-header">
              <div part="question-ep-header-name" class="question-ep-header-name">{{Locale.emotionRiskPlayer}}</div>
              <SpeakerDistribution :segments="epOptions.segments" :localeTexts="Locale.speakerDistribution" />
            </div>
            <EmotionPlayer :options="epOptions" :localeTexts="Locale.emotionPlayer" />
          </div>
        </div>
      </div>
    </Collapse>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  index: {
    required: true,
    typeof: "number",
  },
  questionRisk: {
    required: true,
    typeof: "object",
    existProps: ['maxSOS', 'averageJQ', 'riskObjective', 'riskSubjective', 'segmentsCount', 'averageVol1', 'averageVol2'],
  },
  fileUrl: {
    required: true,
  },
  questionSegments: { // the data array is only for this question
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  segmentsStartTime: { // for correct understanding how long was silence before first segment
    required: true,
    typeof: "number",
  },
  question: {
    required: true,
    typeof: "object",
    existProps: ['id', 'text'],
  },
  warnings: {
    required: false,
    typeof: "array",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.questionnaire.question), 'speakerDistribution', 'emotionPlayer'],
  },
  expand: {
    required: false,
    typeof: "boolean",
    default: false
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Collapse from '@/components/Collapse.vue';
import QuestionHeader from './QuestionHeader.ce.vue';
import QuestionRiskSummary from './QuestionRiskSummary.ce.vue';
import QuestionTranscription from './QuestionTranscription.ce.vue';
import SpeakerDistribution from '../summary/SpeakerDistribution.ce.vue';
import EmotionPlayer from '../emotion-player/EmotionPlayer.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.questionnaire.question, 
  speakerDistribution: {
    ...mainLocale.speakerDistribution, 
    speakerDistribution: mainLocale.questionnaire.question.speechSilenceRatio
  },
  emotionPlayer: {...mainLocale.emotionPlayer}
});

const speechToTextIndex = computed(() => {
  return props.value.questionSegments.headersPositions.speechToText;
})

const validSegmentIndex = computed(() => {
  return props.value.questionSegments.headersPositions.validSegment;
})

const epOptions = computed(() => {
  const startTime = props.value.segmentsStartTime;
  const segments = props.value.questionSegments;
  const startPosIndex = segments.headersPositions.startPosSec;
  const endPosIndex = segments.headersPositions.endPosSec;
  const segmentsData = segments.data.map((seg) => {
    const newSeg = [...seg];
    newSeg[startPosIndex] = newSeg[startPosIndex] - startTime;
    newSeg[endPosIndex] = newSeg[endPosIndex] - startTime;
    return newSeg;
  })
  return {
    files: [props.value.fileUrl],
    segments: {...segments, data: segmentsData}
  }
})

</script>

<style lang="scss" src="./Question.scss" />
