<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="qt-container" class="qt-container">
      <div part="qt-title" class="qt-title">{{Locale.transcription}}</div>
      <div part="qt-text" class="qt-text">
        {{text}}
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  speechToTextIndex: { //speechToText index from headersPositions.speechToText
    required: true,
    typeof: "number",
  },
  validSegmentIndex: { //speechToText index from headersPositions.validSegment
    required: true,
    typeof: "number",
  },
  questionSegmentsData: { //segments -> data : only for related question
    required: true,
    typeof: "array",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['transcription'],
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.questionnaire.question);

const text = computed(() => {
  return props.value.questionSegmentsData.filter((seg) => seg[props.value.validSegmentIndex]).map((seg) => seg[props.value.speechToTextIndex]).join(' ');
}) 

</script>

<style lang="scss" src="./QuestionTranscription.scss" />
