<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div class="qtl-container">
      <template v-for="topic in topicList">
        <Topic 
          :topicRisk="topic.risk" 
          :questions="topic.questions"
          :files="topic.files"
          :localeTexts="Locale"
          :expand="props.expand"
        />
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  risk: {
    required: true,
    typeof: "object",
    existProps: ['questions', 'topics'],
  },
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  files: {
    required: true,
    typeof: "array", // [ {id: '...', url: '...', text: '...'}, ...]
    validate: (prop) => {
      prop.forEach((item, pIndex) => {
        for(const v of ['id','url','text']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The files[${pIndex}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  warnings: {
    required: false,
    typeof: "array",
  },
  summaryQuestions: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      prop.forEach((item, pIndex) => {
        for(const v of ['question']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The summaryQuestions[${pIndex}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.questionnaire), 'speakerDistribution', 'emotionPlayer'],
  },
  expand: {
    required: false,
    typeof: "boolean",
    default: false
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Topic from './Topic.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {ref, watch} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps, (_props) => {
  if(_props.risk.questions.length !== _props.files.length) return { isValid: false, message: `The amount of risk.questions do not match files!`}; 
});

const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.questionnaire,
  speakerDistribution: {
    ...mainLocale.speakerDistribution,
    speakerDistribution: mainLocale.questionnaire.question.speechSilenceRatio
  },
  emotionPlayer: {...mainLocale.emotionPlayer}
});

const topicList = ref([]);
const questionSegmentsStartTime = ref({});
const _restCalcFileLength = ref(0);

watch([_restCalcFileLength], () => {
  if(_restCalcFileLength.value !== 0) return;
  
  const topics = [];
  const headersPositions = props.value.segments.headersPositions;
  const validSegmentPosIndex = headersPositions.validSegment;
  const topicsPosIndex = headersPositions.topics;
  const questionIdPosIndex = headersPositions.question;

  const topicNames = props.value.summaryQuestions.map(i => i.topics[0].name);
  const sortedUniqueTopicNames = [...new Set(topicNames)];
  const sortedRiskTopics = sortedUniqueTopicNames.map(i => props.value.risk.topics.find(j => j._id === i));

  sortedRiskTopics.forEach((tRisk) => {
    const topic = {
      risk: tRisk,
      questions: [],
      files: [],
    }
    const topicSegmentData = props.value.segments.data.filter(seg => seg[validSegmentPosIndex]).filter(seg => seg[topicsPosIndex].split('|').findIndex(t => t === tRisk._id) !== -1);
    const listOfQuestionIds = [...new Set(topicSegmentData.map(seg => seg[questionIdPosIndex]))];
    listOfQuestionIds.forEach(questionId => {
      const question = props.value.files.find(f => f.id === questionId);
      if(!question) {
        throw "The question from segment does not found in the files. QuestionId: " + questionId;
      }
      topic.files.push(question);

      const summaryQuestion = (props.value.summaryQuestions || []).find(sq => sq.question === questionId);
      const questionWarnings = (props.value.warnings || []).filter((w) => {
        if(w.hasOwnProperty('question')) return w.question === questionId;
        if(summaryQuestion && summaryQuestion.hasOwnProperty('file')) return w.reference === summaryQuestion.file;
        if(summaryQuestion && summaryQuestion.hasOwnProperty('url')) return w.reference === summaryQuestion.url;
        return false;
      });
      
      topic.questions.push({
        questionRisk: props.value.risk.questions.find(q => q._id === questionId),
        fileUrl: question.url,
        questionSegments: {
          data: props.value.segments.data.filter(seg => seg[validSegmentPosIndex]).filter(seg => seg[questionIdPosIndex] === questionId),
          headersPositions,
        },
        warnings: questionWarnings,
        segmentsStartTime: questionSegmentsStartTime.value[questionId] ?? 0,
      })
    })
    topics.push(topic);
  });
  topicList.value = topics;
}, {immediate: true})

watch(() => props.value.files, () => {
  let files = props.value.files;
  if(!files || !Array.isArray(files) || files.some(v => !v)) return;
  
  _restCalcFileLength.value += files.length;

  let _fileLengths = {};
  files.forEach((file) => {
    const audio = new Audio();
    audio.addEventListener("loadedmetadata", function(){
      _fileLengths[file.id] = audio.duration;
      _restCalcFileLength.value -= 1;

      if(_restCalcFileLength.value === 0) {
        const validSegmentPosIndex = props.value.segments.headersPositions.validSegment;
        const questionIdPosIndex = props.value.segments.headersPositions.question;
        const uniqueQuestionIds = [...new Set(props.value.segments.data.filter(seg => seg[validSegmentPosIndex]).map(seg => seg[questionIdPosIndex]))];
        let total = 0;
        const filesStart = {};
        for(let ind in uniqueQuestionIds){
          filesStart[uniqueQuestionIds[ind]] = total;
          total += _fileLengths[uniqueQuestionIds[ind]];
        }
        questionSegmentsStartTime.value = {...filesStart};
      }
    });
    audio.crossOrigin = "anonymous";
    audio.src = file.url;
  })
}, {immediate: true})

</script>

<style lang="scss" src="./TopicList.scss" />
