<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <Collapse :defaultVisible="props.expand">
      <template #header>
        <TopicHeader :topicRisk="props.topicRisk" :localeTexts="Locale.topicHeader" />
      </template>
      <div class="q-topic-body">
        <template v-for="(question, index) in props.questions">
          <Question 
            :index="index + 1" 
            :questionRisk="question.questionRisk"
            :fileUrl="question.fileUrl"
            :questionSegments="question.questionSegments"
            :segmentsStartTime="question.segmentsStartTime"
            :question="getSummaryQuestion(question.questionRisk._id)"
            :warnings="question.warnings"
            :localeTexts="{
              ...Locale.question,
              speakerDistribution: Locale.speakerDistribution,
              emotionPlayer: Locale.emotionPlayer
            }"
            :expand="true"
          />
        </template>
      </div>
    </Collapse>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topicRisk: {
    required: true,
    typeof: "object",
    existProps: ['_id', 'maxSOS', 'riskObjective'],
  },
  questions:{
    required: true,
    typeof: "array",
    validate: (prop) => {
      const validArray = prop.filter(p => !!p);
      if(validArray.length === 0) return { isValid: false, message: `The array questions doesn't have a valid value!`};
      validArray.forEach((question, pIndex) => {
        for(const v of ['questionRisk','fileUrl','questionSegments', 'segmentsStartTime']){
          if(!question.hasOwnProperty(v)) return { isValid: false, message: `The questions[${pIndex}] is invalid! Property ${v} is missing.`};
        }
        for(const v of ['data', 'headersPositions']){
          if(!question.questionSegments.hasOwnProperty(v)) return { isValid: false, message: `The questions[${pIndex}].questionSegments is invalid! Property ${v} is missing.`};
        }
      })
    }
  },
  files: {
    required: true,
    typeof: "array",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.questionnaire), 'speakerDistribution', 'emotionPlayer'],
  },
  expand: {
    required: false,
    typeof: "boolean",
    default: false
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Collapse from './components/Collapse.vue';
import TopicHeader from './TopicHeader.ce.vue';
import Question from './Question.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.questionnaire,
  speakerDistribution: {
    ...mainLocale.speakerDistribution,
    speakerDistribution: mainLocale.questionnaire.question.speechSilenceRatio
  },
  emotionPlayer: {...mainLocale.emotionPlayer}
});

function getSummaryQuestion(questionId){
  return props.value.files.find(q => q.id === questionId);
}

</script>

<style lang="scss" src="./Topic.scss" />
