<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="qth-container" class="qth-container">
      <div part="qth-title-name" class="qth-title-name">{{Locale.topicName}}</div>
      <div part="qth-info-container" class="qth-info-container">
        <div part="qth-title" class="qth-title">{{props.topicRisk._id}}</div>
        <LineTopic
          part="qth-risk-line" 
          class="qth-risk-line" 
          :riskObjective="props.topicRisk.riskObjective" 
          :localeTexts="{...Locale, topicRiskReport: '', withholdingInformation: ''}" 
        />
        <div part="qth-info-icons" class="qth-info-icons">
          <IconHesitation v-if="props.topicRisk.maxSOS > 105" />
          <IconStress v-if="props.topicRisk.riskObjective >= 45" />
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topicRisk: {
    required: true,
    typeof: "object",
    existProps: ['_id', 'maxSOS', 'riskObjective'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.questionnaire.topicHeader),
  }
}
</script>
<script setup>
import IconHesitation from '@/assets/icons/hesitation.svg';
import IconStress from '@/assets/icons/stress.svg';
import InvalidProperty from '@/components/InvalidProperty.vue';
import LineTopic from '../risk/LineTopic.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.questionnaire.topicHeader);

</script>

<style lang="scss" src="./TopicHeader.scss" />
