@import "@/assets/styles/component.scss";
@import "./components/Collapse.scss";
@import "./TopicHeader.scss";
@import "./Question.scss";

.q-topic-body{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 12px;
}