@import "@/assets/styles/component.scss";
@import "../risk/LineTopic.scss";

.qth-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.qth-info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.qth-title-name{
  @include text-3;
  color: $c-stroke;
}
.qth-title{
  @include title-6;
  flex: 1;
}
.qth-risk-line{
  width: 180px;
}
.qth-info-icons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  color: $c-stroke;
}