$c-gray-bg-1: #F6F6F8;
$c-gray-bg-2: #DFE3EF;
$c-main-dark: #2A385E;
$c-secondary-dark: #45557D;
$c-stroke: #A3AED0;
$c-orange: #FF8000;
$c-yellow: #FFC700;
$c-blue: #4E9BF0;
$c-red: #FF0000;
$c-green-1: #8BC541;
$c-white: #FFFFFF;
$c-beige: #FFCC99;
$c-mint: #99CCCC;
$c-pink: #FF618D;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,700&display=swap');

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

@mixin nms-scroll {

  //Scroll
  &::-webkit-scrollbar {
    margin: 12px;
    width: 12px; // width of the vertical scrollbar 
    height: 12px; // height of the horizontal scrollbar
    border-radius: 15px;
    border: 1px solid $c-stroke;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background: $c-stroke;
    background-clip: padding-box;
  }

  // Buttons
  &::-webkit-scrollbar-button:single-button {
    height: 12px;
    width: 12px;
  }

  // Up
  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-size: 6px;
    background-image: url("../icons/scroll-arrow-up.svg");
    background-repeat: no-repeat;
    background-position: 3px;
  }

  // left 
  &::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-size: 6px;
    background-image: url("../icons/scroll-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 3px;
  }

  // Down 
  &::-webkit-scrollbar-button:single-button:vertical:increment {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: 6px;
    background-image: url("../icons/scroll-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 3px;
  }

  // right 
  &::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-size: 6px;
    background-image: url("../icons/scroll-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 3px;
  }
}

@mixin text-0 {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $c-secondary-dark;
}
@mixin text-1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $c-secondary-dark;
}
@mixin text-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: $c-secondary-dark;
}
@mixin text-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $c-secondary-dark;
}
@mixin text-4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
}
@mixin text-45 {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
}
@mixin text-5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: $c-secondary-dark;
}

@mixin title-1 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: $c-main-dark;
}
@mixin title-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
}
@mixin title-3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: $c-main-dark;
}
@mixin title-4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
}
@mixin title-5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: $c-secondary-dark;
}
@mixin title-55 {
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: $c-secondary-dark;
}
@mixin title-6 {
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: $c-main-dark;
}
@mixin title-7 {
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $c-main-dark;
}
@mixin title-8 {
  font-size: 60px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: -0.02em;
}

@mixin line {
  min-height: 1px;
  min-width: 1px;
  height: auto;
  width: auto;
  background-color: $c-stroke;
}

.invalid-property{
  background-color: $c-gray-bg-2;
  color: $c-red !important;
  padding: 24px;
  font-size: 14px;
}




.title-3 {
  &.white{
    color: $c-white;
  }
}

.title-7 {
  
  &.light{
    color: $c-secondary-dark;
  }
}
.title-8 {
  
  &.orange{
    color: $c-orange;
  }
}


