<template>
  <div part="scsb-container" class="scsb-container">
    <div part="scsb-title" class="scsb-title">
      {{title}}
    </div>
    <div part="scsb-value" class="scsb-value">
      {{value}}
    </div>
  </div>
</template>

<script setup>

const props = defineProps({
  value: Number,
  title: String,
})

</script>

<style lang="scss" src="./SimpleBadge.scss" />
