@import "@/assets/styles/component.scss";

.scsb-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 24px;
  border-radius: 4px;
  background-color: $c-gray-bg-1;
}
.scsb-title{
  @include title-3;
  color: $c-main-dark;
}
.scsb-value{
  @include title-55;
  color: $c-main-dark;
}