<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="lp-mee-container" class="lp-mee-container">
      <div v-if="props.showHeader" part="lp-mee-title" class="lp-mee-title">{{Locale.mentalEffortEfficiency}}</div>
      <MentalEffortEfficiencyHalfPie
        :efficiency="meeEfficiency.efficiency.value"
        :mental-effort="meeEfficiency.mentalEffort.value"
        :efficiency-name="Locale.efficiency"
        :mental-effort-name="Locale.mentalEffort"
        :isUnavailable="props.mentalEfficiency?.mentalEffortEfficiency === 0"
        :unavailableText="Locale.unavailable"
      />
      <div v-if="props.showTitle || props.showDescription" part="lp-pie-line" class="lp-pie-line"></div>
      <div v-if="props.showTitle" part="lp-mee-summary-container" class="lp-mee-summary-container">
        <template v-if="props.mentalEfficiency?.mentalEffortEfficiency === 0">
          <div>{{Locale.unavailable}}</div>
        </template>
        <template v-else>
          <div>{{meeEfficiency.mentalEffort.titleText}}</div>
          <div>{{meeEfficiency.efficiency.titleText}}</div>
        </template>
      </div>
      <div v-if="props.showDescription" part="lp-pie-item-description" class="lp-pie-item-description">{{Locale.mentalEffortEfficiencyDescription}}</div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  mentalEfficiency: {
    required: false,
    typeof: "object",
    existProps: ['mentalEffortEfficiency']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.logicalProfile.mentalEffortEfficiency)
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showTitle: {
    default: true,
    typeof: "boolean"
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import MentalEffortEfficiencyHalfPie from './components/MentalEffortEfficiencyHalfPie.vue'

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.logicalProfile.mentalEffortEfficiency);

const meeEfficiency = computed(() => {
  if(!props.value.mentalEfficiency) return {
    mentalEffort: {
      titleText: '-',
      value: '-',
    },
    efficiency: {
      titleText: '',
      value: '-',
    },
  }

  let mentalEffort, efficiency;
  try{
    mentalEffort = parseInt(props.value.mentalEfficiency.mentalEffortEfficiency.toString()[0] ?? 0);
    efficiency = parseInt(props.value.mentalEfficiency.mentalEffortEfficiency.toString()[1] ?? 0);
  }
  catch (e) {
    throw "can't parse mentalEffortEfficiency";
  }

  let mentalEffortText;
  if(mentalEffort >= 8) mentalEffortText = Locale.value.extremeMentalEffort;
  else if(mentalEffort >= 6) mentalEffortText = Locale.value.highMentalEffort;
  else if(mentalEffort >= 4) mentalEffortText = Locale.value.normalMentalEffort;
  else mentalEffortText = Locale.value.lowMentalEffort;

  let efficiencyText;
  if(efficiency >= 7) efficiencyText = Locale.value.extremeEfficiency;
  else if(efficiency >= 6) efficiencyText = Locale.value.highEfficiency;
  else if(efficiency >= 4) efficiencyText = Locale.value.normalEfficiency;
  else efficiencyText = Locale.value.lowEfficiency;

  return {
    mentalEffort: {
      titleText: mentalEffortText,
      value: mentalEffort,
    },
    efficiency: {
      titleText: efficiencyText,
      value: efficiency,
    },
  }
})

</script>

<style lang="scss" src="./ChartMentalEffortEfficiency.scss" />
