<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ChartFourItem 
      :ratio-object="props.imagination" 
      :header="Locale.imagination" 
      :avg-text="Locale.avg"
      :avg-value="imaginationAvg"
      :description="Locale.imaginationDescription"
      :showHeader="props.showHeader"
      :showDescription="props.showDescription"
      :showTooltips="props.showTooltips"
      :chartBorderColor="props.chartBorderColor"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  imagination: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['avg', 'imagination', 'imaginationDescription']
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showTooltips: {
    default: true,
    typeof: "boolean"
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChartFourItem from "./components/ChartFourItem.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.logicalProfile);

const imaginationAvg = computed(() => {
  if(!props.value.imagination) return '-';
  return Math.round(props.value.imagination.averageLevel * 10) / 10;
})

</script>

<style lang="scss" src="./ChartImagination.scss" />
