@import "@/assets/styles/component.scss";
@import "./components/MentalEffortEfficiencyHalfPie.scss";

.lp-mee-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: 1px solid $c-stroke;
  padding: 12px;
  border-radius: 12px;
}
.lp-pie-line{
  @include line;
  width: 100%;
}
.lp-pie-item-description{
  @include text-1;
}
.lp-mee-title{
  @include text-3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-stroke;
}
.lp-mee-summary-container{
  @include text-1;
  align-self: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $c-stroke;
  color: $c-white;
  border-radius: 6px;
  padding: 8px 12px;
  min-height: 48px;
}
.four-lvl-pie-container{
  padding: 5px 6px;
}