<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ChartFourItem 
      :ratio-object="normalizeUncertainty" 
      :header="Locale.uncertainty" 
      :avg-text="Locale.avg"
      :avg-value="uncertaintyAvg"
      :description="Locale.uncertaintyDescription"
      :showHeader="props.showHeader"
      :showDescription="props.showDescription"
      :showTooltips="props.showTooltips"
      :chartBorderColor="props.chartBorderColor"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  uncertainty: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['avg', 'uncertainty', 'uncertaintyDescription']
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showTooltips: {
    default: true,
    typeof: "boolean"
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChartFourItem from "./components/ChartFourItem.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.logicalProfile);

const normalizeUncertainty = computed(() => {
  if(!props.value.uncertainty) return undefined;
  return {
    averageLevel: props.value.uncertainty.averageLevel,
    highPercentage: props.value.uncertainty.highPercentage,
    lowPercentage: props.value.uncertainty.lowPercentage,
    midPercentage: props.value.uncertainty.midPercentage,
    noReactionPercentage: props.value.uncertainty.normalReactionPercentage
  }
})

const uncertaintyAvg = computed(() => {
  if(!props.value.uncertainty) return '-';
  return Math.round(props.value.uncertainty.averageLevel * 10) / 10;
})

</script>

<style lang="scss" src="./ChartUncertainty.scss" />
