<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ProfileHeader :insufficientData="props.insufficientData" :title="Locale.logicalProfile" :type="header.type" :text="header.text" :icon="header.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  imagination: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  mentalEffort: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  uncertainty: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.logicalProfile.header)
  },
  insufficientData: {
    required: false,
    typeof: "boolean",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ProfileHeader from "@/components/ProfileHeader.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.energyProfile.header);

const header = computed(() => {
  if(!props.value.imagination) return {type: 'no-data', text: '-', icon: null};

  const uncertaintyLow = props.value.uncertainty.lowPercentage;
  const uncertaintyHigh = props.value.uncertainty.highPercentage;
  const imagination = props.value.imagination.averageLevel;
  const mentalEffortHigh = props.value.mentalEffort.highPercentage;

  const result = {
    type: 'success',
    text: Locale.value.normal,
    icon: "check-success-white"
  };

  const texts = [];

  if(uncertaintyHigh > 60) {
    texts.push(Locale.value.uncertain);
    result.type = 'warning';
    result.icon = 'warning-white'
  }
  if(uncertaintyLow > 60) texts.push(Locale.value.highlyConfident);

  if(imagination > 10){
    texts.push(Locale.value.highlyImaginative);
    result.type = 'warning';
    result.icon = 'warning-white'
  }

  if(mentalEffortHigh > 50){
    texts.push(Locale.value.thinkingIntensely);
    result.type = 'warning';
    result.icon = 'warning-white'
  }

  if(texts.length > 0) result.text = texts.join(', ');

  return result;
});

</script>

<style lang="scss" src="./LogicalProfileHeader.scss" />
