@import "@/assets/styles/component.scss";
@import "./LogicalProfileHeader.scss";
@import "./ChartUncertainty.scss";
@import "./ChartImagination.scss";
@import "./ChartMentalEffort.scss";
@import "./ChartMentalEffortEfficiency.scss";
@import "@/components/LinearDescription.scss";
@import "@/components/InsufficientAudioData.scss";

.lp-container{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $c-stroke;
  gap: 24px;
  height: 100%;
}
.lp-no-data{
  background-color: $c-gray-bg-1;
}
.lp-body{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.lp-pie-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.lp-pie-item-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
