<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="lp-container" class="lp-container" :class="{'lp-no-data': !props.imagination}">
      <LogicalProfileHeader :insufficientData="!props.uncertainty" :imagination="props.imagination" :mentalEffort="props.mentalEffort" :uncertainty="props.uncertainty" :localeTexts="Locale.header" />
      <InsufficientAudioData v-if="!props.uncertainty" :message="Locale.insufficientAudioData" />
      <div v-else part="lp-body" class="lp-body">
        <div part="lp-pie-container" class="lp-pie-container">
          <div part="lp-pie-item-container" class="lp-pie-item-container">
            <ChartUncertainty :uncertainty="props.uncertainty" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
            <ChartImagination :imagination="props.imagination" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
            <ChartMentalEffort :mentalEffort="props.mentalEffort" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
          </div>
          <LinearDescription :localeTexts="LocaleLinearDescription" />
        </div>
        <ChartMentalEffortEfficiency :mentalEfficiency="props.mentalEfficiency" :localeTexts="Locale.mentalEffortEfficiency" />
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  mentalEfficiency: {
    required: false,
    typeof: "object",
    existProps: ['mentalEffortEfficiency']
  },
  imagination: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  mentalEffort: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  uncertainty: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.logicalProfile), 'linearDescription']
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import LogicalProfileHeader from "./LogicalProfileHeader.ce.vue";
import ChartUncertainty from "./ChartUncertainty.ce.vue";
import ChartImagination from "./ChartImagination.ce.vue";
import ChartMentalEffort from "./ChartMentalEffort.ce.vue";
import ChartMentalEffortEfficiency from "./ChartMentalEffortEfficiency.ce.vue";
import LinearDescription from '@/components/LinearDescription.vue';
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.logicalProfile);
const LocaleLinearDescription = getLocaleTexts(stringifyProps.localeTexts?.linearDescription, mainLocale.linearDescription);

</script>

<style lang="scss" src="./LogicalProfile.scss" />
