*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 10px;
}

p {
    margin: 0;
}

.block {
    max-width: 600px;
    width: 100%;
    margin-bottom: 50px;
}

#firstStep {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#secondStep {
    display: none;
    position: relative;
    z-index: 1;
}

.diamond {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 665px;
    height: 100vh;
    z-index: 5;
    backdrop-filter: blur(15px);
    padding: 15px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.diamond-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: scale(0.8);
    height: 100%;
}

.blink-me {
    display: none;
    animation: blinker 1.5s linear infinite;
}

.blink-me.show {
    display: block;
}

label {
    display: flex;
}

label span {
    display: block;
    width: 100px;
}

label input {
    width: calc(100% - 100px);
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media (max-width: 1600px) {
    .diamond {
        width: 450px;
    }
}

@media (max-width: 1280px) {
    .diamond {
        width: 430px;
    }
}

@media (max-width: 1024px) {
    .diamond {
        width: 400px;
    }
}