<template>
  <component :is="icon" />
</template>

<script setup>
import { computed } from 'vue';
import CheckSuccess from '@/assets/icons/check-success.svg';
import CheckSuccessWhite from '@/assets/icons/check-success-white.svg';
import WarningOrange from '@/assets/icons/warning-orange.svg';
import WarningRed from '@/assets/icons/warning-red.svg';
import WarningWhite from '@/assets/icons/warning-white.svg';
import WarningGray from '@/assets/icons/warning-gray.svg';
import ExclamationOrange from '@/assets/icons/exclamation-orange.svg';

const props = defineProps({
  name: String,
})

const icon = computed(() => {
  switch (props.name) {
    case 'check-success': return CheckSuccess;
    case 'check-success-white': return CheckSuccessWhite;
    case 'warning-orange': return WarningOrange;
    case 'warning-red': return WarningRed;
    case 'warning-white': return WarningWhite;
    case 'warning-gray': return WarningGray;
    case 'exclamation-orange': return ExclamationOrange;
    default: return null;
  }
})

</script>

