@import "@/assets/styles/component.scss";

.css-separation{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.css-row-description{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}
.css-dot{
  min-width: 7px;
  min-height: 7px;
  border-radius: 100%;
  &.css-high{
    background-color: $c-secondary-dark;
  }
  &.css-mid{
    background-color: $c-stroke;
  }
  &.css-low{
    background-color: $c-gray-bg-2;
  }
  &.css-no{
    background-color: $c-gray-bg-1;
  }
}
.css-dot-description{
  min-width: 8px;
  min-height: 8px;
}
.css-text{
  @include text-1;
  flex: 1;
}
.css-percent{
  @include title-1;
}
.css-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
}