<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="css-separation" class="css-separation">
   <div part="css-grid" class="css-grid">
     <div
       v-for="index in 100" :key="index"
       part="css-dot" 
       class="css-dot"
       :class="{[dotClass(index)]: true}"
     />
   </div>
   <div v-if="props.value">
     <div part="css-row-description" class="css-row-description">
       <div part="css-dot css-dot-description css-high" class="css-dot css-dot-description css-high" />
       <div part="css-text" class="css-text">{{Locale.high}}</div>
       <div part="css-percent" class="css-percent">{{round(props.value.highPercentage)}}%</div>
     </div>
     <div part="css-row-description" class="css-row-description">
       <div part="css-dot css-dot-description css-mid" class="css-dot css-dot-description css-mid" />
       <div part="css-text" class="css-text">{{Locale.medium}}</div>
       <div part="css-percent" class="css-percent">{{round(props.value.midPercentage)}}%</div>
     </div>
     <div part="css-row-description" class="css-row-description">
       <div part="css-dot css-dot-description css-low" class="css-dot css-dot-description css-low" />
       <div part="css-text" class="css-text">{{Locale.low}}</div>
       <div part="css-percent" class="css-percent">{{round(props.value.lowPercentage)}}%</div>
     </div>
     <div part="css-row-description" class="css-row-description">
       <div part="css-dot css-dot-description css-no" class="css-dot css-dot-description css-no" />
       <div part="css-text" class="css-text">{{Locale.noReaction}}</div>
       <div part="css-percent" class="css-percent">{{round(props.value.noReactionPercentage)}}%</div>
     </div>
   </div>
  </div>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  value: {
    required: false,
    typeof: "object",
    existProps: ['highPercentage', 'lowPercentage', 'midPercentage', 'noReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.linearDescription)
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.linearDescription);

const dotClass = (index) => {
  if(!props.value.value) return 'css-mid';
  
  index = 100 - index;
  const no = props.value.value.noReactionPercentage;
  const low = props.value.value.lowPercentage;
  const mid = props.value.value.midPercentage;
  
  if(index < no) return 'css-no';
  if(index < no+low) return 'css-low';
  if(index < no+low+mid) return 'css-mid';
  return 'css-high';
}

const round = (value) => {
  if(!value) return 0;
  return Math.round(value * 10) / 10;
}

</script>

<style lang="scss" src="./CirclesSquareSeparation.scss" />
