@import "@/assets/styles/component.scss";

.collapse-container{
  border: 1px solid $c-stroke;
  border-radius: 12px;
  padding: 24px;

  .collapse-header{
    @include title-7;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    .collapse-arrow{
      cursor: pointer;
      transform: rotate(180deg);
      transition: all 0.5s;
      &.collapse-arrow-down{
        transform: rotate(0deg);
      }
    }
  }
  .collapse-body{
    transition: height var(--vc-auto-duration) ease-out;
    .collapse-margin{
      height: 24px;
    }
  }
}
.collapse-header-title-container{
  flex: 1;
}