﻿<template>
  <div part="collapse-container" class="collapse-container">
    <div part="collapse-header" class="collapse-header">
      <div part="collapse-header-title-container" class="collapse-header-title-container">
        <slot name="header">
          {{name}}
        </slot>
      </div>
      <IconArrow v-if="expandable" part="collapse-arrow" class="collapse-arrow" :class="{'collapse-arrow-down': visible}" @click="changeVisibility" />
    </div>
    <template v-if="!expandable">
      <div part="collapse-body" class="collapse-body">
        <div part="collapse-margin" class="collapse-margin"></div>
        <slot/>
      </div>
    </template>
    <template v-else>
      <Collapse :when="visible" part="collapse-body" class="collapse-body">
        <div part="collapse-margin" class="collapse-margin"></div>
        <slot/>
      </Collapse>
    </template>
  </div>
</template>

<script setup>

import {ref} from "vue";
import IconArrow from '@/assets/icons/arrow-up.svg';
import { Collapse } from 'vue-collapsed'

const props = defineProps({
  name: String,
  defaultVisible: {
    type: Boolean,
    default: true
  },
  expandable: {
    type: Boolean,
    default: true
  }
})

const visible = ref(props.defaultVisible);

const changeVisibility = () => {
  visible.value = !visible.value;
}

</script>

<style lang="scss" src="./Collapse.scss"/>
