<template>
  <div part="insufficient-audio-data" class="insufficient-audio-data">
    <WarningGray />
    {{message}}
  </div>
</template>

<script setup>
import WarningGray from '@/assets/icons/warning-gray.svg';

const props = defineProps({
  message: String
})

</script>

<style lang="scss" src="./InsufficientAudioData.scss" />
