@import "@/assets/styles/component.scss";

.insufficient-audio-data{
  @include text-4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 12px;
  color: $c-stroke;
  background-color: $c-gray-bg-1;
  svg{
    width: 36px;
    height: 36px;
    path{
      fill: $c-gray-bg-2;
    }
  }
}