<template>
  <div ref="lsRef" part="ls-container" class="ls-container">
    <div part="ls-line-container" class="ls-line-container">
      <div
        v-for="percent in percents"
        :part="'ls-line '+percent.class"
        :class="{'ls-line': true, [percent.class]: true}"
        :style="{width: percent.value+'%'}" 
      />
    </div>
    <div part="ls-value-container" class="ls-value-container">
      <template v-for="percent in percents">
        <div
          v-if="percent.value > 0"
          part="ls-value"
          class="ls-value"
          :style="{width: percent.textWidth, minWidth: minValueWidth+'px'}"
        >
          {{ reactions ? `${percent.value}%` : '-' }}
        </div>
      </template>
    </div>
  </div>
</template>

<script setup>
import {computed, ref} from "vue";

const props = defineProps({
  reactions: Object,
})

const lsRef = ref(null);

const minValueWidth = 32;

const percents = computed(() => {
  let high, med, low, no;
  med = {value: 100, textWidth: '100%'};
  low = {value: 0.001, textWidth: '0'};
  no = high = {value: 0, textWidth: '0'};
  
  if(props.reactions){
    let width = 0;
    if(lsRef.value){
      width = lsRef.value.getBoundingClientRect().width;
    }

    let needToSolve = 0;

    high = calcWidth(props.reactions.highPercentage, width, needToSolve)
    med = calcWidth(props.reactions.midPercentage, width, high.needToSolve, high.restPercent)
    low = calcWidth(props.reactions.lowPercentage, width, med.needToSolve, med.restPercent)
    no = calcWidth(props.reactions.noReactionPercentage || props.reactions.normalReactionPercentage, width, low.needToSolve, low.restPercent)
  }
  
  return [{
      class: 'high',
      value: high.value,
      textWidth: high.textWidth,
    },{
      class: 'mid',
      value: med.value,
      textWidth: med.textWidth
    },{
      class: 'low',
      value: low.value,
      textWidth: low.textWidth  
    },{
      class: 'no',
      value: no.value,
      textWidth: no.textWidth
    },
  ];
})

function calcWidth(rawPercent, width, needToSolve, restPercent = 0){
  const widthPer = width / 100;
  
  const value = round(rawPercent);
  let textWidth = value+'%';
  
  const valuePx = widthPer * value;
  if(value !== 0 && valuePx < minValueWidth) {
    needToSolve += minValueWidth;
    restPercent += value;
  }
  else if(valuePx > minValueWidth){
    if(valuePx - minValueWidth > needToSolve){
      const solve = needToSolve;
      needToSolve = 0;
      textWidth = `calc(${value + restPercent}% - ${solve}px)`;
    }
    else {
      const solve = valuePx - minValueWidth;
      needToSolve -= solve;
      textWidth = `calc(${value}% - ${solve}px)`;
    }
  }
  
  return {
    value,
    textWidth, 
    needToSolve,
    restPercent,
  }
}

function round(val){
  if(!val) return 0;
  return Math.round(val*10)/10;
}

</script>

<style lang="scss" src="./LinearSeparation.scss" />
