@import "@/assets/styles/component.scss";

.ls-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.ls-line-container{
  display: flex;
  flex-direction: row;
  height: 10px;
  .ls-line{
    height: 100%;
    &.high{
      background-color: $c-secondary-dark;
    }
    &.mid{
      background-color: $c-stroke;
    }
    &.low{
      background-color: $c-gray-bg-2;
    }
    &.no{
      background-color: $c-gray-bg-1;
    }
  }
}
.ls-value-container{
  display: flex;
  flex-direction: row;
  .ls-value{
    @include text-1;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    &:first-child{
      justify-content: flex-start;
    }
    &:last-child{
      justify-content: flex-end;
    }
    &:only-child {
      justify-content: center;
    }
  }
}
.ls-name-container{
  display: flex;
  flex-direction: row;
}