@import "@/assets/styles/component.scss";

.ld-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.ld-item{
  @include text-1;
  white-space: nowrap;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.ld-dot{
  min-width: 8px;
  min-height: 8px;
  border-radius: 100%;
  &.high{
    background-color: $c-secondary-dark;
  }
  &.mid{
    background-color: $c-stroke;
  }
  &.low{
    background-color: $c-gray-bg-2;
  }
  &.no{
    background-color: $c-gray-bg-1;
  }
}