<template>
  <div part="profile-header" class="profile-header">
    <div part="profile-header-title" class="profile-header-title">{{title}}</div>
    <div v-if="!insufficientData" part="profile-text-container" class="profile-text-container" :class="{[type]: true}">
      <div part="profile-header-text" class="profile-header-text">{{text}}</div>
      <AttentionIcons part="profile-header-icon" class="profile-header-icon" :name="icon" />
    </div>
  </div>
</template>

<script setup>
import AttentionIcons from './AttentionIcons.vue';

const props = defineProps({
  type: String, //success | warning | fail
  title: String,
  text: String,
  icon: String,
  insufficientData: Boolean
})

</script>

<style lang="scss" src="./ProfileHeader.scss" />
