@import "@/assets/styles/component.scss";

.profile-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.profile-header-title{
  @include title-5;
  white-space: nowrap;
}
.profile-text-container{
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0 6px 6px 0;
  padding: 8px 12px 8px 12px;
  min-height: 41px;
  &.success{
    background-color: $c-green-1;
  }
  &.warning{
    background-color: $c-orange;
  }
  &.fail{
    background-color: $c-red;
  }
  &.no-data{
    background-color: $c-stroke;
  }
}
.profile-header-text{
  display: flex;
  justify-content: center;
  align-items: center;
  @include text-4;
  width: 100%;
  color: $c-white;
}
.profile-header-icon{
  min-width: 24px;
}