@import "@/assets/styles/component.scss";

.segmented-line{
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.segmented-line-segment{
  flex: 1;
  height: 18px;
  background-color: $c-gray-bg-2;
  &:first-child{
    border-radius: 4px 0 0 4px;
  }
  &:last-child{
    border-radius: 0 4px 4px 0;
  }
  &.segmented-line-low{
    background-color: $c-green-1;
  }
  &.segmented-line-medium{
    background-color: $c-orange;
  }
  &.segmented-line-high{
    background-color: $c-red;
  }
}
