<template>
  <div part="segmented-line" class="segmented-line">
    <div v-for="ind in total"
         class="segmented-line-segment"
         :class="{['segmented-line-'+type]: ind <= value}">
    </div>
  </div>
</template>

<script setup>

const props = defineProps({
  value: Number,
  type: String, //low, medium, high
  total: {
    type: Number,
    default: 5
  }
})

</script>

<style lang="scss" src="./SegmentedLine.scss" />
