<template>
  <div part="sharp-2s-arrow" class="sharp-2s-arrow">
    <div part="sharp-2s-text" class="sharp-2s-text" :class="{'sharp-2s-text-pointed': options.leftWidth !== 0}">
      {{leftText}}
    </div>
    <div part="sharp-2s-line-container" class="sharp-2s-line-container">
      <div part="sharp-2s-line-left-container" class="sharp-2s-line-left-container">
        <div part="sharp-2s-line-arrow-container" class="sharp-2s-line-arrow-container" :style="{width: options.leftWidth + '%'}">
          <div part="sharp-2s-line-arrow-tip" class="sharp-2s-line-arrow-tip"></div>
          <div part="sharp-2s-line-arrow" class="sharp-2s-line-arrow"></div>
        </div>
      </div>
      <div part="sharp-2s-line-right-container" class="sharp-2s-line-right-container">
        <div part="sharp-2s-line-arrow-container" class="sharp-2s-line-arrow-container" :style="{width: options.rightWidth + '%'}">
          <div part="sharp-2s-line-arrow" class="sharp-2s-line-arrow"></div>
          <div part="sharp-2s-line-arrow-tip" class="sharp-2s-line-arrow-tip"></div>
        </div>
      </div>
    </div>
    <div part="sharp-2s-text" class="sharp-2s-text" :class="{'sharp-2s-text-pointed': options.rightWidth !== 0}">
      {{rightText}}
    </div>
  </div>
</template>

<script setup>
import {computed} from "vue";

const props = defineProps({
  leftText: String,
  rightText: String,
  min: {
    type: Number,
    default: 0
  },
  middle: [Number, Array], //Array(2)
  max: Number,
  value: Number,
})

const options = computed(() => {
  const options = {
    leftWidth: 0, //%
    rightWidth: 0, //%
  }
  let middle = props.middle;
  if(!Array.isArray(props.middle)){
      middle = [props.middle, props.middle];
  }
  if(props.min <= props.value && props.value < middle[0]){
    //left
    options.leftWidth = (props.value - props.min) / (middle[0] - props.min) * 100 ;
    if(options.leftWidth < 10) options.leftWidth = 10;
  }
  if(middle[0] <= props.value && props.value <= middle[1]){
    //center
    options.leftWidth = options.rightWidth = 10;
  }
  if(middle[1] < props.value && props.value <= props.max){
    //right
    options.rightWidth = (props.value - middle[1]) / (props.max - middle[1]) * 100 ;
    if(options.rightWidth < 10) options.rightWidth = 10;
  }
  return options;
})

</script>

<style lang="scss" src="./SharpTwoSideArrow.scss" />
