@import "@/assets/styles/component.scss";

.sharp-2s-arrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.sharp-2s-line-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  flex: 1;
}
.sharp-2s-line-arrow-container{
  display: flex;
  overflow: hidden;
}
.sharp-2s-line-arrow{
  width: 100%;
  height: 12px;
  background-color: $c-secondary-dark;
}
.sharp-2s-line-left-container{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  background-color: $c-gray-bg-2;
  border-radius: 100px 0 0 100px;
  .sharp-2s-line-arrow-tip{
    border-top: 6px solid transparent;
    border-right: 6px solid $c-secondary-dark;
    border-left: none;
    border-bottom: 6px solid transparent;
  }
}
.sharp-2s-line-right-container{
  display: flex;
  justify-content: flex-start;
  flex: 1;
  background-color: $c-gray-bg-2;
  border-radius: 0 100px 100px 0;
  .sharp-2s-line-arrow-tip{
    border-top: 6px solid transparent;
    border-right: none;
    border-left: 6px solid $c-secondary-dark;
    border-bottom: 6px solid transparent;
  }
}
.sharp-2s-text{
  @include text-1;
  word-wrap: break-word;
  width: min-content;
  color: $c-stroke;
}
.sharp-2s-text-pointed{
  color: $c-secondary-dark;
}