@import "@/assets/styles/component.scss";

.scv-pie {
  width: 24px;
  height: 24px;
  circle {
    fill: $c-gray-bg-2;
    stroke: $c-blue;
    stroke-width: 0;
  }

  path {
    fill: $c-blue;
  }
}