<template>
  <div part="slb-container" class="slb-container">
    <div part="slb-line" class="slb-line" :style="{width: percent + '%'}" />
  </div>
</template>

<script setup>
import {computed} from "vue";

const props = defineProps({
  min: {
    type: Number,
    default: 0
  },
  max: {
    type: Number,
    default: 100
  },
  value: Number,
})

const percent = computed(() => {
  return (props.value - props.min) / (props.max - props.min) * 100;
})

</script>

<style lang="scss" src="./SimpleLoadingBar.scss" />
