<template>
  <svg part="scv-pie" class="scv-pie" width="24" height="24" viewBox="0 0 24 24" >
    <circle cx="12" cy="12" r="12"></circle>
    <path :d="`M12,12 L12,0 ${arc} z`"></path>
  </svg>
</template>

<script setup>

import {computed} from "vue";

const props = defineProps({
  value: Number,
})

const arc = computed(() => {
  let parts = [];
  const result = [];
  const pGrad = (props.value / 100) * 360;
  if(pGrad > 180) parts = [180, pGrad];
  else parts = [pGrad];

  const cx = 12;
  const cy = 12;
  const r = 12;
  const x = (a) => cx + r * Math.cos((-90 + a) * 0.0174533);
  const y = (a) => cy + r * Math.sin((-90 + a) * 0.0174533);

  parts.forEach(g => {
    result.push(`A${cx},${cy} 1 0,1 ${x(g)},${y(g)}`);
  })
  
  return result.join(' ');
})

</script>

<style lang="scss" src="./SimpleCircleValue.scss" />