@import "@/assets/styles/component.scss";

.slb-container{
  border-radius: 6px;
  flex: 1;
  height: 6px;
  overflow: hidden;
  background-color: $c-gray-bg-2;
}
.slb-line{
  height: 100%;
  background-color: $c-secondary-dark;
}