@import "@/assets/styles/component.scss";

.vie-container{
  @include title-2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.vie-value-container{
  display: flex;
  flex-direction: row;
}
.vie-value{
  @include title-3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px 6px 12px;
  border-radius: 50px;
  background-color: $c-stroke;
  color: $c-white;
  min-width: 28px;
}
.vie-icon{
  align-self: flex-start;
  margin-left: 2px;
  svg{
    width: 12px;
    height: 12px;
  }
}