@import "@/assets/styles/component.scss";

.vsh-type-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 12px;
  
  &.vsh-type-container-inline{
    flex-direction: row;
    align-items: center;
    .vsh-type-icon{
      display: none;
    }
  }
}
.vsh-type-name {
  @include text-3;
  color: $c-stroke;
}
.vsh-type-value {
  @include title-7;
  display: flex;
  align-items: center;
  gap: 4px;
}
.vsh-type-score{
  @include title-7;
  color: $c-stroke;
}
