<template>
  <div part="vsh-type-container" class="vsh-type-container" :class="{'vsh-type-container-inline': inlineDesign}">
    <span v-if="header" part="vsh-type-name" class="vsh-type-name">{{ header }}</span>
    <span part="vsh-type-value" class="vsh-type-value">
      <AttentionIcons part="vsh-type-icon" class="vsh-type-icon" v-if="icon" :name="icon"/>
      {{ text }}
      <span v-if="Number.isFinite(score)" part="vsh-type-score" class="vsh-type-score">({{score}})</span>
    </span>
  </div>
</template>

<script setup>
import AttentionIcons from '@/components/AttentionIcons.vue';

const props = defineProps({
  header: String,
  icon: String,
  text: String,
  score: [String, Number],
  inlineDesign: Boolean
})

</script>

<style lang="scss" src="./ValueScoreHeader.scss" />
