<template>
  <div part="vie-container" class="vie-container">
    <div>{{text}}</div>
    <div part="vie-value-container" class="vie-value-container">
      <div part="vie-value" class="vie-value">{{value}}</div>
      <div part="vie-icon" class="vie-icon"><AttentionIcons :name="icon" /></div>
    </div>
  </div>
</template>

<script setup>
import AttentionIcons from "./AttentionIcons.vue";

const props = defineProps({
  text: String,
  value: String,
  icon: String,
})

</script>

<style lang="scss" src="./ValueIconEmphasizing.scss" />
