@import "@/assets/styles/component.scss";

.ap-pie-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  .chart {
    > * {
      width: 160px;
      height: 160px;
    }
  }
}
.ap-pie-label{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.ap-pie-low{
  margin-top: 40px;
}
.ap-pie-normal{
  justify-content: flex-start;
  padding-left: calc(50% - 18px);
}
.ap-pie-high{
  margin-top: 40px;
}
.ap-pie-icon-cloud{
  position: absolute;
  top: 93%;
  left: 31%;
  transform: translate(-50%, -50%);
  svg{
    width: 36px;
    height: 36px;
  }
}
.ap-pie-icon-sun{
  position: absolute;
  top: 93%;
  left: 69%;
  transform: translate(-50%, -50%);
  svg{
    width: 36px;
    height: 36px;
  }
}
.ap-pie-label-text{
  @include title-3;
  color: $c-secondary-dark;
}
.ap-pie-label-value{
  @include title-2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  color: $c-white;
  background-color: $c-stroke;
}
.ap-pie-chart-container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
