<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message"/>
  <template v-else>
    <div part="ld-container" class="ld-container">
      <div part="ld-item" class="ld-item">
        <div part="ld-dot high" class="ld-dot high" />
        {{Locale.high}} %
      </div>
      <div part="ld-item" class="ld-item">
        <div part="ld-dot mid" class="ld-dot mid" />
        {{Locale.normal}} %
      </div>
      <div part="ld-item" class="ld-item">
        <div part="ld-dot low" class="ld-dot low" />
        {{Locale.low}} %
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  localeTexts: {
    required: true,
    typeof: "object",
    existProps: ['high', 'normal', 'low']
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.atmosphereProfile.atmosphere);

</script>

<style lang="scss" src="./AtmosphereLinearDescription.scss"/>
