<template>
  <div part="ap-pie-container" class="ap-pie-container">
    <div part="ap-pie-label" class="ap-pie-label ap-pie-low">
      <div part="ap-pie-label-text" class="ap-pie-label-text">{{locale.low}}</div>
      <div part="ap-pie-label-value" class="ap-pie-label-value">{{label.low}}</div>
    </div>
    <div part="ap-pie-chart-container" class="ap-pie-chart-container">
      <div part="ap-pie-label" class="ap-pie-label ap-pie-normal">
        <div part="ap-pie-label-value" class="ap-pie-label-value">{{label.normal}}</div>
        <div part="ap-pie-label-text" class="ap-pie-label-text">{{locale.normal}}</div>
      </div>
      <v-chart part="chart" class="chart" :option="option" autoresize />
      <div part="ap-pie-icon-cloud" class="ap-pie-icon-cloud">
        <IconCloud />
      </div>
      <div part="ap-pie-icon-sun" class="ap-pie-icon-sun">
        <IconSun />
      </div>
    </div>
    <div part="ap-pie-label" class="ap-pie-label ap-pie-high">
      <div part="ap-pie-label-value" class="ap-pie-label-value">{{label.high}}</div>
      <div part="ap-pie-label-text" class="ap-pie-label-text">{{locale.high}}</div>
    </div>
  </div>
</template>

<script setup>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { PieChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
} from 'echarts/components';
import VChart from 'vue-echarts';
import { computed } from 'vue';

use([
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
]);

import IconCloud from '@/assets/icons/rain-cloud.svg'
import IconSun from '@/assets/icons/sun.svg'

const props = defineProps({
  value: Object,
  locale: Object,
  chartBorderColor: {
    type: String,
  }
});

const low = "#DFE3EF";
const normal = "#A3AED0";
const high = "#45557D";

const label = computed(() => {
  if(!props.value) return {};
  return { 
    high: `${ Math.round(props.value.highPercentage) }%` ,
    normal: `${ Math.round(props.value.normalReactionPercentage) }%`,
    low: `${ Math.round(props.value.lowPercentage) }%`
  }
})

const option = computed(() => ({
  tooltip: {
    show: false,
  },
  legend: {
    show: false,
    selectedMode: false
  },
  grid: {
    left: "0",
    top: "0",
    right: "0",
    bottom: "0",
  },
  series: [
    {
      type: 'pie',
      radius: ['65%', '100%'],
      center: ['50%', '50%'],
      startAngle: 225,
      left: '0',
      top: '0',
      right: '0',
      itemStyle: {
        borderColor: props.chartBorderColor || '#fff',
        borderWidth: props.value ? 2 : 0
      },
      emphasis:{
        disabled: true,
      },
      label: {
        show: false,
      },
      labelLine: {
        show: false
      },
      data: props.value ? [
        { value: props.value.lowPercentage, name: label.value.low, itemStyle: {color: low} },
        { value: props.value.normalReactionPercentage, name: label.value.normal, itemStyle: {color: normal} },
        { value: props.value.highPercentage, name: label.value.high, itemStyle: {color: high} },
        {
          // make an record to fill the bottom 25%
          value: 33.333,
          itemStyle: { color: 'none', decal: { symbol: 'none' } },
          label: { show: false }
        }
      ] : [
        { value: 100, name: label.value.low, itemStyle: {color: normal} },
        {
          // make an record to fill the bottom 25%
          value: 33.333,
          itemStyle: { color: 'none', decal: { symbol: 'none' } },
          label: { show: false }
        }
      ]
    }
  ]
}));
</script>

<style lang="scss" src="./AtmospherePercentagePie.scss" />