@import "@/assets/styles/component.scss";

.dc-bar-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .chart {
    width: 100%;
    > * {
      width: 100%;
      height: 200px;
    }
  }
}
.dc-bar-trend{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}