<template>
  <div
    part="player-eofpl-line"
    class="player-eofpl-line"
    :style="{ left: percentPosition }"
  />
</template>

<script setup>
import {defineProps} from 'vue'

const props = defineProps({
  percentPosition: {
    type: String,
    default: '0%',
  },
})

</script>

<style lang="scss" src="./EndOfFilePositionLabelLine.scss" />
