@import "@/assets/styles/component.scss";

.player-ppl-line{
  position: absolute;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: $c-white;
  transform: translateX(-50%);
  z-index: 1;
}