<template>
  <div part="player-ppl-line"
       class="player-ppl-line"
       :style="{ left: playPosition }"
  />
</template>

<script setup>

import {instance} from '@/components/player/helpers/playerStore.js';
const {
  playPosition,
} = instance.value;

</script>

<style lang="scss" src="./PlayPositionLabelLine.scss" />
