@import "@/assets/styles/component.scss";

.player-ppl-circle{
  position: absolute;
  left: 0;
  height: 10px;
  width: 10px;
  border: 2px solid $c-main-dark;
  border-radius: 100%;
  background-color: $c-white;
  transform: translateX(-50%);
  z-index: 1;
}