<template>
  <div 
    v-for="risk in risks"
    part="player-rl-circle"
    class="player-rl-circle"
    :class="{['player-rl-type-'+risk.type]: true}"
    :style="{left: risk.position}"
  />
</template>

<script setup>

import {instance} from '@/components/player/helpers/playerStore.js';
import {computed} from "vue";
import {getRiskType} from "@/helpers/segments.js";
const {
  validSegments,
  headersPositions,
  calculatedFileLengths
} = instance.value;

const risks = computed(() => {
  const result = [];
  const LVAPos = headersPositions.value['offlineLVA-value'] || headersPositions.value['onlineLVA'];
  if(!LVAPos) return result; 
  const startPos = headersPositions.value['startPosSec'];
  const endPos = headersPositions.value['endPosSec'];
  const totalLength = calculatedFileLengths.value.reduce((res, curr) => res + curr, 0);
  validSegments.value.forEach(s => {
    const type = getRiskType(s[LVAPos]);
    if(type){
      const posSec = s[startPos] + (s[endPos] - s[startPos])/2;
      result.push({
        position: (posSec / totalLength) * 100 + '%',
        type: type
      })
    }
  })
  return result;
})

</script>

<style lang="scss" src="./RiskLabelsCircles.scss" />
