@import "@/assets/styles/component.scss";

.player-rl-circle{
  position: absolute;
  left: 0;
  height: 12px;
  width: 12px;
  border: 3px solid transparent;
  border-radius: 100%;
  background-color: transparent;
  transform: translateX(-50%);
  z-index: 0;
  &.player-rl-type-medium{
    border-color: $c-orange;
  }
  &.player-rl-type-suspected{
    border-color: $c-yellow;
  }
  &.player-rl-type-high{
    border-color: $c-red;
  }
}