<template>
  <div part="bp-item" class="bp-item">
    <div v-if="showHeader" part="bp-item-header" class="bp-item-header">{{header}}</div>
    <FourLevelPercentagePie :value="ratioObject" :showTooltips="showTooltips" :chartBorderColor="chartBorderColor" >
      <div part="bp-item-pie-header" class="bp-item-pie-header">{{avgText}}</div>
      <div part="bp-item-pie-value" class="bp-item-pie-value">{{avgValue}}</div>
      <div part="bp-item-pie-text" class="bp-item-pie-text">{{lvlText+" 30"}}</div>
    </FourLevelPercentagePie>
    <div v-if="showTitle || showDescription" part="bp-line" class="bp-line"></div>
    <div v-if="showTitle" part="bp-item-title" class="bp-item-title">{{title}}</div>
    <div v-if="showDescription" part="bp-item-description" class="bp-item-description">{{description}}</div>
  </div>
</template>

<script setup>
import FourLevelPercentagePie from "@/components/charts/FourLevelPercentagePie.vue";

const props = defineProps({
  header: String,
  ratioObject: Object,
  avgText: String,
  avgValue: String,
  lvlText: String,
  title: String,
  description: String,
  showHeader: {
    type: Boolean,
    default: true,
  },
  showTitle: {
    type: Boolean,
    default: true,
  },
  showDescription: {
    type: Boolean,
    default: true,
  },
  showTooltips: {
    type: Boolean,
    default: true,
  },
  chartBorderColor: {
    type: String,
  },
})

</script>

<style lang="scss" src="./ChartItem.scss" />
