@import "@/assets/styles/component.scss";
@import "@/components/charts/FourLevelPercentagePie.scss";

.bp-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  .chart {
    > * {
      width: 150px;
      height: 150px;
    }
  }
}
.bp-item-header{
  @include text-3;
  color: $c-stroke;
}
.bp-item-pie-header{
  @include title-1;
  color: $c-secondary-dark;
}
.bp-item-pie-value{
  @include title-5;
  color: $c-main-dark;
}
.bp-item-pie-text{
  @include text-1;
  color: $c-stroke;
}
.bp-line{
  @include line;
  width: 100%;
}
.bp-item-title{
  @include title-2;
  color: $c-secondary-dark;
}
.bp-item-description{
  @include text-1;
}