<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="gc-container" class="gc-container">
      <div part="gc-title" class="gc-title">
        <template v-if="parsedGptConclusion">
          <span>{{Locale.testConclusion}}:</span>
          <span part="gc-title-result" class="gc-title-result" :style="parsedGptConclusion.titleColor">
            {{parsedGptConclusion.title}}
          </span>
        </template>
        <template v-else>
          {{Locale.riskAssessment}}
        </template>
      </div>
      <div part="gc-body-container" class="gc-body-container">
        <div part="gc-body" class="gc-body">
          <template v-if="parsedGptConclusion">
            <div part="gc-body-scroll-container" class="gc-body-scroll-container">
              <div v-for="i in parsedGptConclusion.items">
                <div v-if="i.header" part="gc-body-header" class="gc-body-header">{{ i.header }}</div>
                <div part="gc-body-text" class="gc-body-text">{{ i.text }}</div>
              </div>
            </div>
          </template>
          <template v-else>
            <div part="gc-body-score-container" class="gc-body-score-container">
              <GeneralRiskScore
                :risk="props.risk"
                :inlineDesign="false"
                :localeTexts="Locale.riskScore"
              />
            </div>
          </template>
        </div>
        <div part="gc-image" class="gc-image" :style="conclusionImageStyles" v-if="props.image"/>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  risk: {
    required: false,
    typeof: "object",
    existProps: ['topics'],
  },
  gptConclusion: {
    required: false,
    typeof: "string",
  },
  image: {
    required: false,
    typeof: "string",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.conclusion), "riskScore"]
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import GeneralRiskScore from '@/web-components/general/risk/GeneralRiskScore.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";
import {useClassificationFeature} from "./helper-gpt.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.conclusion, ...{riskScore: mainLocale.riskScore}
});

const parsedGptConclusion = computed( () => {
  if(!props.value.gptConclusion) return false;
  return {...useClassificationFeature(props.value.gptConclusion)};
})

const conclusionImageStyles = computed(() => {
  return props.value.image ? {'background-image': `url(${props.value.image})`} : {};
});

</script>

<style lang="scss" src="./Conclusion.scss" />
