@import "@/assets/styles/component.scss";
@import '@/web-components/general/risk/GeneralRiskScore.scss';

.gc-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid $c-stroke;
  border-radius: 12px;
  padding: 18px 24px;
  
  .gc-title{
    @include title-7;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .gc-body-container{
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .gc-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 12px 24px 24px;
    border-radius: 12px;
    gap: 24px;
    background-color: $c-gray-bg-1;
  }
  .gc-body-scroll-container{
    @include nms-scroll;
    padding: 4px 12px 4px 0;
    max-height: 400px;
    overflow: auto;
  }
  .gc-image{
    display: flex;
    border-radius: 12px;
    width: 33%;
    min-height: 200px;
    max-height: 450px;
    background-image: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .gc-body-header{
    @include title-5;
    margin-bottom: 24px;
  }
  .gc-body-text{
    @include text-4;
  }
  .gc-body-score-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .gc-title-result{
    text-transform: capitalize;
  }
}