<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.cLStressScore : ''"
      :icon="description.icon"
      :text="description.text"
      :score="clStress"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  clStress: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['cLStressScore','cLSLow','cLSMedium','cLSHigh','cLSExtreme'],
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.stressProfile);

const description = computed(() => {
  if(props.value.clStress === undefined) return {text: Locale.value.noData, icon: null};
  
  if(props.value.clStress > 5) return {text: Locale.value.cLSExtreme, icon: 'warning-red'};
  if(props.value.clStress === 5) return {text: Locale.value.cLSHigh, icon: 'warning-red'};
  if(props.value.clStress === 4 || props.value.clStress === 3) return {text: Locale.value.cLSMedium, icon: 'warning-orange'};
  if(props.value.clStress === 2) return {text: Locale.value.cLSAbnormal, icon: 'warning-orange'};
  return {text: Locale.value.cLSLow, icon: 'check-success'};
});

</script>

<style lang="scss" src="./ChannelCLStressScore.scss" />
