<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.stress : ''"
      :icon="description.icon"
      :text="description.text"
      :score="description.value"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  averageStressLevel: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['stress','avgLevel'],
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.stressProfile);

const description = computed(() => {
  if(props.value.averageStressLevel === undefined) return {text: '-', icon: null};
  
  const avg = Math.round(props.value.averageStressLevel * 10) / 10;
  
  if(props.value.averageStressLevel >= 20) return {value: avg, text: Locale.value.avgLevel, icon: 'warning-red'};
  if(props.value.averageStressLevel >= 11) return {value: avg, text: Locale.value.avgLevel, icon: 'warning-orange'};
  return {value: avg, text: Locale.value.avgLevel, icon: 'check-success'};
});

</script>

<style lang="scss" src="./ChannelAVGStressScore.scss" />
