@import "@/assets/styles/component.scss";
@import "@/components/ValueIconEmphasizing.scss";

.sp-info-item-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
  &.extreme{
    padding: 12px 24px 12px 24px;
    background-color: $c-gray-bg-1;
    border-radius: 8px;
    .vie-container{
      justify-content: space-between;
      min-height: 40px;
    }
    .vie-value{
      min-width: 69px;
    }
  }
}
.sp-info-item-text{
  @include text-1;
  min-height: 80px;
}
.sp-extreme-title{
  @include text-3;
  margin-bottom: 7px;
  min-height: 40px;
}
.sp-extreme-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  min-height: 40px;
  
}
.sp-line{
  @include line;
}