<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="sp-container" class="sp-container" :class="{'sp-no-data': !props.stress}">
      <StressProfileHeader :insufficientData="!props.channelSegmentsCount || !!props.testReport.error" :testReport="props.testReport" :clStress="props.clStress" :stress="props.stress" :localeTexts="Locale.header" />
      <InsufficientAudioData v-if="!props.channelSegmentsCount || !!props.testReport.error" :message="Locale.insufficientAudioData" />
      <div v-else part="sp-info-container" class="sp-info-container">
        <StressProfileCLStress :clStress="props.clStress" :localeTexts="Locale.cLStress" />
        <StressProfileStress :stress="props.stress" :localeTexts="{...Locale.stress, linearDescription: Locale.linearDescription}" />
        <StressProfileExtreme :channelSegmentsCount="props.channelSegmentsCount" :testReport="props.testReport" :localeTexts="Locale.extreme" />
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  channelSegmentsCount:{
    required: false,
    typeof: "number",
  },
  testReport: {
    required: false,
    typeof: "object",
    validate: (prop) => {
      if(!prop.error){
        for(const v of ['extremeStressSegments', 'extremeStressConversationPortions']){
          if(!prop.hasOwnProperty(v)) return { isValid: false, message: `The testReport is invalid! Property ${v} is missing.`}
        }
      }
    }
  },
  clStress: {
    required: false,
    typeof: "object",
    existProps: ['clStress', 'high', 'low']
  },
  stress: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.stressProfile), 'linearDescription']
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import StressProfileHeader from "./StressProfileHeader.ce.vue";
import StressProfileCLStress from "./StressProfileCLStress.ce.vue";
import StressProfileStress from "./StressProfileStress.ce.vue";
import StressProfileExtreme from "./StressProfileExtreme.ce.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.stressProfile,
  linearDescription: mainLocale.linearDescription
});

</script>

<style lang="scss" src="./StressProfile.scss" />
