<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="sp-info-item-container" class="sp-info-item-container">
      <ChannelCLStressScore :clStress="props.clStress?.clStress" :localeTexts="Locale" />
      <div part="sp-cl-low-high-container" class="sp-cl-low-high-container">
        <div class="sp-info-item-description">{{description}}</div>
        <div v-if="!props.clStress?.clStress" part="sp-cl-insufficient" class="sp-cl-insufficient">
          {{Locale.insufficientAudioSegments}}
        </div>
        <div v-else part="sp-cl-low-high" class="sp-cl-low-high">
          <div part="sp-cl-low-high-block" class="sp-cl-low-high-block">
            <div part="sp-cl-low-high-value" class="sp-cl-low-high-value">{{ props.clStress ? props.clStress.low : "-"}}</div>
            <div part="sp-cl-low-high-text" class="sp-cl-low-high-text">{{Locale.cLSLow}}</div>
          </div>
          <div part="sp-cl-low-high-slash" class="sp-cl-low-high-slash" />
          <div part="sp-cl-low-high-block" class="sp-cl-low-high-block">
            <div part="sp-cl-low-high-value" class="sp-cl-low-high-value">{{ props.clStress ? props.clStress.high : "-"}}</div>
            <div part="sp-cl-low-high-text" class="sp-cl-low-high-text">{{Locale.cLSHigh}}</div>
          </div>
        </div>
      </div>
      <template v-if="props.showDescription">
        <div part="sp-line" class="sp-line" />
        <div part="sp-info-item-text" class="sp-info-item-text">{{Locale.cLSDescription}}</div>
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  clStress: {
    required: false,
    typeof: "object",
    existProps: ['clStress', 'high', 'low']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.stressProfile.cLStress)
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChannelCLStressScore from "./ChannelCLStressScore.ce.vue";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.stressProfile.cLStress);

const description = computed(() => {
  const clStress = props.value.clStress?.clStress ?? -1;
  if(clStress === -1) return Locale.value.descriptions.noData;
  if(clStress === 0) return Locale.value.descriptions.noStress;
  if(clStress === 1) return Locale.value.descriptions.lowStress;
  if(clStress === 2) return Locale.value.descriptions.normal;
  if(clStress === 3) return Locale.value.descriptions.temporaryHigh;
  if(clStress === 4) return Locale.value.descriptions.stress;
  if(clStress === 5) return Locale.value.descriptions.highStress;
  if(clStress === 6) return Locale.value.descriptions.unresolvedStress;
  return Locale.value.descriptions.noData;
})

</script>

<style lang="scss" src="./StressProfileCLStress.scss" />
