@import "@/assets/styles/component.scss";
@import "./ChannelCLStressScore.scss";

.sp-info-item-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}
.sp-cl-low-high-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 80px;
}
.sp-info-item-description{
  @include text-2;
  color: $c-stroke;
}
.sp-cl-insufficient{
  @include text-3;
}
.sp-cl-low-high{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}
.sp-cl-low-high-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sp-cl-low-high-slash{
  @include line;
  height: 24px;
  transform: rotate(15deg);
  margin-top: 2px;
}
.sp-cl-low-high-value{
  @include title-55;
  color: $c-main-dark;
}
.sp-cl-low-high-text{
  @include text-1;
  color: $c-stroke;
}
.sp-info-item-text{
  @include text-1;
  min-height: 80px;
}
.sp-line{
  @include line;
}