@import "@/assets/styles/component.scss";
@import "./StressProfileHeader.scss";
@import "./StressProfileCLStress.scss";
@import "./StressProfileStress.scss";
@import "./StressProfileExtreme.scss";
@import "@/components/InsufficientAudioData.scss";

.sp-container{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $c-stroke;
  gap: 24px;
  height: 100%;
}
.sp-no-data{
  background-color: $c-gray-bg-1;
}
.sp-info-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}