<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="sp-info-item-container" class="sp-info-item-container">
      <ChannelAVGStressScore :averageStressLevel="props.stress?.averageLevel" :localeTexts="Locale" />
      <CirclesSquareSeparation :value="props.stress" :localeTexts="Locale.linearDescription" />
      <template v-if="props.showDescription">
        <div part="sp-line" class="sp-line" />
        <div part="sp-info-item-text" class="sp-info-item-text">{{Locale.avgDescription}}</div>
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  stress: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.stressProfile.stress), 'linearDescription']
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChannelAVGStressScore from "./ChannelAVGStressScore.ce.vue";
import CirclesSquareSeparation from "@/components/CirclesSquareSeparation.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.stressProfile.stress,
  linearDescription: mainLocale.linearDescription
});

</script>

<style lang="scss" src="./StressProfileStress.scss" />
