@import "@/assets/styles/component.scss";
@import "./ChannelAVGStressScore.scss";
@import "@/components/CirclesSquareSeparation.scss";

.sp-info-item-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}
.sp-info-item-text{
  @include text-1;
  min-height: 80px;
}
.sp-line{
  @include line;
}