<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ProfileHeader :insufficientData="props.insufficientData" :title="Locale.stressProfile" :type="header.type" :text="header.text" :icon="header.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  testReport: {
    required: false,
    typeof: "object",
    validate: (prop) => {
      if(!prop.error){
        for(const v of ['extremeStressSegments', 'extremeStressConversationPortions']){
          if(!prop.hasOwnProperty(v)) return { isValid: false, message: `The testReport is invalid! Property ${v} is missing.`}
        }
      }
    }
  },
  clStress: {
    required: false,
    typeof: "object",
    existProps: ['clStress', 'high', 'low']
  },
  stress: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.stressProfile.header)
  },
  insufficientData: {
    required: false,
    typeof: "boolean",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ProfileHeader from "@/components/ProfileHeader.vue";
import mainLocale from "@/locales/locale.json";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.stressProfile.header);

const header = computed(() => {
  if(!props.value.stress) return {type: 'no-data', text: '-', icon: null};

  const avgStress = props.value.stress.averageLevel;
  const clStress = props.value.clStress?.clStress;
  const extremeStressConversationPortions = props.value.testReport.extremeStressConversationPortions;

  if(clStress >= 6 || avgStress > 20 || extremeStressConversationPortions > 3) return {
    type: 'fail',
    text: Locale.value.extremeStress,
    icon: "warning-white"
  }
  if(clStress >= 4 || avgStress >= 10 || extremeStressConversationPortions > 1) return {
    type: 'warning',
    text: Locale.value.significantStress,
    icon: "warning-white"
  }
  return {type: 'success', text: Locale.value.normalStress, icon: "check-success-white"};
});

</script>

<style lang="scss" src="./StressProfileHeader.scss" />
