<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="sp-info-item-container sp-extreme" class="sp-info-item-container extreme">
      <div part="sp-extreme-title" class="sp-extreme-title">{{Locale.extremeStressCounters}}</div>
      <ValueIconEmphasizing :text="totalSegments.text" :value="totalSegments.value" :icon="totalSegments.icon" />
      <ValueIconEmphasizing :text="conversationPortions.text" :value="conversationPortions.value" :icon="conversationPortions.icon" />
      <template v-if="props.showDescription">
        <div part="sp-line" class="sp-line" />
        <div part="sp-info-item-text" class="sp-info-item-text">{{Locale.extremeDescription}}</div>
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  channelSegmentsCount:{
    required: false,
    typeof: "number",
  },
  testReport: {
    required: false,
    typeof: "object",
    existProps: ['extremeStressSegments', 'extremeStressConversationPortions']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.stressProfile.extreme)
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ValueIconEmphasizing from "@/components/ValueIconEmphasizing.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.stressProfile.extreme);

const totalSegments = computed(() => {
  const totalSegments = props.value.channelSegmentsCount;

  if(totalSegments === undefined) return {value: "-", text: `${Locale.value.totalSegments} -`, icon: null};
  
  const stressSegment = props.value.testReport.extremeStressSegments;
  const highStressPercent = Math.round(stressSegment / totalSegments * 1000) / 10;
  
  const text = `${Locale.value.totalSegments} ${stressSegment}`;
  
  if(highStressPercent >= 50) return {value: highStressPercent + "%", text, icon: "warning-red"};
  if(highStressPercent >= 2) return {value: highStressPercent + "%", text, icon: "warning-orange"};
  return {value: highStressPercent + "%", text, icon: "check-success"};
});

const conversationPortions = computed(() => {
  const value = props.value.testReport?.extremeStressConversationPortions;
  const text = Locale.value.conversationPortions;
  
  if(value === undefined) return {value: "-", text, icon: null};
  

  if(value > 3) return {value: value, text, icon: "warning-red"};
  if(value > 1) return {value: value, text, icon: "warning-orange"};
  return {value: value, text, icon: "check-success"};
});

</script>

<style lang="scss" src="./StressProfileExtreme.scss" />
