<template>
  <div part="lp-pie-item" class="lp-pie-item">
    <div v-if="showHeader" part="lp-pie-item-header" class="lp-pie-item-header">{{header}}</div>
    <FourLevelPercentagePie :value="ratioObject" :show-tooltips="showTooltips" :chartBorderColor="chartBorderColor" >
      <div part="lp-pie-item-pie-header" class="lp-pie-item-pie-header">{{avgText}}</div>
      <div part="lp-pie-item-pie-value" class="lp-pie-item-pie-value">{{avgValue}}</div>
    </FourLevelPercentagePie>
    <template v-if="showDescription">
      <div part="lp-pie-line" class="lp-pie-line"></div>
      <div part="lp-pie-item-description" class="lp-pie-item-description">{{description}}</div>
    </template>
  </div>
</template>

<script setup>
import FourLevelPercentagePie from "@/components/charts/FourLevelPercentagePie.vue";

const props = defineProps({
  ratioObject: Object,
  header: String,
  avgText: String,
  avgValue: String,
  description: String,
  showHeader: {
    type: Boolean,
    default: true,
  },
  showDescription: {
    type: Boolean,
    default: true,
  },
  showTooltips: {
    type: Boolean,
    default: true,
  },
  chartBorderColor:{
    type: String,
  }
})
</script>

<style lang="scss" src="./ChartFourItem.scss" />
