@import "@/assets/styles/component.scss";
@import "@/components/charts/FourLevelPercentagePie.scss";

.lp-pie-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  gap: 12px;
}
.lp-pie-item-header{
  @include text-3;
  color: $c-stroke;
}
.lp-pie-item-pie-header{
  @include title-1;
  color: $c-secondary-dark;
}
.lp-pie-item-pie-value{
  @include title-5;
  color: $c-main-dark;
}
.lp-pie-line{
  @include line;
  width: 100%;
}
.lp-pie-item-description{
  @include text-1;
}