@import "@/assets/styles/component.scss";

.chart {
  > * {
    width: 160px;
    height: 80px;
  }
}
.mee-pie-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 160px;
}
.mee-pie-item{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.mee-pie-description{
  @include title-7;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
}
.mee-pie-description-un{
  @include title-4;
}
.mee-pie-range{
  @include text-1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $c-stroke;
}
.mee-pie-range-start{
  margin-left: 10px;
}
.mee-pie-range-end{
  margin-right: 9px;
}
.mee-pie-name{
  @include text-1;
  margin-top: -14px;
}
.mee-pie-line{
  position: absolute;
  border: 1px solid $c-stroke;
  border-top: none;
  border-right: none;
}
.mee-pie-efficiency-line{
  bottom: 24px;
  left: 23px;
  width: 17px;
  height: 19px;
}
.mee-pie-mental-effort-line{
  bottom: 7px;
  left: 3px;
  width: 38px;
  height: 36px;
}
