<template>
  <div part="mee-pie-container" class="mee-pie-container">
    <div part="mee-pie-item" class="mee-pie-item">
      <v-chart part="chart" class="chart" :option="option" autoresize />
      <div v-if="!isUnavailable" part="mee-pie-description" class="mee-pie-description">
       {{`${mentalEffort}/${efficiency}`}}
      </div>
      <div v-else part="mee-pie-description mee-pie-description-un" class="mee-pie-description mee-pie-description-un">
        {{unavailableText}}
      </div>
    </div>
    <div part="mee-pie-range" class="mee-pie-range">
      <div part="mee-pie-range-start" class="mee-pie-range-start">0</div>
      <div part="mee-pie-range-end" class="mee-pie-range-end">8</div>
    </div>
    <div part="mee-pie-name" class="mee-pie-name">
      <div>{{efficiencyName}}</div>
      <div>{{mentalEffortName}}</div>
    </div>
    <div part="mee-pie-line" class="mee-pie-line mee-pie-efficiency-line" />
    <div part="mee-pie-line" class="mee-pie-line mee-pie-mental-effort-line" />
  </div>
</template>

<script setup>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { PieChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
} from 'echarts/components';
import VChart from 'vue-echarts';
import { ref, computed } from 'vue';

use([
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
]);

const props = defineProps({
  efficiencyName: String,
  mentalEffortName: String,
  efficiency: Number,
  mentalEffort: Number,
  isUnavailable: Boolean,
  unavailableText: String,
});

const valueColors = [
  '#FF8000',
  '#FF8000',
  '#8bc541',
  '#8bc541',
  '#8bc541',
  '#8bc541',
  '#FF8000',
  '#FF8000',
];

const grayColors = [
  '#93a0c8',
  '#a3aed0',
  '#b1bad7',
  '#bfc6de',
  '#ccd2e5',
  '#dadfec',
  '#e8ebf3',
  '#f6f7fa',
]

const efficiencyColor = computed(() => {
  return valueColors[props.efficiency - 1];
})
const mentalEffortColor = computed(() => {
  return valueColors[props.efficiency - 1];
})

const option = computed(() => ({
  tooltip: {
    show: false,
  },
  legend: {
    show: false,
    selectedMode: false
  },
  grid: {
    left: "0",
    top: "0",
    right: "0",
    bottom: "0",
  },
  series: [
    {
      type: 'pie',
      radius: ['185%', '200%'],
      center: ['50%', '100%'],
      startAngle: 180,
      left: '0',
      top: '0',
      right: '0',
      emphasis:{
        disabled: true,
      },
      label: {
        show: false,
      },
      labelLine: {
        show: false
      },
      data: [
        { value: props.mentalEffort, itemStyle: {color: mentalEffortColor.value} },
        { value: 8 - props.mentalEffort, itemStyle: {color: 'transparent'} },
        {  // make an record to fill the bottom 50%
          value: 8,
          itemStyle: { color: 'none', decal: { symbol: 'none' } },
          label: { show: false }
        }
      ]
    },
    {
      type: 'pie',
      radius: ['150%', '185%'],
      center: ['50%', '100%'],
      startAngle: 180,
      left: '0',
      top: '0',
      right: '0',
      emphasis:{
        disabled: true,
      },
      label: {
        show: false,
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 1, itemStyle: {color: grayColors[0] } },
        { value: 1, itemStyle: {color: grayColors[1] } },
        { value: 1, itemStyle: {color: grayColors[2] } },
        { value: 1, itemStyle: {color: grayColors[3] } },
        { value: 1, itemStyle: {color: grayColors[4] } },
        { value: 1, itemStyle: {color: grayColors[5] } },
        { value: 1, itemStyle: {color: grayColors[6] } },
        { value: 1, itemStyle: {color: grayColors[7] } },
        {
          // make an record to fill the bottom 50%
          value: 8,
          itemStyle: { color: 'none', decal: { symbol: 'none' } },
          label: { show: false }
        }
      ]
    },{
      type: 'pie',
      radius: ['135%', '150%'],
      center: ['50%', '100%'],
      startAngle: 180,
      left: '0',
      top: '0',
      right: '0',
      emphasis:{
        disabled: true,
      },
      label: {
        show: false,
      },
      labelLine: {
        show: false
      },
      data: [
        { value: props.efficiency, itemStyle: {color: efficiencyColor.value} },
        { value: 8 - props.efficiency, itemStyle: {color: 'transparent'} },
        {
          // make an record to fill the bottom 50%
          value: 8,
          itemStyle: { color: 'none', decal: { symbol: 'none' } },
          label: { show: false }
        }
      ]
    },
  ]
}));
</script>

<style lang="scss" src="./MentalEffortEfficiencyHalfPie.scss" />