<template>
  <span part="s-gptc-item" :class="{'s-gptc-item': true, ['s-gptc-item--' + code]: true}">
    {{localeTexts[code] || code}}
  </span>
</template>

<script setup>

const props = defineProps({
  code: String,
  localeTexts: Object
})

</script>

<style lang="scss" src="./GPTCommand.scss" />
