@import "@/assets/styles/component.scss";

.s-gptc-item{
  @include text-2;
  padding: 2px 8px 2px 8px;
  border-radius: 20px;
  white-space: nowrap;
    
  &--thinker {color: #2A385E; background-color: #DFE3EF;}
  &--defensive {color: #FFFFFF; background-color: #FF8000;}
  &--aggressive {color: #FFFFFF; background-color: #FF0000;}
  &--emotional {color: #FFFFFF; background-color: #B232CE;}
  &--logical {color: #2A385E; background-color: #DFE3EF;}

  &--distressed {color: #FFFFFF; background-color: #FF0000;}
  &--energetic {color: #FFFFFF; background-color: #8BC541;}
  &--lowEnergy {color: #FFFFFF; background-color: #0C5BB1;}

  &--aroused {color: #FFFFFF; background-color: #F178B6;}
  &--balanced {color: #FFFFFF; background-color: #4E9BF0;}
}