<template>
  <div part="s-gptc-list" class="s-gptc-list">
    <GPTCommand v-for="code in gptCommand.split(separator)" :key="code" :code="code" :locale-texts="localeTexts" />
  </div>
</template>

<script setup>
import GPTCommand from './GPTCommand.vue';

const props = defineProps({
  gptCommand: String,
  separator: {
    type: String,
    default: ';'
  },
  localeTexts: Object,
})

</script>

<style lang="scss" src="./GPTCommandList.scss" />
