<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <BadgeGeneralSummary :text="churnRisk.text" :icon="churnRisk.icon" :value="churnRisk.value" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  profiles: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      const validProfiles = prop.filter(p => !!p);
      if(validProfiles.length === 0) return { isValid: false, message: `The array profiles doesn't have a valid value!`};
      validProfiles.forEach((profile, pIndex) => {
        for(const v of ['stress','aggression','uneasy']){
          if(!profile.hasOwnProperty(v)) return { isValid: false, message: `The profiles[${pIndex}] is invalid! Property ${v} is missing.`}
          if(!profile[v].hasOwnProperty('averageLevel')){
            return { isValid: false, message: `The object profiles[${pIndex}].${v} is invalid! Property averageLevel is missing.`}
          }
        }
      })
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.badgeChurnRisk)
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import BadgeGeneralSummary from "@/components/badge/BadgeGeneralSummary.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.badgeChurnRisk);

const churnRisk = computed(() => {
  const _values = props.value.profiles.filter(p => !!p).map(profile => profile.stress.averageLevel + profile.aggression.averageLevel + profile.uneasy.averageLevel);
  const churnRisk = Math.max(..._values);
  if(churnRisk < 6) return {text: Locale.value.low, icon: "check-success", value: churnRisk};
  if(churnRisk > 5 && churnRisk < 14) return {text: Locale.value.medium, icon: "warning-gray", value: churnRisk};
  else return {text: Locale.value.high, icon: "warning-red", value: churnRisk};
});

</script>

<style lang="scss" src="./BadgeChurnRisk.scss" />
