<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <BadgeGeneralSummary :text="fi10.text" :icon="fi10.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  final10Scores: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      if(prop.filter((i) => Number.isFinite(i)).length === 0) return { isValid: false, message: `The array final10Scores doesn't have a valid value!`};
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.badgeFinalScore)
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import BadgeGeneralSummary from "@/components/badge/BadgeGeneralSummary.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.badgeFinalScore);

const fi10 = computed(() => {
  const _values = props.value.final10Scores.filter((i) => Number.isFinite(i));
  const fi10 = Math.min(..._values);

  if(fi10 < -1) return {text: Locale.value.negative, icon: "warning-red"};
  if(fi10 > 1) return {text: Locale.value.positive, icon: "check-success"};
  else return {text: Locale.value.neutral, icon: "check-success"};
});



</script>

<style lang="scss" src="./BadgeFinalScore.scss" />
