<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <BadgeGeneralSummary :text="trainingNeeds.text" :icon="trainingNeeds.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  profiles: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      const validProfiles = prop.filter(p => !!p);
      if(validProfiles.length === 0) return { isValid: false, message: `The array profiles doesn't have a valid value!`};
      validProfiles.forEach((profile, pIndex) => {
        for(const v of ['mentalEffort','imagination','stress','hesitation']){
          if(!profile.hasOwnProperty(v)) return { isValid: false, message: `The profiles[${pIndex}] is invalid! Property ${v} is missing.`}
          if(!profile[v].hasOwnProperty('averageLevel')){
            return { isValid: false, message: `The object profiles[${pIndex}].${v} is invalid! Property averageLevel is missing.`}
          }
        }
      })
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.badgeTrainingNeeds)
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import BadgeGeneralSummary from "@/components/badge/BadgeGeneralSummary.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.badgeTrainingNeeds);

const trainingNeeds = computed(() => {
  const _values = props.value.profiles.filter(p => !!p).map(p => p.mentalEffort.averageLevel + p.imagination.averageLevel + p.stress.averageLevel + p.hesitation.averageLevel);
  const trainingNeeds = Math.max(..._values);
  
  if(trainingNeeds < 25) return {text: Locale.value.normal, icon: "check-success"};
  if(trainingNeeds >= 25 && trainingNeeds <= 40) return {text: Locale.value.some, icon: "warning-orange"};
  if(trainingNeeds > 40 && trainingNeeds <= 50) return {text: Locale.value.medium, icon: "warning-orange"};
  else return {text: Locale.value.high, icon: "warning-red"};
});

</script>

<style lang="scss" src="./BadgeTrainingNeeds.scss" />
