<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <BadgeGeneralSummary :text="anticipation.text" :icon="anticipation.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  avgAnticipations: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      if(prop.filter((i) => Number.isFinite(i)).length === 0) return { isValid: false, message: `The array avgAnticipations doesn't have a valid value!`};
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.badgeAnticipation)
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import BadgeGeneralSummary from "@/components/badge/BadgeGeneralSummary.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.badgeAnticipation);

const anticipation = computed(() => {
  const _values = props.value.avgAnticipations.filter((i) => Number.isFinite(i));
  const anticipation = Math.max(..._values);
  
  if(anticipation < 5) return {text: Locale.value.low, icon: "warning-orange"};
  if(anticipation >=5 && anticipation <= 15) return {text: Locale.value.normal, icon: "check-success"};
  else return {text: Locale.value.high, icon: "check-success"};
});

</script>

<style lang="scss" src="./BadgeAnticipation.scss" />
