<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.priority : ''"
      :icon="priority.icon"
      :text="priority.text"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  priority: {
    required: true,
    typeof: "number"
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.generalSummarySection.priority),
    validate: (obj) => {
      if(typeof obj.priorities !== "object") return { isValid: false, message: `The object 'localeTexts' is invalid! Property 'priorities' must be an object.`}
      for(const key in mainLocale.generalSummarySection.priority.priorities){
        if(obj.priorities[key] === undefined){
          return { isValid: false, message: `The object 'localeTexts.priorities' is invalid! Property '${key}' is missing.`}
        }
      }
    }
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.generalSummarySection.priority);

const priority = computed(() => {
  const priority = props.value.priority;
  if(priority <= 1) return {text: Locale.value.priorities.high, icon: "warning-red"};
  if(priority <= 3) return {text: Locale.value.priorities.medium, icon: "warning-orange"};
  return {text: Locale.value.priorities.normal, icon: "check-success"};
})

</script>

<style lang="scss" src="./GeneralSummaryPriority.scss" />
