@import "@/assets/styles/component.scss";
@import "@/components/ValueScoreHeader.scss";

.gs-call-type{
  &.angerCall .vsh-type-value{
    color: $c-orange;
  }
  &.midPriority .vsh-type-value{
    color: $c-red;
  }
  &.highPriority .vsh-type-value{
    color: $c-red;
  }
  &.stressCall .vsh-type-value{
    color: $c-orange;
  }
  &.dissatisfactionCall .vsh-type-value{
    color: $c-secondary-dark;
  }
  &.energyIrregularity .vsh-type-value{
    color: $c-blue;
  }
  &.normalCall .vsh-type-value{
    color: $c-green-1;
  }
  &.tooShort .vsh-type-value{
    color: $c-stroke;
  }
  &.tonePriorityMedium .vsh-type-value{
    color: $c-yellow;
  }
  &.tonePriorityHigh .vsh-type-value{
    color: $c-red;
  }
}