<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="gss-container" class="gss-container">
    <div v-if="props.showHeader" part="gss-title" class="gss-title">{{ Locale.generalSummary }}</div>
    <div v-if="props.showHeader" part="gss-line" class="gss-line" />
    <div part="gss-body-container" class="gss-body-container">
      <GeneralSummaryCallType :generalCode="props.general.code" :localeTexts="Locale.callType" />
      <div part="gss-line" class="gss-line" />
      <GeneralSummaryPriority class="gss-item-padding" :priority="props.general.priority" :localeTexts="Locale.priority" />
      <div part="gss-line" class="gss-line" />
      <GeneralSummaryRecommendation class="gss-item-padding" :priority="props.general.priority" :localeTexts="Locale.recommendation" />
    </div>
  </div>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  general: {
    required: true,
    typeof: "object",
    existProps: ['code','priority']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.generalSummarySection)
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import GeneralSummaryCallType from './GeneralSummaryCallType.ce.vue';
import GeneralSummaryPriority from './GeneralSummaryPriority.ce.vue';
import GeneralSummaryRecommendation from './GeneralSummaryRecommendation.ce.vue';

import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.generalSummarySection);

</script>

<style lang="scss" src="./GeneralSummarySection.scss" />
