@import "@/assets/styles/component.scss";
@import "./GeneralSummaryHeader.scss";
@import "./TechnicalInfo.scss";
@import "./GeneralSummarySection.scss";

.gs-container{
  display: flex;
  flex-direction: column;
  border: 1px solid $c-stroke;
  padding: 24px;
  border-radius: 12px;
  gap: 24px;
}
.gs-info-container{
  display: flex;
  flex-direction: row;
  gap: 24px;
}