<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.recommendation : ''"
      :text="textRecommendation"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  priority: {
    required: true,
    typeof: "number"
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.generalSummarySection.recommendation),
    validate: (obj) => {
      if(typeof obj.recommendations !== "object") return { isValid: false, message: `The object 'localeTexts' is invalid! Property 'recommendations' must be an object.`}
      for(const key in mainLocale.generalSummarySection.recommendation.recommendations){
        if(obj.recommendations[key] === undefined){
          return { isValid: false, message: `The object 'localeTexts.recommendations' is invalid! Property '${key}' is missing.`}
        }
      }
    }
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.generalSummarySection.recommendation);

const textRecommendation = computed(() => {
  const priority = props.value.priority;
  if(priority < 4) return Locale.value.recommendations.reviewAdvised;
  if(priority > 3) return Locale.value.recommendations.thisCallAppearsNormal;
})

</script>

<style lang="scss" src="./GeneralSummaryRecommendation.scss" />
