@import "@/assets/styles/component.scss";
@import "./GeneralSummaryCallType.scss";
@import "./GeneralSummaryPriority.scss";
@import "./GeneralSummaryRecommendation.scss";

.gss-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
  background-color: $c-gray-bg-1;
}
.gss-title {
  @include title-5;
}
.gss-body-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
  flex: 1;
  justify-content: space-between;
}
.gss-line{
  @include line;
}
.gss-item-padding{
  .gss-type-value{
    padding-bottom: 6px;  
  }
}
