@import "@/assets/styles/component.scss";

.gsh-container{
  display: flex;
  flex-direction: row;
  padding: 24px;
  border-radius: 8px;
  gap: 24px;
  background-color: $c-gray-bg-2;
}
.gsh-title-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.gsh-duration-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
}
.gsh-title{
  @include title-7;
}
.gsh-file-name{
  @include text-5;
}
.gsh-duration-title{
  @include text-3;
  color: $c-stroke;
}