<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="gs-container" class="gs-container">
    <GeneralSummaryHeader :title="title" :fileName="fileName" :fileDuration="fileDuration" :localeTexts="Locale.generalSummaryHeader" />
    <div part="gs-info-container" class="gs-info-container">
      <GeneralSummarySection :general="general" :localeTexts="Locale.generalSummarySection" />
      <TechnicalInfo :technical="technical" :localeTexts="Locale.technicalInformation" />
    </div>
  </div>
</template>

<script>
const propsDefinition = {
  title: {
    required: true,
  },
  fileName: {
    required: true,
  },
  fileDuration: {
    required: true,
  },
  technical: {
    required: true,
    typeof: "object",
  },
  general: {
    required: true,
    typeof: "object",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['generalSummaryHeader','generalSummarySection','technicalInformation']
  },
}
</script>
<script setup>
import mainLocale from "@/locales/locale.json";
import GeneralSummarySection from './GeneralSummarySection.ce.vue';
import GeneralSummaryHeader from './GeneralSummaryHeader.ce.vue';
import TechnicalInfo from './TechnicalInfo.ce.vue';
import InvalidProperty from '@/components/InvalidProperty.vue';

import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale);

</script>

<style lang="scss" src="./GeneralSummary.scss" />
