<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader 
      :class="{'gs-call-type': true, [props.generalCode]: true}"
      :header="props.showHeader ? Locale.callType : ''" 
      :text="Locale.callTypes[props.generalCode]" 
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  generalCode: {
    required: true,
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.generalSummarySection.callType),
    validate: (obj) => {
      if(typeof obj.callTypes !== "object") return { isValid: false, message: `The object 'localeTexts' is invalid! Property 'callTypes' must be an object.`}
      for(const key in mainLocale.generalSummarySection.callType.callTypes){
        if(obj.callTypes[key] === undefined){
          return { isValid: false, message: `The object 'localeTexts.callTypes' is invalid! Property '${key}' is missing.`}
        }
      }
    }
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.generalSummarySection.callType);

</script>

<style lang="scss" src="./GeneralSummaryCallType.scss" />
