<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="gsh-container" class="gsh-container">
    <div part="gsh-title-container" class="gsh-title-container">
      <span part="gsh-title" class="gsh-title">{{title}}</span>
      <span part="gsh-file-name" class="gsh-file-name">{{fileName}}</span>
    </div>
    <div part="gsh-duration-container" class="gsh-duration-container">
      <span part="gsh-duration-title" class="gsh-duration-title">{{Locale.recordingDuration}}</span>
      <span part="gsh-title" class="gsh-title">{{fileDuration}}</span>
    </div>
  </div>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  title: {
    required: true,
  },
  fileName: {
    required: true,
  },
  fileDuration: {
    required: true,
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.generalSummaryHeader)
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.generalSummaryHeader);

</script>

<style lang="scss" src="./GeneralSummaryHeader.scss" />
