<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="sd-container" class="sd-container">
    <div part="sd-distribution-line" class="sd-description-title">{{Locale.speakerDistribution}}</div>
    <div part="sd-description-container" class="sd-description-container">
      <div part="sd-description" class="sd-description">
        <div part="sd-item" class="sd-item">
          <span part="sd-item-text" class="sd-item-text">{{Locale.channel0}}:</span>
          <span part="sd-item-value channel-0" class="sd-item-value channel-0">{{distribution.channel0}}%</span>
        </div>
        <div part="sd-item" class="sd-item">
          <span part="sd-item-text" class="sd-item-text">{{Locale.silence}}:</span>
          <span part="sd-item-value silence" class="sd-item-value silence">{{distribution.silence}}%</span>
        </div>
        <template v-if="distribution.crosstalk > 0 || distribution.channel1 > 0">
          <div part="sd-item" class="sd-item">
            <span part="sd-item-text" class="sd-item-text">{{Locale.crosstalk}}:</span>
            <span part="sd-item-value crosstalk" class="sd-item-value crosstalk">{{distribution.crosstalk}}%</span>
          </div>
          <div part="sd-item" class="sd-item">
            <span part="sd-item-text" class="sd-item-text">{{Locale.channel1}}:</span>
            <span part="sd-item-value channel-1" class="sd-item-value channel-1">{{distribution.channel1}}%</span>
          </div>
        </template>
      </div>
      <div part="sd-distribution-line" class="sd-distribution-line">
        <div part="channel-0" class="channel-0" :style="{width: `${distribution.channel0}%`}"></div>
        <div part="silence" class="silence" :style="{width: `${distribution.silence}%`}"></div>
        <div part="crosstalk" class="crosstalk" :style="{width: `${distribution.crosstalk}%`}"></div>
        <div part="channel-1" class="channel-1" :style="{width: `${distribution.channel1}%`}"></div>
      </div>
    </div>
  </div>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  segments:{
    required: true,
    typeof: "object",
    existProps: ['headersPositions', 'data']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.speakerDistribution)
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {speakersDistribution} from "@/helpers/segments.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.speakerDistribution);

const distribution = computed(() => {
  return speakersDistribution(props.value.segments);
});

</script>

<style lang="scss" src="./SpeakerDistribution.scss" />
