@import "@/assets/styles/component.scss";

.sd-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  .channel-0{
    background-color: $c-beige;
  }
  .silence{
    color: #FFFFFF;
    background-color: #000000;
  }
  .crosstalk{
    background-color: #C3CFEA;
  }
  .channel-1{
    background-color: $c-mint;
  }
}
.sd-description-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sd-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.sd-description-title{
  @include title-3;
}
.sd-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.sd-item-text{
  @include text-2;
}
.sd-item-value{
  @include title-1;
  padding: 0 12px;
  border-radius: 50px;
}
.sd-distribution-line{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10px;
  > * {
    height: 100%;
  }
}