<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="ti-container" class="ti-container" :class="{'ti-container-inline-style': props.inlineStyle}">
    <div part="ti-header" class="ti-header">{{ Locale.technicalInformation }}:</div>
    <div part="ti-item-container" class="ti-item-container">
      <div part="ti-value-container" class="ti-value-container">
        <div part="ti-description" class="ti-description">{{ Locale.SDKVersion }}:</div>
        <div part="ti-value" class="ti-value">{{ props.technical['SDK-Version'] }}</div>
      </div>
      <template v-if="props.technical.application !== undefined">
        <div part="ti-line" class="ti-line"></div>
        <div part="ti-value-container" class="ti-value-container">
          <div part="ti-description" class="ti-description">{{ Locale.application }}:</div>
          <div part="ti-value" class="ti-value">{{ props.technical.application }}</div>
        </div>
      </template>
      <div part="ti-line" class="ti-line"></div>
      <div part="ti-value-container" class="ti-value-container">
        <div part="ti-description" class="ti-description">{{ Locale.backgroundChannel0 }}:</div>
        <div part="ti-value" class="ti-value">{{ props.technical.backgroundChannel0 }}</div>
      </div>
      <template v-if="props.technical.backgroundChannel1 !== undefined">
        <div part="ti-line" class="ti-line"></div>
        <div part="ti-value-container" class="ti-value-container">
          <div part="ti-description" class="ti-description">{{ Locale.backgroundChannel1 }}:</div>
          <div part="ti-value" class="ti-value">{{ props.technical.backgroundChannel1 }}</div>
        </div>
      </template>
      <div part="ti-line" class="ti-line"></div>
      <div part="ti-value-container" class="ti-value-container">
        <div part="ti-description" class="ti-description">{{ Locale.backgroundLevelParam }}:</div>
        <div part="ti-value" class="ti-value">{{ props.technical.backgroundLevelParam }}</div>
      </div>
      <div part="ti-line" class="ti-line"></div>
      <div part="ti-value-container" class="ti-value-container">
        <div part="ti-description" class="ti-description">{{ Locale.segmentCount }}:</div>
        <div part="ti-value" class="ti-value">{{ props.technical.segmentsCount }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  technical: {
    required: true,
    typeof: "object",
    existProps: ['SDK-Version','backgroundChannel0','backgroundLevelParam','segmentsCount']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.technicalInformation)
  },
  inlineStyle: {
    required: false,
    typeof: "boolean",
    default: false,
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.technicalInformation);

</script>

<style lang="scss" src="./TechnicalInfo.scss" />
