@import "@/assets/styles/component.scss";

.ti-container{
  padding: 24px;
  border-radius: 8px;
  background-color: $c-gray-bg-1;
  &.ti-container-inline-style{
    background-color: unset;
    padding: unset;
    border-radius: unset;
    .ti-item-container{
      flex-direction: row;
      gap: 12px;
    }
    .ti-line{
      display: unset;
    }
    .ti-header{
      @include title-4;
      margin-bottom: 12px;
    }
    .ti-description{
      @include text-3;
      color: $c-stroke;
    }
    .ti-value{
      @include text-3;
      color: $c-blue;
    }
  }
  .ti-line{
    display: none;
  }
}
.ti-item-container{
  display: flex;
  flex-direction: column;
}
.ti-line{
  @include line;
}
.ti-header{
  @include title-5;
  margin-bottom: 24px;
}
.ti-description{
  @include text-1;
  margin-right: 6px;
}
.ti-value{
  @include title-1;
  color: $c-blue;
}
.ti-value-container{
  display: flex;
  margin-top: 2px;
  align-items: center;
}
