@import "@/assets/styles/component.scss";
@import "@/components/segments/feelGPT/FeelGPT.scss";
@import "@/components/SimpleCircleValue.scss";
@import "@/components/table/BaseTable.scss";

.tse-container{
  @include text-2;
  position: relative;
}
.rbt-container{
  th, td{
    padding: 10px 6px;
  }
  th:first-child, td:first-child{
    padding: 10px 6px 10px 12px;
  }
  th:last-child, td:last-child{
    padding: 10px 12px 10px 6px;
  }
  .rbt-th{
    @include title-2;
  }
}
.tse-timestamp{
  white-space: nowrap;
}
.tse-description-overflow{
  .tse-description-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
  }
}
.tse-description{
  display: flex;
  flex-direction: column;
  .tse-description-text{
    @include text-2;
    max-width: 400px;
  }
  .tse-description-labels{
    @include text-1;
  }
}
.tse-circle-value{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  .scv-pie{
    width: 18px;
    height: 18px;
  }
}
.tse-tooltip-container{
  position: fixed;
  display: flex;
  z-index: 2;
  .tse-tooltip-content{
    position: relative;
    padding: 12px 18px;
    border-radius: 12px;
    border: 1px solid $c-stroke;
    background-color: white;
  }
  .tse-tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    margin-left: -7px;
    border-width: 5px;
    border-style: solid;
    border-color: $c-stroke transparent transparent transparent;
  }
}