<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="tse-container" class="tse-container">
      <BaseTable :headers="grid_heads" :rows="rows">
        <template #timeStamp="{row}">
          <div part="tse-timestamp" class="tse-timestamp">{{ row.timeStamp }}</div>
        </template>
        <template #description="{row}">
          <TimeStampEmotionsDescription :row="row" class="tse-description-overflow" @mouseenter="(e) => onShowTooltip(e, row)" @mouseleave="onHideTooltip"/>
        </template>
        <template v-for="header in grid_heads.filter((v, i) => i >= 2)" #[header.fieldName]="{row}">
          <div part="tse-circle-value" class="tse-circle-value">
            <SimpleCircleValue :value="row[header.fieldName]" />
            <div>{{ row[header.fieldName] }}</div>  
          </div>
        </template>
      </BaseTable>
      <div ref="tooltipRef" part="tse-tooltip-container" class="tse-tooltip-container">
        <div v-if="tooltipObject" part="tse-tooltip-content" class="tse-tooltip-content">
          <TimeStampEmotionsDescription :row="tooltipObject"/>
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  channel:{
    required: false,
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.emotionTable),
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import BaseTable from "@/components/table/BaseTable.vue"
import SimpleCircleValue from "@/components/SimpleCircleValue.vue"
import TimeStampEmotionsDescription from "./components/TimeStampEmotionsDescription.vue"
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed, ref} from "vue";
import {convertSecondsToTime, getFeelGPTLabels, getValidSegments} from "@/helpers/segments.js";
import {enumLvaOnlineData} from "@/enums/enumLvaOnlineData.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.emotionTable);

const tooltipRef = ref();
const tooltipObject = ref(null);

const grid_heads = [
  {sortable: false, label: Locale.value.timeStamp, fieldName: 'timeStamp'},
  {sortable: false, label: Locale.value.description, fieldName: 'description'},
  {sortable: false, label: Locale.value.energy, fieldName: 'energy'},
  {sortable: false, label: Locale.value.passion, fieldName: 'passion'},
  {sortable: false, label: Locale.value.emotion, fieldName: 'emotion'},
  {sortable: false, label: Locale.value.uneasy, fieldName: 'uneasy'},
  {sortable: false, label: Locale.value.stress, fieldName: 'stress'},
  {sortable: false, label: Locale.value.thinking, fieldName: 'thinking'},
  {sortable: false, label: Locale.value.confidence, fieldName: 'confidence'},
  {sortable: false, label: Locale.value.concentration, fieldName: 'concentration'},
  {sortable: false, label: Locale.value.engagement, fieldName: 'engagement'},
  {sortable: false, label: Locale.value.hesitation, fieldName: 'hesitation'},
];

const rows = computed(() => {
  const segments = props.value.segments;
  const LVAPos = segments.headersPositions['offlineLVA-value'] || segments.headersPositions['onlineLVA'];

  let validSegments = getValidSegments(segments, props.value.channel);

  const getValue = (segment, header) => segment[segments.headersPositions[header]];
  
  return validSegments.map(segment => {
    
    return {
      timeStamp: convertSecondsToTime(getValue(segment, "startPosSec"))+" - "+convertSecondsToTime(getValue(segment, "endPosSec")),
      description: {
        text: getValue(segment, "speechToText"),
        LVA: LVAPos ? enumLvaOnlineData[segment[LVAPos]] : null,
        feelGPTLabels: getFeelGPTLabels(segment,segments.headersPositions, getTranslate)
      },
      energy: getValue(segment, "EDP-Energetic"),
      passion: getValue(segment, "EDP-Passionate"),
      emotion: getValue(segment, "EDP-Emotional"),
      uneasy: getValue(segment, "EDP-Uneasy"),
      stress: getValue(segment, "EDP-Stressful"),
      thinking: getValue(segment, "EDP-Thoughtful"),
      confidence: getValue(segment, "EDP-Confident"),
      concentration: getValue(segment, "EDP-Concentrated"),
      engagement: getValue(segment, "EDP-Anticipation"),
      hesitation: getValue(segment, "EDP-Hesitation"),
    }
  });
});

const onShowTooltip = (event, row) => {
  const rect = event.target.getBoundingClientRect();
  tooltipRef.value.style.bottom = window.innerHeight - (rect.y - 2)+"px";
  tooltipRef.value.style.left = rect.x+"px";
  tooltipObject.value = row;
}

const onHideTooltip = () => {
  tooltipObject.value = null;
}

function getTranslate(text){
  return Locale.value.feelGPTLabels?.hasOwnProperty(text) ? Locale.value.feelGPTLabels[text] : text;
}

</script>

<style lang="scss" src="./TimeStampEmotions.scss" />
