@import "@/assets/styles/component.scss";
@import "@/components/charts/FourLevelPercentagePie.scss";

.mp-pie-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.mp-pie-item-description{
  @include title-3;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  min-height: 24px;
}
.mp-pie-inner-text{
  @include text-1;
  color: $c-stroke;
  margin-bottom: 4px;
}