<template>
  <div part="mp-pie-item" class="mp-pie-item">
    <FourLevelPercentagePie :value="ratioObject" :showTooltips="showTooltips" :chartBorderColor="chartBorderColor">
      <div part="mp-pie-inner-text" class="mp-pie-inner-text">{{name}}</div>
      <slot></slot>
    </FourLevelPercentagePie>
    <div v-if="showDescription" part="mp-pie-item-description" class="mp-pie-item-description">
      <AttentionIcons :name="resultIcon" />
      <div>{{resultText}}</div>
    </div>
  </div>
</template>

<script setup>
import FourLevelPercentagePie from "@/components/charts/FourLevelPercentagePie.vue";
import AttentionIcons from '@/components/AttentionIcons.vue'

const props = defineProps({
  ratioObject: Object,
  name: String,
  resultText: String,
  resultIcon: String,
  showDescription: {
    type: Boolean,
    default: true,
  },
  showTooltips: {
    type: Boolean,
    default: true,
  },
  chartBorderColor: {
    type: String,
  },
})
</script>

<style lang="scss" src="./ChartItem.scss" />
