@import "@/assets/styles/component.scss";

.mel-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  border: 1px solid $c-stroke;
  gap: 6px;
  flex: 1;
  background-color: $c-white;
}
.mel-no-data{
  background-color: $c-gray-bg-1;
  .mel-dot{
    background-color: $c-stroke!important;
  }
}
.mel-dot{
  min-width: 8px;
  min-height: 8px;
  border-radius: 100%;
  &.mel-anger{
    background-color: $c-red;
  }
  &.mel-stress{
    background-color: $c-orange;
  }
  &.mel-dissatisfaction{
    background-color: $c-pink;
  }
  &.mel-joy{
    background-color: $c-green-1;
  }
  &.mel-sad{
    background-color: $c-blue;
  }
}
.mel-text{
  @include text-1;
  width: 100%;
}
.mel-value{
  @include title-4;
}