<template>
  <div part="mel-container" class="mel-container" :class="{'mel-no-data': value === '-'}">
    <div part="mel-dot" class="mel-dot" :class="{['mel-'+type]: true}" />
    <div part="mel-text" class="mel-text">{{text}}</div>
    <div part="mel-value" class="mel-value">{{ value === '-' ? value : `${value}%` }}</div>
    <AttentionIcons v-if="icon" :name="icon" part="mel-icon" class="mel-icon"/>
  </div>
</template>

<script setup>
import AttentionIcons from "@/components/AttentionIcons.vue";

const props = defineProps({
  type: String, //anger | stress | dissatisfaction | joy | sad
  text: String,
  value: String,
  icon: String,
})

</script>

<style lang="scss" src="./MoodEmotionLine.scss" />
