@import "@/assets/styles/component.scss";
@import "./ChartAtmosphere.scss";
@import "./ChartDiscomfort.scss";
@import "@/components/InsufficientAudioData.scss";

.ap-container{
  display: flex;
  flex-direction: row;
  padding: 24px;
  border: 1px solid $c-stroke;
  gap: 20px;
  height: 100%;
}
.ap-no-data{
  background-color: $c-gray-bg-1;
}
.ap-line{
  @include line;
}