<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ap-container" class="ap-container" :class="{'ap-no-data': !props.atmosphere}">
      <ChartAtmosphere :atmosphere="props.atmosphere" :localeTexts="Locale.atmosphere" :chartBorderColor="props.chartBorderColor" />
      <div part="ap-line" class="ap-line"></div>
      <ChartDiscomfort :discomfort="props.discomfort" :localeTexts="Locale.discomfort" />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  atmosphere: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  discomfort: {
    required: false,
    typeof: "object",
    existProps: ['uneasyEnd', 'uneasyStart']
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.atmosphereProfile)
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChartAtmosphere from "./ChartAtmosphere.ce.vue";
import ChartDiscomfort from "./ChartDiscomfort.ce.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.atmosphereProfile);

</script>

<style lang="scss" src="./AtmosphereProfile.scss" />
