@import "@/assets/styles/component.scss";
@import "./components/AtmospherePercentagePie.scss";
@import "./components/AtmosphereLinearDescription.scss";

.ap-line{
  @include line;
}
.ap-item{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ap-item-title{
  @include title-5;
}
.ap-item-description{
  @include text-1;
}