<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ap-item" class="ap-item">
      <div v-if="props.showHeader" part="ap-item-title" class="ap-item-title">{{Locale.atmosphere}}</div>
      <InsufficientAudioData v-if="!props.atmosphere" :message="Locale.insufficientAudioData" />
      <template v-else>
        <div>
          <AtmospherePercentagePie :value="props.atmosphere" :locale="Locale" :chartBorderColor="props.chartBorderColor" />
        </div>
        <template v-if="props.showDescription">
          <div part="ap-line" class="ap-line"></div>
          <div part="ap-item-description" class="ap-item-description">{{Locale.atmosphereDescription}}</div>
        </template>
        <AtmosphereLinearDescription :localeTexts="Locale" />
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  atmosphere: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.atmosphereProfile.atmosphere)
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import AtmospherePercentagePie from "./components/AtmospherePercentagePie.vue";
import AtmosphereLinearDescription from "./components/AtmosphereLinearDescription.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.atmosphereProfile.atmosphere);

</script>

<style lang="scss" src="./ChartAtmosphere.scss" />
