<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ap-item" class="ap-item">
      <div v-if="props.showHeader" part="ap-item-title" class="ap-item-title">{{Locale.discomfort}}</div>
      <InsufficientAudioData v-if="!props.discomfort" :message="Locale.insufficientAudioData" />
      <template v-else>
        <div>
          <DiscomfortChart :value="props.discomfort" :locale="Locale" />
        </div>
        <template v-if="props.showDescription">
          <div part="ap-line" class="ap-line"></div>
          <div part="ap-item-description" class="ap-item-description">{{Locale.discomfortDescription}}</div>
        </template>
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  discomfort: {
    required: false,
    typeof: "object",
    existProps: ['uneasyEnd', 'uneasyStart']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.atmosphereProfile.discomfort)
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import DiscomfortChart from "./components/DiscomfortChart.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.atmosphereProfile.discomfort);

</script>

<style lang="scss" src="./ChartDiscomfort.scss" />
