@import "@/assets/styles/component.scss";

.gt-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  border: 1px solid $c-stroke;
  border-radius: 12px;
  padding: 18px 24px;
  height: 60px;
  .gt-info-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    height: 21px;
  }
  .gt-block{
    display: flex;
    gap: 12px;
    .gt-name{
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.02em;
      color: $c-stroke;
      text-transform: uppercase;
    }
    .gt-value{
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: -0.02em;
      color: $c-secondary-dark;
      &.gt-main-value{
        font-size: 30px;
      }
    }
  }
  .gt-line{
    min-height: 1px;
    min-width: 1px;
    height: 100%;
    background-color: $c-stroke;
  }
}
