<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="gt-container" class="gt-container">
      <div part="gt-block" class="gt-block">
        <div part="gt-value gt-main-value" class="gt-value gt-main-value">{{props.title}}</div>
      </div>
      <div part="gt-info-block" class="gt-info-block">
        <template v-for="(item, index) in props.info">
          <div v-if="index > 0" part="gt-line" class="gt-line"></div>
          <div part="gt-block" class="gt-block">
            <div part="gt-name" class="gt-name">{{item.name}}:</div>
            <div part="gt-value" class="gt-value">{{item.value}}</div>
          </div>
        </template>
      </div>
    </div>
  </template>
</template>

<script>

const propsDefinition = {
  title: {
    required: true,
    typeof: "string"
  },
  info: {
    required: false,
    typeof: "array",
    validate: (prop) => {
      prop.forEach((item, pIndex) => {
        for(const v of ['name','value']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The info[${pIndex}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);

</script>

<style lang="scss" src="./Title.scss" />
