<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="analysis--wrapper" class="analysis--wrapper">
      <div part="analysis--inner" class="analysis--inner" v-if="props.report">
        <AnalysisChannelReport :name="showOneChannel ? '' : 'Channel 0'" :report="props.report" :channel="0" />
        <div part="analysis-text-container" class="analysis-text-container">
          <div part="analysis-text" class="analysis-text">Analysis Summary Report</div>
        </div>
        <AnalysisChannelReport v-if="!showOneChannel" name="Channel 1" :report="props.report" :channel="1" />
      </div>
    </div>
  </template>
</template>

<script>
const propsDefinition = {
  report: {
    required: true,
    typeof: "object",
    existProps: ['reports', 'segments']
  },
}
</script>
<script setup>
import AnalysisChannelReport from './AnalysisChannelReport.ce.vue'
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";
import {isSecondChannelValid} from "@/utils/emlo.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);

const showOneChannel = computed(() => {
  if(!props.value.report) return true;
  
  return !isSecondChannelValid(props.value.report);
})

</script>

<style lang="scss" src="./AnalysisReport.scss" />
