@use "sass:math";
@import "@/assets/styles/component.scss";
@import "@/assets/styles/varriables";
@import "./AnalysisChannelReport.scss";

.analysis--wrapper {
  container: analysis / inline-size;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(9.53125px);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  .audio-group{
    display: contents;
  }
}

.analysis {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
  height: 100%;

  &--inner{
    display: flex;
    flex-direction: row-reverse;
    padding: pqw(24) pqw(24) pqw(16) pqw(24);
    height: 100%;
    gap: pqw(24);
    > * {
      width: pqw(375);
    }
  }
}
.analysis-text-container{
  display: flex;
  width: pqw(53);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.analysis-text{
  font-size: pqw(46);
  font-weight: 500;
  letter-spacing: pqw(-0.912);
  color: $white;
  transform: rotate(-90deg);
  white-space: nowrap;
  text-transform: uppercase;
}
