@import "@/assets/styles/varriables";
@import "./components/RiskBlocks.scss";
@import "./components/PercentageLine.scss";
@import "./components/CallTags.scss";

.analysis-channel{
  container: analysis-channel / inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $white;
  padding: 0 pqw(24);

  .analysis-channel-title{
    font-size: cqww(24);
    font-weight: 500;
    letter-spacing: cqww(-0.48);
    text-align: center;
  }
  .analysis-channel-diamond{
    padding: cqww(22) 0;
    width: 100%;
  }
  .nms-diamond{
    max-width: 100%;
    margin: 0;
  }
  .analysis-risk{
    margin-bottom: cqww(6);
  }
}
