@import "@/assets/styles/component.scss";
@import "@/components/player/Player.scss";
@import "@/components/player/charts/EmotionLine.scss";

.emotion-player{
  display: flex;
  flex-direction: column;
  gap: 1px;
  position: relative;
}
.ep-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.ep-emotion-name{
  @include text-1;
  flex: none;
  text-align: end;
  line-height: 14px;
  width: 130px;
}
.ep-emotion-value-container{
  width: 100%;
}
.ep-emotion-value{
  display: flex;
  height: 7px;
  flex: 1;
  margin-right: 12px;
}
.ep-emotion-info{
  width: 18px;
  height: 18px;
}
.ep-audio-player{
  margin-top: 10px;
  width: 100%;
}
.audio-player-row-controls{
  width: 124px;
}
.player-time-line{
  margin-right: 6px;
}
.ep-now-playing{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.ep-now-playing-title{
  @include text-2;
  color: $c-stroke;
  flex: none;
  text-align: end;
  width: 130px;
}
.ep-now-playing-name{
  @include text-2;
}