<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <div v-else part="emotion-player" class="emotion-player">
    <template v-for="line in renderOptions.lines">
      <div part="ep-row" class="ep-row">
        <div part="ep-emotion-name" class="ep-emotion-name">{{line.name}}</div>
        <div part="ep-emotion-value-container" class="ep-emotion-value-container">
          <template v-for="lineItem in line.lineItems">
            <div part="ep-emotion-value" class="ep-emotion-value" :style="line.lineHeight ? {height: line.lineHeight + 'px'} : {}">
              <EmotionLine 
                :call-length="renderOptions.totalAudioLength"
                :draw-items="lineItem.drawItems"
                :base-color="lineItem.baseColor" 
                :invertColors="lineItem.invertColors" 
                :tooltip-title="lineItem.tooltipTitle" 
                :tooltip="lineItem.tooltip" 
                :locale="Locale"
              />
            </div>  
          </template>
        </div>
      </div>  
    </template>
    <div part="ep-audio-player" class="ep-audio-player">
      <Player :files="urls" @fileChanged="onFileChanged" :withRisk="props.options?.lines?.riskOnProgressLine" />  
    </div>
    <div v-if="showNowPlaying" part="ep-now-playing" class="ep-now-playing">
      <div part="ep-now-playing-title" class="ep-now-playing-title">{{Locale.nowPlaying}}</div>
      <div part="ep-now-playing-name" class="ep-now-playing-name">{{ sortedFiles[currentPlayFileIndex].text }}</div>
    </div>
  </div>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  options:{
    required: true,
    typeof: "object",
    default: {
      files: [], //[base64,...] or [url,...] or [{id: '...', url: ..., text: ...}, ...] 
      lines: {
        baseColor: "#000000", //baseColor: "#DFE3EF",
        invertColors: false, //for light baseColor - true;   for black - false
        riskOnProgressLine: false,
      },
      segments: {},
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.emotionPlayer)
  },
}
</script>
<script setup>
import {initializeNewInstance, instance} from '@/components/player/helpers/playerStore.js';
initializeNewInstance();
const {
  selectedAreaPlaying,
  selectedArea,
  selectedAreaContinuePlaying,
  currentTooltipSegment,
  validSegments,
  headersPositions,
} = instance.value;

import Player from "@/components/player/Player.ce.vue";
import EmotionLine from "@/components/player/charts/EmotionLine.vue";

import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {getRenderOptions} from "./helpers/renderOptionsHelper.js";
import {computed, onMounted, onUnmounted, ref, watch} from "vue";
import {getValidSegments} from "@/helpers/segments.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.emotionPlayer);

const currentPlayFileIndex = ref(0);
const renderOptions = getRenderOptions(props, Locale);

const showNowPlaying = computed(() => {
  return props.value.options?.files?.length > 1 
    && typeof props.value.options?.files[0] === 'object';
})

watch([() => props.value.options?.segments], () => {
  headersPositions.value = props.value.options?.segments?.headersPositions;
  validSegments.value = getValidSegments(props.value.options?.segments);
}, {immediate: true})

const sortedFiles = computed(() => {
  const files = props.value.options?.files;
  if(!Array.isArray(files) || files.length === 0) return [];
  if(typeof files[0] === 'string') return files.map(u => ({url: u}));
  if(!props.value.options?.segments) return files;
  const questionPos = props.value.options?.segments.headersPositions?.question;
  if(!questionPos && questionPos !== 0) return files;
  //sort files in order as segment questions
  const validSegmentPosId = props.value.options?.segments.headersPositions.validSegment;
  const data = props.value.options?.segments.data.filter(seg => seg[validSegmentPosId]);
  const uniqueSortedIds = [...new Set(data.map(item => item[questionPos]))];
  const _sortedFiles = [];
  uniqueSortedIds.forEach(uId => {
    const file = files.find(f => f.id === uId);
    if(!file) throw `There is no match between options.files and options.segments. File with id ${uId} not found.`;
    _sortedFiles.push(file);
  })
  return _sortedFiles;
})

const urls = computed(() => {
  return sortedFiles.value.map(f => f.url);
})

function onFileChanged(index){
  currentPlayFileIndex.value = index;
}

onMounted(() => {
  window.addEventListener('mousemove', onWindowMouseMove);
  window.addEventListener('mouseup', onWindowMouseUp);
})

onUnmounted(() => {
  window.removeEventListener('mousemove', onWindowMouseMove);
  window.removeEventListener('mouseup', onWindowMouseUp);
})

function onWindowMouseMove(e) {
  if(selectedArea.value.selecting) {
    e.preventDefault();
    selectedArea.value.to = selectedArea.value.from + (e.clientX - selectedArea.value.clientXFrom);
  }
}

function onWindowMouseUp(e) {
  if(selectedArea.value.selecting){
    const from = Math.min(selectedArea.value.from, selectedArea.value.to);
    const to = Math.max(selectedArea.value.from, selectedArea.value.to);

    selectedArea.value.selecting = false;
    selectedArea.value.from = from;
    selectedArea.value.to = to;

    if(to - from > 3){
      selectedAreaPlaying.value = true;
    }
    else {
      if(currentTooltipSegment.value){
        selectedArea.value.from = currentTooltipSegment.value.start;
        selectedArea.value.to = currentTooltipSegment.value.end;
        selectedAreaPlaying.value = true;
      }
      // else do not play
    }
  }
}

</script>

<style lang="scss" src="./EmotionPlayer.scss" />
