$white: #fff;
$gray: #E3E3E3;
$green: #8BC541;
$black-bg: rgba(0, 0, 0, 0.6);
$red: #fb290d;
$orange: #ff8528;
$player-control-bg: #2e2e2e;
$timeline-bg: #979797;
$timeline-active-bg: #ebebeb;
$audio-wave: #12e2dc;
$emotional-gray: #a7a8a4;
$timecode: #ff8629;
