@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

@mixin roboto-font {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

@mixin inter-font {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

@mixin font-18 {
  @include roboto-font;
  font-size: 18px;
}

@mixin shade-font {
  @include roboto-font;
  font-weight: 500;
  font-size: 40px;
}

@mixin diamond-label {
  @include inter-font;
  font-weight: 400;
  line-height: 17px;
}

@mixin current-emotional-style-title {
  @include roboto-font;
  font-weight: 300;
  font-size: 19px;
  line-height: 22px;
}

@mixin current-emotional-style-text {
  @include roboto-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

@mixin time-code-text {
  @include roboto-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

@mixin lva-online-status {
  @include roboto-font;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}
