@import './colors.scss';

@mixin time-code-line {
  height: 40px;
  background-color: $orange;
}

@mixin time-code-big-line {
  @include time-code-line;
  width: 100%;
  clip-path: polygon(0 25%, 95% 25%, 100% 50%, 95% 75%, 0 75%);
}

@mixin time-code-small-line {
  @include time-code-line;
  width: 59px;
  clip-path: polygon(0 25%, 90% 25%, 100% 50%, 90% 75%, 0 75%);
}
