@use "sass:math";
@import "colors";

$rootWidth: 1220;
$sidebarWidth: 326;
$sidebarWrapperWidth: $sidebarWidth + 24 * 2;
$indicationWidth: $rootWidth - $sidebarWrapperWidth;

@function cqw($value) {
  @return #{math.div($value,$sidebarWidth) * 100}cqw;
}

@function cqww($value) {
  @return #{math.div($value,$sidebarWrapperWidth) * 100}cqw;
}

@function pqw($value) {
  @return #{math.div($value, $rootWidth) * 100}cqw;
}

@function iqw($value) {
  @return #{math.div($value, $indicationWidth) * 100}cqw;
}

