<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <PriorityHalfPie :name="Locale.finalPriority" :value="props.finalCallPriority" :low-zone="40" :medium-zone="75" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  finalCallPriority: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['finalPriority'],
  },
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import PriorityHalfPie from "./components/PriorityHalfPie.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.callPriority);

</script>

<style lang="scss" src="./ChannelCallMaxPriority.scss" />
