@import "@/assets/styles/component.scss";
@import "./ChannelCallTonePriority.scss";
@import "./ChannelCallMaxPriority.scss";
@import "./ChannelCallFinalPriority.scss";
@import "@/components/InsufficientAudioData.scss";

.ch-cp-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid $c-stroke;
}
.ch-cp-no-data{
  height: 100%;
  background-color: $c-gray-bg-1;
}
.ch-cp-header{
  @include title-5;
  color: $c-secondary-dark;
}
.ch-cp-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}