<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ch-cp-container" class="ch-cp-container" :class="{'ch-cp-no-data': !props.callPriority}">
      <div part="ch-cp-header" class="ch-cp-header">{{Locale.callPriority}}</div>
      <InsufficientAudioData v-if="!props.callPriority" :message="Locale.insufficientAudioData" />
      <div v-else part="ch-cp-content" class="ch-cp-content">
        <ChannelCallTonePriority :tonePriority="props.callPriority?.tonePriority" :localeTexts="Locale" />
        <ChannelCallMaxPriority :maxCallPriority="props.callPriority?.maxCallPriority" :localeTexts="Locale" />
        <ChannelCallFinalPriority :finalCallPriority="props.callPriority?.finalCallPriority" :localeTexts="Locale" />
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  callPriority: {
    required: false,
    typeof: "object",
    existProps: ['finalCallPriority','maxCallPriority','tonePriority'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.callPriority),
  },
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChannelCallFinalPriority from "./ChannelCallFinalPriority.ce.vue";
import ChannelCallMaxPriority from "./ChannelCallMaxPriority.ce.vue";
import ChannelCallTonePriority from "./ChannelCallTonePriority.ce.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.callPriority);

</script>

<style lang="scss" src="./ChannelCallPriority.scss" />
