@import "@/assets/styles/varriables";
.ces {
  container: ces / inline-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  line-height: 1.15;

  svg {
    height: auto;
  }

  &-title{
    color: $gray;
  }
}

$bracketWidth: 31;
$fontSizeTitle: 15;
$fontSizeValue: 20;

.ces {
  svg {
    width: cqw($bracketWidth);
  }

  &-title {
    font-size: cqw($fontSizeTitle);
  }

  &-value {
    margin-top: cqw(8);
    font-size: cqw($fontSizeValue);
  }
}
