@import "@/assets/styles/varriables";
.emotions {
  container: emotions / inline-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  color: $white;
  line-height: 1.15;

  svg {
    height: auto;
  }

  &-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.25;

    &.active{
      opacity: 1;
    }

    &-title{
      color: $white;
    }
  }
}

$iconWidth: 36;
$fontSize: 12;

.emotions {
  svg {
    width: cqw($iconWidth);
  }

  &-item{
    &-title {
      font-size: cqw($fontSize);
      margin-top: cqw(5);
    }
  }
}

