@use "sass:math";
@import "@/assets/styles/varriables";


.lva{
  &-wrapper{
    container: lva / inline-size;

    &.is-audio{
      .lva{
        font-size: pqw(24);
        height: pqw(47);
      }
    }
  }

  font-size: cqww(24);
  height: cqww(47);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 1;
  font-weight: 700;
}
