@use "sass:math";
@import "@/assets/styles/varriables";
@import "CurrentEmotionalStyle.ce";
@import "Emotions.ce";
@import "TimeCode.ce";

.sidebar--wrapper {
  container: sidebar / inline-size;
  background: black;
  backdrop-filter: blur(9.53125px);
  box-sizing: border-box;
  height: 100%;

  .audio-group{
    display: contents;
  }

  &.is-audio {
    .audio-group{
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: pqw(420);
      width: pqw(420);
    }

    background: transparent;
    backdrop-filter: none;
    height: 100%;
    width: 100%;

    .sidebar{
      &--inner{
        height: 100%;
        width: 100%;
        padding: 0 pqw(83);
        display: flex;
        align-items: center;
      }
      &--distress{
        margin-top: pqw(24);
        height: pqw(28);
        font-size: pqw(24);
      }
      .audio-group{
        padding-bottom: pqw(52);  
      }
      height: auto;
      flex-direction: row;
      justify-content: space-between;
    }

    .nms-diamond{
      max-width: pqw(560);
      order: -1;
      margin: 0;
    }
    .nms-current-emotional-style{
        //margin-top: pqw(151);
    }
    .nms-emotions,
    .nms-timecode {
      margin-top: pqw(48);
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: 100%;

  &--inner{
    padding: #{math.div(24, $sidebarWrapperWidth) * 100}cqw;
    padding-bottom: 0;
    height: 100%;
  }

  * {
    width: 100%;
  }
}

.nms-current-emotional-style{
  order: 1;
}

.nms-emotions {
  order: 2;
  margin-top: cqw(45);
}

.nms-diamond {
  order: 3;
  margin-top: cqw(45);
  .sidebar--distress{
    margin-top: 0;
  }
}

.nms-timecode {
  order: 4;
  margin-top: cqw(45);
}

.sidebar--distress{
  order: 5;
  font-size: cqw(24);
  margin-top: cqw(45);
  font-weight: 700;
  line-height: 1;
  letter-spacing: cqw(-0.48);
  text-transform: uppercase;
  color: #FF0200;
  text-align: center;
}

.nms-lva-online {
  order: 6;
  margin-top: auto;
  width: auto;
  margin-left: #{math.div(-24, $sidebarWrapperWidth) * 100}cqw;
  margin-right: #{math.div(-24, $sidebarWrapperWidth) * 100}cqw;
}
