@use "sass:math";
@import "@/assets/styles/varriables";


.stt{
  &-wrapper{
    background: rgba(0, 0, 0, 0.75);
    color: $white;
    container: lva / inline-size;

    &.is-audio{
      .stt{
        font-size: pqw(21);
        height: pqw(47);
      }
    }
  }

  font-size: iqw(21);
  height: iqw(47);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 1;
  font-weight: 400;
}
