<template>
  <div v-if="text" class="stt-wrapper" :class="{'is-audio': type === 'audio'}">
    <div class="stt">
      {{ text }}
    </div>
  </div>
</template>
<script setup>

const props = defineProps([
  'text',
  'type'
])

</script>
<style src="./Stt.ce.scss"></style>
