@use "sass:math";
@import "@/assets/styles/varriables";

$itemsCount: 4;
$lineWidth: 37;
$lineHeight: 17;
$lineFontSize: 12;
$limeMargin: 16;

@function cqw($value) {
  @return #{math.div($value, $sidebarWidth) * 100}cqw;
}

.timecode {
  &-wrapper{
    container: timecode / inline-size;
  }
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: cqw(($lineHeight + $limeMargin) * $itemsCount - $limeMargin);

  &-item{
    $item: &;
    display: flex;
    align-items: center;
    position: relative;
    color: $white;
    font-size: cqw($lineFontSize);
    line-height: cqw($lineHeight);

    &:not(:last-of-type){
      margin-bottom: cqw($limeMargin);
      width: 100%;
    }

    &-line{
      font-style: normal;
      height: cqw($lineHeight);
      font-weight: 500;
      background-color: #ff8528;
      width: 100%;
      clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
      transform: scaleX(1);
      transform-origin: right;
      animation: line 1s linear, 1s endLine 1s linear;
      animation-fill-mode: forwards;
      display: flex;
      align-items: center;
    }

    &.is-typing{
      #{$item}-line{
        min-width: cqw($lineWidth);
      }
      #{$item}-badge{
        display: inline-block;
        overflow: hidden;
        animation: typingTimeCodeBadge 1s steps(40, end);
        white-space: nowrap;
        width: 100%;
        font-weight: 400;
        font-size: cqw($lineFontSize - 1);
        padding-left: cqw(2);
      }

      #{$item}-text{
        padding-left: cqw(5);
        height: cqw($lineHeight);
        span{
          display: inline-block;
          overflow: hidden;
          animation: typingTimeCodeBadge 1s steps(40, end);
          white-space: nowrap;
          width: 100%;
        }
      }
    }
  }
}

@keyframes line {
  0% {
    transform: scaleX(0);
    width: 100%;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes endLine {
  0% {
    width: 100%;
  }
  100% {
    height: cqw($lineHeight);
    background-color: #ff8528;
    width: cqw($lineWidth);
    clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);
  }
}

@keyframes typingTimeCodeBadge {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

