@import "@/assets/styles/component.scss";

.rbt-container {
  width: 100%;
  background-color: $c-white;
  border-radius: 20px;
  overflow: auto;
  position: relative;
  border: 1px solid $c-stroke;
  table{
    width: 100%;
    position: relative;
    border-spacing: 0;
    border-collapse: separate;
    background: $c-white;
  }
  th, td{
    padding: 10px 20px;
  }
  td{
    padding-top: 12px;
    padding-bottom: 13px;
  }
  .rbt-th-sm{
    width: 1px;
  }
  .rbt-th-w-datetime{
    width: 170px;
  }
  .rbt-th-w-date{
    width: 140px;
  }
  .rbt-th-w-status{
    width: 120px;
  }
  .rbt-th{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 2px;
    min-height: 29px;
  }
  tbody td{
    border-top: 1px solid $c-stroke;
  }
  .rbt-filter-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 8px;
    &.rbt-up{
      transform: rotate(0deg);
    }
    &.rbt-down{
      transform: rotate(180deg);
    }
  }
  td.rbt-filterable{
    padding-left: 53px;
  }
  td.rbt-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rbt-quick-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .rbt-action + .rbt-action {
      margin-left: 15px;
    }
    .rbt-action{
      cursor: pointer;
    }
  }

  .rbt-small-col {
    width: 1px;
  }

  .rbt-fake-row td{
    height: 60px;
  }

  .rbt-th {
    color: $c-main-dark;
  }

  tbody tr:nth-child(even) {
    background-color: $c-gray-bg-1;
    border-color: $c-stroke;
  }

  thead th {
    border-color: $c-stroke;
    background-color: $c-gray-bg-2;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .rbt-position-relative{
    position: relative;
  }
  
  .rbt-f-r-c{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}