<template>
  <div>
    <div part="rbt-container" class="rbt-container">
      <table>
        <thead>
        <tr :style="trStyle">
          <template :key="header" v-for="header in headers">
            <slot :name="'header.'+header.fieldName" :header="header">
              <th :class="header.class">
                <div class="rbt-th">
                  <div v-if="header.sortable" @click="changeColumnSort(header.fieldName)">
                    <div class="rbt-filter-icon" v-if="getFieldOrderByName(header.fieldName).rule === 'desc'">^</div>
                    <div class="rbt-filter-icon" v-else>v</div>
                  </div>
                  {{ header.label }}
                </div>
              </th>
            </slot>
          </template>
        </tr>
        </thead>
        <tbody class="rbt-position-relative">
          <tr v-if="loading && !rowsData?.length" class="rbt-fake-row"><td></td></tr>
          <tr v-if="!loading && !rowsData?.length" class="rbt-fake-row"><td :colspan="headers.length"><slot name="noData"></slot></td></tr>

          <tr :key="key" v-for="(row, key) in rowsData" @click="$emit('rowClicked', {key, row})" :style="row['_style']" :class="row['_class']">

            <td v-for="header in headers" :class="{
              'rbt-filterable': header.sortable,
              [header.rowClass]: header.rowClass,
            }">
              <slot :name="header.fieldName" :row="row" :header="header">
                <div class="rbt-f-r-c">
                  {{ row[header.fieldName] }}
                </div>
              </slot>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<!--    <BaseTablePagination v-if="pagination" class="my-3" :total-rows="paginationTotalRows || (rows || []).length" v-model:data-filter="filter"/>-->
  </div>
</template>

<script setup>
import { ref, computed, watch, onMounted } from 'vue';
//import BaseTablePagination from "./BaseTablePagination.vue";

const props = defineProps({
  headers: Array, //[{ class, sortable, fieldName, label, rowClass]
  rows: Array,
  dataFilter: Object,
  dataParams: Object,
  trStyle: String,
  pagination: Boolean,
  paginationTotalRows:{
    type: Number,
    default: 0
  },
  searchableFields: { //only for not asyncData
    type: Array,
    default: ['name'],
  },
  sortOptions: { //only for not asyncData
    type: Object,
    default: {}, // {fieldName: {sort: Function}}
  },
  asyncData: Boolean, //true: search and sort do request;   false - work with local data
  loading: {
    type: Boolean,
    default: false
  },
})

const emit = defineEmits(['rowClicked', 'loadData', 'update:dataFilter', 'update:dataParams', 'rowsDataForExport'])

const searchTimeout = ref(null);
const _filter = ref({});
const _filterParams = ref((() => {
  const _params = {orderBy: undefined}; //{fieldName: '', rule: 'asc'}
  if(props.searchableFields) _params.searchFields = props.searchableFields;
  return _params;
})());

const filterParams = computed({
  get: function (){
    return props.dataParams ? props.dataParams : _filterParams.value;
  },
  set: function (value) {
    if(props.dataParams) emit('update:dataParams', value);
    else _filterParams.value = value;
  }
});

const filter = computed({
  get: function (){
    return props.dataFilter ? props.dataFilter : _filter.value;
  },
  set: function (value) {
    if(props.dataFilter) emit('update:dataFilter', value);
    else _filter.value = value;
  }
});

const rowsDataForExport = computed(() => {
    if (props.asyncData){
      return props.rows;
    }

    const data = props.rows?.filter((row) => {
      const search = filter.value?.query?.toString().toLowerCase() || '';
      if(search === '') return true;
      return props.searchableFields.some((fieldName) => row[fieldName].toString().toLowerCase().includes(search));
    });

    if(Array.isArray(filterParams.value.orderBy)){
      filterParams.value.orderBy.forEach((item) => {
        data.sort(
            props.sortOptions[item.fieldName]
                ? (a, b) => {return props.sortOptions[item.fieldName].sort(a, b, item.rule)}
                : (a, b) => {return defaultSort(a, b, item)}
        );
      })
    }

    return data;

});

const rowsData = computed(() => {
    if(props.asyncData){
      return props.rows;
    }

    const data = rowsDataForExport.value || [];

    if(!!props.pagination){
      const page = filter.value?.page || 1
      const total = filter.value?.limit || 20
      const from = (page - 1) * total
      const to = from + total
      return [...data].slice(from, to)
    }

    return data;
})

onMounted(() => {
  filter.value = {
    ...filter.value,
    page: 1,
    limit: 20,
  };

  if (props.dataFilter) {
    watch(() => filter.value.query, () => {
      if (props.asyncData) {
        if (!searchTimeout.value) setSearchTimeout();
        else {
          clearTimeout(searchTimeout.value);
          setSearchTimeout();
        }
      }
    });
  }
  if (!props.dataFilter) {
    loadData(); //for fix initial loading without filter
  }
})
    
watch(() => filterParams, () =>{
  if(!searchTimeout.value) loadData();
}, { deep: true });

watch(() => filter, () =>{
  if(!searchTimeout.value) loadData();
}, { deep: true });

watch(rowsDataForExport, r => {
  emit('rowsDataForExport', r);
}, {
  immediate: true
});



function loadData(){
  emit('loadData', filter.value, filterParams.value);
}

function getFieldOrderByName(fieldName){
  const defaultObj = {fieldName: fieldName, rule: 'asc'};

  if(Array.isArray(filterParams.value.orderBy)) return filterParams.value.orderBy.find((item) => item.fieldName === fieldName) || defaultObj;
  return defaultObj;
}

function setSearchTimeout(){
  filter.value.page = 1;
  searchTimeout.value = setTimeout(() => {
    loadData();
    searchTimeout.value = null;
  }, 500);
}

function changeColumnSort(fieldName) {
  const hasOrder = Array.isArray(filterParams.value.orderBy) && filterParams.value.orderBy.length > 0;
  const isSameFieldName = hasOrder && filterParams.value.orderBy[0].fieldName === fieldName;

  filterParams.value.orderBy = [{
    fieldName: fieldName,
    rule: hasOrder && isSameFieldName && filterParams.value.orderBy[0].rule === 'asc' ? 'desc' : 'asc'
  }];
}

function defaultSort(a, b, orderItem) {
  const sortValue = orderItem.rule === 'asc' ? 1 : -1;
  let _a = a[orderItem.fieldName];
  let _b = b[orderItem.fieldName];

  //for fix comparison string with null|undefined and etc.
  if(!_a) _a = '';
  if(!_b) _b = '';

  if(_a > _b) return sortValue;
  if(_a < _b) return -sortValue;
  return 0;
}
</script>

<style lang="scss" src="./BaseTable.scss" />