@import "@/assets/styles/component.scss";

.chart {
  > * {
    width: 200px;
    height: 100px;
  }
}
.priority-pie-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.priority-pie-item{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.priority-pie-description{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.priority-pie-value{
  @include title-7;
}
.priority-pie-name{
  @include text-3;
  color: $c-stroke;
}
.priority-pie-range{
  @include text-1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $c-stroke;
}
.priority-pie-range-start{
  margin-left: 12px;
}
.priority-pie-range-end{
  margin-right: 7px;
}