<template>
  <div part="priority-pie-container" class="priority-pie-container">
    <div part="priority-pie-item" class="priority-pie-item">
      <v-chart part="chart" class="chart" :option="option" autoresize />
      <div part="priority-pie-description" class="priority-pie-description">
        <div part="priority-pie-value" class="priority-pie-value" :style="{color: currentColor}">{{value === undefined ? "-" : value}}</div>
        <div part="priority-pie-name" class="priority-pie-name">{{name}}</div>
      </div>
    </div>
    <div part="priority-pie-range" class="priority-pie-range">
      <div part="priority-pie-range-start" class="priority-pie-range-start">0</div>
      <div part="priority-pie-range-end" class="priority-pie-range-end">100</div>
    </div>
  </div>
</template>

<script setup>
import { use } from 'echarts/core';
import { CanvasRenderer } from 'echarts/renderers';
import { PieChart } from 'echarts/charts';
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent,
} from 'echarts/components';
import VChart from 'vue-echarts';
import { computed } from 'vue';

use([
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
]);

const props = defineProps({
  name: String,
  value: Number,
  lowZone: Number,
  mediumZone: Number
});

const low = "#8BC541";
const medium = "#FFC700";
const high = "#FF0000";
const noData = "#45557D";

const currentColor = computed(() => {
  if(props.value === undefined) return noData;
  if(props.value < props.lowZone) return low;
  if(props.value < props.mediumZone) return medium;
  return high;
})

const option = computed(() => ({
  tooltip: {
    show: false,
  },
  legend: {
    show: false,
    selectedMode: false
  },
  grid: {
    left: "0",
    top: "0",
    right: "0",
    bottom: "0",
  },
  series: [
    {
      type: 'pie',
      radius: ['185%', '200%'],
      center: ['50%', '100%'],
      startAngle: 180,
      left: '0',
      top: '0',
      right: '0',
      emphasis:{
        disabled: true,
      },
      label: {
        show: false,
      },
      labelLine: {
        show: false
      },
      data: [
        { value: props.value, itemStyle: {color: currentColor.value} },
        { value: 100 - props.value, itemStyle: {color: 'transparent'} },
        {  
          // make an record to fill the bottom 50%
          value: 100,
          itemStyle: { color: 'none', decal: { symbol: 'none' } },
          label: { show: false }
        }
      ]
    },
    {
      type: 'pie',
      radius: ['150%', '185%'],
      center: ['50%', '100%'],
      startAngle: 180,
      left: '0',
      top: '0',
      right: '0',
      emphasis:{
        disabled: true,
      },
      label: {
        show: false,
      },
      labelLine: {
        show: false
      },
      data: [
        { value: props.lowZone, itemStyle: {color: '#DBE5CE' } },
        { value: props.mediumZone - props.lowZone, itemStyle: {color: '#F0E7C8' } },
        { value: 100 - props.mediumZone, itemStyle: {color: '#ECD2D2'} },
        {
          // make an record to fill the bottom 50%
          value: 100,
          itemStyle: { color: 'none', decal: { symbol: 'none' } },
          label: { show: false }
        }
      ]
    }
  ]
}));
</script>

<style lang="scss" src="./PriorityHalfPie.scss" />