@import "@/assets/styles/component.scss";
@import "./ChannelClassification.scss";
@import "./ChannelSatisfactionScore.scss";
@import "./ChannelPriorityReductionScore.scss";
@import "./ChannelSegmentsVolume.scss";
@import "./ChannelFinal10SegmentsAnalysis.scss";
@import "@/components/InsufficientAudioData.scss";

.cs-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cs-container-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}
.cs-no-data{
  background-color: $c-gray-bg-1;
}
.insufficient-audio-data{
  border: 1px solid $c-stroke;
}