<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="sv-container" class="sv-container">
      <div part="sv-item" class="sv-item">
        <div part="sv-item-title" class="sv-item-title">{{Locale.segmentCount}}</div>
        <div part="sv-item-value" class="sv-item-value">{{segments}}</div>
      </div>
      <div part="sv-line" class="sv-line"></div>
      <div part="sv-item" class="sv-item">
        <div part="sv-item-title" class="sv-item-title">{{Locale.volumeAverage}}</div>
        <div part="sv-item-value" class="sv-item-value">{{volume}}</div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  segmentsCount: {
    required: false,
    typeof: "number",
  },
  volumeAverage: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.segmentsVolume),
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.segmentsVolume);

const segments = computed(() => {
  if(props.value.segmentsCount === undefined) return '-';
  return props.value.segmentsCount;
})
const volume = computed(() => {
  if(props.value.volumeAverage === undefined) return '-';
  return props.value.volumeAverage;
})

</script>

<style lang="scss" src="./ChannelSegmentsVolume.scss" />
