<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <SimpleBadge :class="{'chb-active' : hesitation <= 35 || hesitation >= 65}" :title="Locale.hesitation" :value="hesitation" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  hesitation: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.badges.simpleHesitation),
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import SimpleBadge from "./components/SimpleBadge.vue"
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.badges.simpleHesitation);

const hesitation = computed(() => {
  return props.value.hesitation;
})

</script>

<style lang="scss" src="./ChannelHesitationBadge.scss" />
