@import "@/assets/styles/component.scss";

.sv-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sv-item{
  @include text-1;
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.sv-item-title{
 
}
.sv-line{
 @include line;
}
.sv-item-value{
  color: $c-blue;
}