<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <SimpleBadge :class="{'ceb-active' : engagement >= 30}" :title="Locale.engagement" :value="engagement" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  engagement: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.badges.simpleEngagement),
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import SimpleBadge from "./components/SimpleBadge.vue"
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.badges.simpleEngagement);

const engagement = computed(() => {
  return props.value.engagement;
})

</script>

<style lang="scss" src="./ChannelEngagementBadge.scss" />
