<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.channelClassification : ''"
      :icon="description.icon"
      :text="description.text"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  code: {
    required: false,
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.channelClassification),
    validate: (obj) => {
      for(const v of Object.keys(mainLocale.channelClassification.callTypes)){
        if(obj.callTypes[v] === undefined){
          return { isValid: false, message: `The object localeTexts.callTypes is invalid! Property ${v} is missing.`}
        }
      }
    }
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.channelClassification);

const description = computed(() => {
  if(props.value.code === undefined) return {text: '-', icon: null};
  
  let icon;
  switch (props.value.code){
    case "angerCall": icon = 'exclamation-orange'; break;
    case "midPriority": icon = 'warning-red'; break;
    case "highPriority": icon = 'warning-red'; break;
    case "stressCall": icon = 'exclamation-orange'; break;
    case "dissatisfactionCall": icon = 'exclamation-orange'; break;
    case "energyIrregularity": icon = 'exclamation-orange'; break;
    case "normalCall": icon = 'check-success'; break;
    case "tooShort": icon = 'warning-gray'; break;
    case "tonePriorityMedium": icon = 'exclamation-orange'; break;
    case "tonePriorityHigh": icon = 'exclamation-orange'; break;
    default: icon = null;
  }

  return {text: Locale.value.callTypes[props.value.code], icon: icon};
});

</script>

<style lang="scss" src="./ChannelClassification.scss" />
