<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.satisfactionScore : ''"
      :icon="description.icon"
      :text="description.text"
      :score="cscScore"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  cscScore: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.satisfactionScore),
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.satisfactionScore);

const description = computed(() => {
  if(props.value.cscScore === undefined) return {text: '-', icon: null};
  
  if(props.value.cscScore < 0) return {text: Locale.value.low, icon: 'exclamation-orange'};
  if(props.value.cscScore >= 0 && props.value.cscScore <= 2) return {text: Locale.value.normal, icon: 'check-success'};
  return {text: Locale.value.high, icon: 'check-success'};
});

</script>

<style lang="scss" src="./ChannelSatisfactionScore.scss" />
