@import "@/assets/styles/component.scss";

.ch-edp-container{
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 18px;
  background-color: $c-gray-bg-1;
}
.ch-edp-line{
  @include line;
}
.ch-edp-item-container{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 4px 0;
}
.ch-edp-item-name{
  @include text-3;
}
.ch-edp-item-value{
  @include text-3;
  color: $c-main-dark;
}
.ch-edp-item-value-alert{
  background-color: #FF00000D;
  .ch-edp-item-value {
    color: $c-red;
  }
}