<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <SimpleBadge :class="{'cdb-active' : distress > 0}" :title="Locale.distress" :value="distress" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  cognitiveActivity: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.badges.simpleDistress),
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import SimpleBadge from "./components/SimpleBadge.vue"
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.badges.simpleDistress);

const distress = computed(() => {
  const value = Math.round((props.value.cognitiveActivity - 1200) / 30);
  if(value < 0) return 0;
  if(value > 100) return 100;
  return value;
})

</script>

<style lang="scss" src="./ChannelDistressBadge.scss" />
