<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.final10SegmentsAnalysis : ''"
      :icon="description.icon"
      :text="description.text"
      :score="final10Score"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  final10Score: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.final10SegmentsAnalysis),
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.final10SegmentsAnalysis);

const description = computed(() => {
  if(props.value.final10Score === undefined) return {text: '-', icon: null};
  if(props.value.final10Score >= 2 && props.value.final10Score <= 10) return {text: Locale.value.positive, icon: 'check-success'};
  if(props.value.final10Score >= -5 && props.value.final10Score <= -1) return {text: Locale.value.negative, icon: 'warning-red'};
  if(props.value.final10Score >= 0 && props.value.final10Score <= 1) return {text: Locale.value.neutral, icon: null};
  if(props.value.final10Score >= -10 && props.value.final10Score <= -6) return {text: Locale.value.extreme, icon: 'warning-red'};
});

</script>

<style lang="scss" src="./ChannelFinal10SegmentsAnalysis.scss" />
