<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ValueScoreHeader
      :header="props.showHeader ? Locale.priorityReductionScore : ''"
      :icon="description.icon"
      :text="description.text"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  channelMaxPriority: {
    required: false,
    typeof: "number",
  },
  channelFinalPriority: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.priorityReductionScore),
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps, (_props) => {
  if(_props.channelMaxPriority === undefined && _props.channelFinalPriority !== undefined) return { isValid: false, message: `The channelMaxPriority is missing!`};
  if(_props.channelMaxPriority !== undefined && _props.channelFinalPriority === undefined) return { isValid: false, message: `The channelFinalPriority is missing!`};
});

const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.priorityReductionScore);

const description = computed(() => {
  if(props.value.channelMaxPriority === undefined && props.value.channelFinalPriority === undefined) 
    return {text: '-', icon: null};

  const mmf = props.value.channelMaxPriority - props.value.channelFinalPriority;
  if(mmf > 20) return {text: Locale.value.high, icon: 'check-success'};
  if(props.value.channelMaxPriority > 40 && mmf < 10) return {text: Locale.value.low, icon: 'exclamation-orange'};
  return {text: Locale.value.normal, icon: 'check-success'};
});

</script>

<style lang="scss" src="./ChannelPriorityReductionScore.scss" />
