<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ch-edp-container" class="ch-edp-container">
      <template v-for="(value, index) in sortedEdp">
        <div v-if="index !== 0" part="ch-edp-line" class="ch-edp-line"></div>
        <div part="ch-edp-item-container" class="ch-edp-item-container" :class="{'ch-edp-item-value-alert': alertingKeys.includes(value.key)}">
          <div part="ch-edp-item-name" class="ch-edp-item-name">{{Locale[value.key]}}</div>
          <div part="ch-edp-item-value" class="ch-edp-item-value">{{value.value}}%</div>
        </div>
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  edp: {
    required: true,
    typeof: "object",
    existProps: [],
    validate: (obj) => {
      for(const v of Object.keys(obj)){
        if(v.indexOf('EDP-') !== 0){
          return { isValid: false, message: `The property edp.${v} is invalid! Each property mist start with 'EDP-'.`}
        }
      }
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.edp),
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.edp);

const alertingKeys = computed(() => {
  const edp = props.value.edp;
  const values = Object.values(edp).sort().reverse();
  const maxs = values.slice(0, 2);
  return Object.keys(edp).filter(key => maxs.includes(edp[key])).slice(0, 2);
})

const sortOrder = [
  "EDP-Energetic",
  "EDP-Passionate",
  "EDP-Emotional",
  "EDP-Uneasy",
  "EDP-Stressful",
  "EDP-Thoughtful",
  "EDP-Confident",
  "EDP-Concentrated",
  "EDP-Anticipation",
  "EDP-Hesitation",
]

const sortedEdp = computed(() => {
  return sortOrder.map((key) => {
    return {
      value: props.value.edp[key],
      key: key,
    }
  });
})

</script>

<style lang="scss" src="./ChannelEDP.scss" />
