<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <InsufficientAudioData v-if="!props.summaryChannel" :message="Locale.channelClassification.insufficientAudioData" />
    <div v-else part="cs-container" class="cs-container">
      <div part="cs-container cs-no-data" :class="{'cs-container': true, 'cs-no-data': !props.summaryChannel}">
        <div part="cs-container-row" class="cs-container-row">
          <ChannelClassification :code="props.summaryChannel?.code" :localeTexts="Locale.channelClassification" />
          <ChannelSatisfactionScore :csc-score="props.summaryChannel?.CSCscore" :localeTexts="Locale.satisfactionScore" />
          <ChannelPriorityReductionScore :channelMaxPriority="props.summaryChannel?.channelMaxPriority" :channelFinalPriority="props.summaryChannel?.channelFinalPriority" :localeTexts="Locale.priorityReductionScore" />
        </div>
        <ChannelSegmentsVolume :segmentsCount="props.summaryChannel?.segmentsCount" :volumeAverage="props.summaryChannel?.volumeAverage" :localeTexts="Locale.segmentsVolume" />
      </div>
      <div part="cs-no-data" :class="{'cs-no-data': !props.summaryChannel}">
        <ChannelFinal10SegmentsAnalysis :final10Score="props.summaryChannel?.final10Score" :localeTexts="Locale.final10SegmentsAnalysis" />
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  summaryChannel: {
    required: false,
    typeof: "object",
    existProps: ['code', 'CSCscore', 'channelMaxPriority', 'channelFinalPriority', 'final10Score'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['channelClassification', 'satisfactionScore', 'priorityReductionScore', 'segmentsVolume', 'final10SegmentsAnalysis'],
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChannelClassification from "./ChannelClassification.ce.vue";
import ChannelSatisfactionScore from "./ChannelSatisfactionScore.ce.vue";
import ChannelPriorityReductionScore from "./ChannelPriorityReductionScore.ce.vue";
import ChannelSegmentsVolume from "./ChannelSegmentsVolume.ce.vue";
import ChannelFinal10SegmentsAnalysis from "./ChannelFinal10SegmentsAnalysis.ce.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale);

</script>

<style lang="scss" src="./ChannelSummary.scss" />
