<template>
  <div part="tse-description" class="tse-description">
    <div part="tse-description-text" class="tse-description-text">{{ row.description.text }}</div>
    <div part="tse-description-labels" class="tse-description-labels">
      [
      <FeelGPT v-for="(item, index) in row.description.feelGPTLabels" 
               :with-bracket="false" 
               :text="item.text + (index !== row.description.feelGPTLabels.length - 1 ? '; ': '')" 
               :class-name="item.className" 
      />
      ]
      <template v-if="row.description.LVA">
        [ <span>{{row.description.LVA}}</span> ]
      </template>
    </div>
  </div>
</template>

<script setup>
import FeelGPT from '@/components/segments/feelGPT/FeelGPT.vue';

const props = defineProps({
  row: Object,
})

</script>

