@import "@/assets/styles/component.scss";
@import "./EmotionalProfileHeader.scss";
@import "./RatioExcitement.scss";
@import "./RatioArousal.scss";
@import "./RatioUneasiness.scss";
@import "@/components/LinearDescription.scss";
@import "@/components/InsufficientAudioData.scss";

.emp-container{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $c-stroke;
  gap: 24px;
  height: 100%;
}
.emp-no-data{
  background-color: $c-gray-bg-1;
}
.emp-line-description{
  display: flex;
  align-items: flex-start;
  margin-left: 24px;
  width: fit-content;
}