<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ProfileHeader :insufficientData="props.insufficientData" :title="Locale.emotionalProfile" :type="header.type" :text="header.text" :icon="header.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  arousal: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  excitement: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  uneasy: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.emotionalProfile.header)
  },
  insufficientData: {
    required: false,
    typeof: "boolean",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ProfileHeader from "@/components/ProfileHeader.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.emotionalProfile.header);

const header = computed(() => {
  if(!props.value.arousal) return {type: 'no-data', text: '-', icon: null};

  const arousal = props.value.arousal.averageLevel;
  const excitement = props.value.excitement.averageLevel;
  const uneasy = props.value.uneasy.averageLevel;

  const result = {
    type: 'success',
    text: Locale.value.normal,
    icon: "check-success-white"
  };

  const texts = [];

  if(arousal > 20) texts.push(Locale.value.highlyPassionate);
  else if(arousal > 10) texts.push(Locale.value.passionate);

  if(uneasy > 20){
    texts.push(Locale.value.highlyUneasy);
    result.type = 'fail';
    result.icon = 'warning-white'
  }
  else if(uneasy > 10){
    texts.push(Locale.value.uneasy);
    result.type = 'warning';
    result.icon = 'warning-white'
  }

  if(excitement > 17) texts.push(Locale.value.highlyExcited);
  else if(excitement < 13) {
    texts.push(Locale.value.somewhatDepressed);
    result.type = 'warning';
    result.icon = 'warning-white'
  }

  if(texts.length > 0) result.text = texts.join(', ');

  return result;
});

</script>

<style lang="scss" src="./EmotionalProfileHeader.scss" />
