<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="emp-container" class="emp-container" :class="{'emp-no-data': !props.arousal}">
      <EmotionalProfileHeader :insufficientData="!props.excitement" :arousal="props.arousal" :excitement="props.excitement" :uneasy="props.uneasy" :localeTexts="Locale.header" />
      <InsufficientAudioData v-if="!props.excitement" :message="Locale.insufficientAudioData" />
      <template v-else>
        <RatioExcitement :excitement="props.excitement" :localeTexts="Locale" />
        <RatioArousal :arousal="props.arousal" :localeTexts="Locale" />
        <RatioUneasiness :uneasy="props.uneasy" :localeTexts="Locale" />
        <div part="emp-line-description" class="emp-line-description">
          <LinearDescription :localeTexts="LocaleLinearDescription" />
        </div>
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  arousal: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  excitement: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  uneasy: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.emotionalProfile), 'linearDescription']
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import EmotionalProfileHeader from "./EmotionalProfileHeader.ce.vue";
import RatioExcitement from "./RatioExcitement.ce.vue";
import RatioArousal from "./RatioArousal.ce.vue";
import RatioUneasiness from "./RatioUneasiness.ce.vue";
import LinearDescription from '@/components/LinearDescription.vue';
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.emotionalProfile);
const LocaleLinearDescription = getLocaleTexts(stringifyProps.localeTexts?.linearDescription, mainLocale.linearDescription);

</script>

<style lang="scss" src="./EmotionalProfile.scss" />
