<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <LineRatio 
      :ratio-object="props.excitement" 
      :title="Locale.excitement" 
      :description="Locale.excitementDescription"
      :showDescription="props.showDescription"
    />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  excitement: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'normalReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['excitement', 'excitementDescription']
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import LineRatio from "./components/LineRatio.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.emotionalProfile);

</script>

<style lang="scss" src="./RatioExcitement.scss" />
