<template>
  <div part="emp-item" class="emp-item">
    <div part="emp-item-line-container" class="emp-item-line-container">
      <div part="emp-item-line-header" class="emp-item-line-header">{{title}}</div>
      <LinearSeparation :reactions="ratioObject" />
    </div>
    <div v-if="showDescription" part="emp-item-line-description" class="emp-item-line-description">{{description}}</div>
  </div>
</template>

<script setup>
import LinearSeparation from "@/components/LinearSeparation.vue";

const props = defineProps({
  ratioObject: Object,
  title: String,
  description: String,
  showDescription: {
    type: Boolean,
    default: true
  }
})

</script>

<style lang="scss" src="./LineRatio.scss" />
