@import "@/assets/styles/component.scss";
@import "@/components/LinearSeparation.scss";

.emp-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.emp-item-line-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 12px;
}
.emp-item-line-header{
  @include text-3;
  color: $c-stroke;
}
.emp-item-line-description{
  @include text-1;
  width: 42%;
}