<template>
  <div class="analysis-tags">
    <div class="analysis-tags-title">Tags:</div>
    <div class="analysis-tags-container">
      <div v-for="tag in tagsObj" class="analysis-tag" :class="{['analysis-tag-'+tag.className]: true}">
        {{tag.name}}
      </div>
    </div>
  </div>
</template>

<script setup>


import {computed} from "vue";

const props = defineProps(['tags'])

const tagsObj = computed(() => {
  return props.tags
    .filter(i => i.toLowerCase().indexOf('priority') === -1)
    .map(i => {
      return {
        name: i,
        className: keys.find((key) => i.toLowerCase().indexOf(key) > -1) || 'unknown-tag'
      }
    })
    .slice(0, 9);
})

const keys = [
  'upset', 'joy', 'interest', 'stress', 'confidence',
  'hesitation', 'aggression', 'dissatisfaction',
  'frustration', 'argument', 'free-talker', 'sadness',
  'sad', 'emotional', 'logical', 'excitement', 'passion',
  'uneasy', 'energy', 'priority', 'uncertainty'
];

</script>

<style src="./CallTags.scss" lang="scss"/>
