@import "@/assets/styles/varriables";

.analysis-tags{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: cqw(4);
  margin-top: cqw(6);
}
.analysis-tags-title{
  color: white;
  font-family: DM Sans;
  font-size: cqw(15);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: cqw(-0.3);
}
.analysis-tags-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: cqw(3);
}
.analysis-tag{
  display: flex;
  padding: cqw(2) cqw(5);
  justify-content: center;
  align-items: center;
  border-radius: cqw(4);
  border: cqw(1) solid white;
  background: #FFF;

  font-family: DM Sans;
  font-size: cqw(9);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.analysis-tag-unknown-tag{
  border-color: #A3AED0;
  color: #A3AED0;
}
.analysis-tag-upset{
  border-color: #0D47A1;
  color: #0D47A1;
}
.analysis-tag-joy{
  border-color: #8BC541;
  color: #8BC541;
}
.analysis-tag-interest{
  border-color: #1B5E20;
  color: #1B5E20;
}
.analysis-tag-stress{
  border-color: #FFC700;
  color: #FFC700;
}
.analysis-tag-confidence{
  border-color: #29BB59;
  color: #29BB59;
}
.analysis-tag-hesitation{
  border-color: #DFE3EF;
  color: #DFE3EF;
}
.analysis-tag-aggression{
  border-color: #FF0000;
  color: #FF0000;
}
.analysis-tag-dissatisfaction{
  border-color: #B71C1C;
  color: #B71C1C;
}
.analysis-tag-frustration{
  border-color: #E65100;
  color: #E65100;
}
.analysis-tag-argument{
  border-color: #FFA000;
  color: #FFA000;
}
.analysis-tag-free-talker{
  border-color: #B39DDB;
  color: #B39DDB;
}
.analysis-tag-sadness{
  border-color: #0D47A1;
  color: #0D47A1;
}
.analysis-tag-sad{
  border-color: #0D47A1;
  color: #0D47A1;
}
.analysis-tag-emotional{
  border-color: #4527A0;
  color: #4527A0;
}
.analysis-tag-logical{
  border-color: #5D4037;
  color: #5D4037;
}
.analysis-tag-excitement{
  border-color: #AD1457;
  color: #AD1457;
}
.analysis-tag-passion{
  border-color: #FF80AB;
  color: #FF80AB;
}
.analysis-tag-uneasy{
  border-color: #F57C00;
  color: #F57C00;
}
.analysis-tag-energy{
  border-color: #00B8D4;
  color: #00B8D4;
}
.analysis-tag-priority{
  border-color: #2A385E;
  color: #2A385E;
}
.analysis-tag-uncertainty{
  border-color: #78909C;
  color: #78909C;
}
