<template>
  <div part="analysis-p-line" class="analysis-p-line">
    <div part="analysis-p-line-title" class="analysis-p-line-title">
      <span>{{name}}</span>
      <span>{{value}}%</span>
    </div>
    <div part="analysis-p-line-chart-container" class="analysis-p-line-chart-container">
      <div part="analysis-p-line-chart-value" class="analysis-p-line-chart-value" :style="{'width': value+'%'}"></div>
    </div>
  </div>
</template>

<script setup>

const props = defineProps(['name', 'value'])

</script>

<style src="./PercentageLine.scss" lang="scss"/>
