@import "@/assets/styles/varriables";

.analysis-p-line{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: cqw(4);
  margin: cqw(2) 0;
}
.analysis-p-line-title{
  display: flex;
  flex-direction: row;
  gap: cqw(8);
  color: white;
  font-family: DM Sans;
  font-size: cqw(12);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.analysis-p-line-chart-container{
  width: 100%;
  height: cqw(8);
  border-radius: cqw(8);
  background-color: #78797f;
  overflow: hidden;
}
.analysis-p-line-chart-value{
  height: 100%;
  background-color: #FF8000;
}