@import "@/assets/styles/varriables";

.analysis-risk{
  container: analysis-risk / inline-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: cqw(8);
  width: 100%;
}
.analysis-risk-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: cqw(3) cqw(8);
  gap: cqw(10);

  border-radius: cqw(4);
  border: cqw(1) solid #7F8187;
  
  color: #7F8187;
  font-family: DM Sans;
  font-size: cqw(12);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  white-space: nowrap;
  
  &--active-high{
    background: #FF0000;
    color: white;
    border-color: #FF0000;
  }
  &--active-medium{
    background: #FF8000;
    color: white;
    border-color: #FF8000;
  }
  &--active-suspected{
    background: #FFC700;
    color: white;
    border-color: #FFC700;
  }
}