<template>
  <div part="analysis-risk" class="analysis-risk">
    <div part="analysis-risk-item"  class="analysis-risk-item" :class="{'analysis-risk-item--active-high': risk.high > 0}">
      <span>High Risk</span>
      <span>{{risk.high}}</span>
    </div>
    <div part="analysis-risk-item" class="analysis-risk-item" :class="{'analysis-risk-item--active-medium': risk.medium > 0}">
      <span>Medium Risk</span>
      <span>{{risk.medium}}</span>
    </div>
    <div part="analysis-risk-item" class="analysis-risk-item" :class="{'analysis-risk-item--active-suspected': risk.suspected > 0}">
      <span>Suspected</span>
      <span>{{risk.suspected}}</span>
    </div>
  </div>
</template>

<script setup>

const props = defineProps(['risk'])

</script>

<style src="./RiskBlocks.scss" lang="scss"/>
