<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ChartItem
      :ratioObject="props.sad"
      :name="Locale.sadness"
      :result-text="sadDescription.text"
      :result-icon="sadDescription.icon"
      :show-description="props.showDescription"
      :show-tooltips="props.showTooltips"
      :chartBorderColor="props.chartBorderColor"
    >
      <IconRain />
    </ChartItem>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  sad: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['sadness', 'lowNormal', 'high']
  },
  showDescription: {
    default: true,
    typeof: "boolean"
  },
  showTooltips: {
    default: true,
    typeof: "boolean"
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ChartItem from "./components/ChartItem.vue";

import IconRain from '@/assets/icons/rain-cloud.svg';

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.moodProfile);

const sadDescription = computed(() => {
  if(!props.value.sad) return {text: '-', icon: null};
  const value = props.value.sad.averageLevel;
  if(value >= 2) return {text: Locale.value.high, icon: 'warning-red'};
  return {text: Locale.value.lowNormal, icon: 'check-success'};
})

</script>

<style lang="scss" src="./ChartSadness.scss" />
