@import "@/assets/styles/component.scss";
@import "./LineAnger.scss";
@import "./LineDissatisfaction.scss";
@import "./LineSad.scss";
@import "./LineJoy.scss";
@import "./LineStress.scss";

.mp-emotions-container{
  flex: 1;
}
.mp-emotions{
  display: flex;
  flex-direction: column;
  padding: 8px 24px 24px 24px;
  border-radius: 8px;
  background-color: $c-gray-bg-1;
  gap: 12px;
  flex: 1;
}
.mp-emotions-title-container{
  display: flex;
  flex-direction: column;
}
.mp-emotions-title{
  @include text-3;
}
.mp-emotions-subtitle{
  @include text-1;
}