<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="mp-emotions-container" class="mp-emotions-container">
      <div part="mp-emotions" class="mp-emotions">
        <div part="mp-emotions-title-container" class="mp-emotions-title-container">
          <div part="mp-emotions-title" class="mp-emotions-title">{{Locale.keyEmotionDistribution}}</div>
          <div part="mp-emotions-subtitle" class="mp-emotions-subtitle">({{Locale.summary}})</div>
        </div>
        <LineAnger :corroboratedAngerPercentage="props.channelSummary?.corroboratedAngerPercentage" :localeTexts="Locale" />
        <LineStress :corroboratedStressPercentage="props.channelSummary?.corroboratedStressPercentage" :localeTexts="Locale" />
        <LineDissatisfaction :dissatisfaction="props.channelSummary?.dissatisfaction" :localeTexts="Locale" />
        <LineJoy :joyPercentage="props.channelSummary?.joyPercentage" :localeTexts="Locale" />
        <LineSad :sadPercentage="props.channelSummary?.sadPercentage" :localeTexts="Locale" />
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  channelSummary:{
    required: false,
    typeof: "object",
    existProps: ['sadPercentage', 'joyPercentage', 'dissatisfaction', 'corroboratedStressPercentage', 'corroboratedAngerPercentage']
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['keyEmotionDistribution', 'summary']
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import LineAnger from "./LineAnger.ce.vue";
import LineStress from "./LineStress.ce.vue";
import LineDissatisfaction from "./LineDissatisfaction.ce.vue";
import LineJoy from "./LineJoy.ce.vue";
import LineSad from "./LineSad.ce.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.moodProfile);

</script>

<style lang="scss" src="./EmotionDistribution.scss" />
