<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <MoodEmotionLine type="sad" :text="Locale.sad" :value="sad.value" :icon="sad.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  sadPercentage: {
    required: false,
    typeof: "number"
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['sad']
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import MoodEmotionLine from "./components/MoodEmotionLine.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.moodProfile);

const sad = computed(() => {
  if(props.value.sadPercentage === undefined) return {value: '-', icon: null};
  const value = Math.round(props.value.sadPercentage * 10) / 10;
  if(value >= 2) return {value, icon: 'warning-red'};
  return {value, icon: 'check-success'};
})

</script>

<style lang="scss" src="./LineSad.scss" />
