<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <MoodEmotionLine type="dissatisfaction" :text="Locale.dissatisfaction" :value="dissatisfaction.value" :icon="dissatisfaction.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  dissatisfaction: {
    required: false,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: ['dissatisfaction']
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import MoodEmotionLine from "./components/MoodEmotionLine.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.moodProfile);

const dissatisfaction = computed(() => {
  if(props.value.dissatisfaction === undefined) return {value: '-', icon: null};
  const value = Math.round(props.value.dissatisfaction * 10) / 10;
  if(value >= 1) return {value, icon: 'warning-red'};
  return {value, icon: 'check-success'};
})

</script>

<style lang="scss" src="./LineDissatisfaction.scss" />
