@import "@/assets/styles/component.scss";
@import "./MoodProfileHeader.scss";
@import "./ChartJoy.scss";
@import "./ChartAggression.scss";
@import "./ChartSadness.scss";
@import "./EmotionDistribution.scss";
@import "@/components/LinearDescription.scss";
@import "@/components/InsufficientAudioData.scss";

.mp-container{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid $c-stroke;
  gap: 24px;
  height: 100%;
}
.mp-no-data{
  background-color: $c-gray-bg-1;
}
.mp-content-container{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.mp-pie-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.mp-pie-display-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.mp-pie-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}