<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="mp-container" class="mp-container" :class="{'mp-no-data': !props.joy}">
      <MoodProfileHeader :corroboratedAngerPercentage="props.channelSummary?.corroboratedAngerPercentage" :insufficientData="!props.aggression || !props.joy || !props.sad" :aggression="props.aggression" :joy="props.joy" :sad="props.sad" :localeTexts="Locale.header" />
      <InsufficientAudioData v-if="!props.aggression" :message="Locale.insufficientAudioData" />
      <div v-else part="mp-content-container" class="mp-content-container">
        <div part="mp-pie-container" class="mp-pie-container">
          <div part="mp-pie-display-container" class="mp-pie-display-container">
            <ChartJoy :joy="props.joy" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
            <div part="mp-pie-inner-container" class="mp-pie-inner-container">
              <ChartSadness :sad="props.sad" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
              <ChartAggression :aggression="props.aggression" :localeTexts="Locale" :chartBorderColor="props.chartBorderColor" />
            </div>
          </div>
          <LinearDescription :localeTexts="Locale.linearDescription" />
        </div>
        <EmotionDistribution v-if="props.showEmotionDistribution" :channelSummary="props.channelSummary" :localeTexts="Locale"/>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  channelSummary:{
    required: false,
    typeof: "object",
    existProps: ['sadPercentage', 'joyPercentage', 'dissatisfaction', 'corroboratedStressPercentage', 'corroboratedAngerPercentage']
  },
  aggression: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  joy: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  sad: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  showEmotionDistribution: {
    typeof: "boolean",
    default: true
  },
  chartBorderColor: {
    required: false,
    typeof: "string",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.moodProfile), 'linearDescription']
  },
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

import MoodProfileHeader from "./MoodProfileHeader.ce.vue";
import ChartJoy from "./ChartJoy.ce.vue";
import ChartSadness from "./ChartSadness.ce.vue";
import ChartAggression from "./ChartAggression.ce.vue";
import LinearDescription from '@/components/LinearDescription.vue'
import EmotionDistribution from "./EmotionDistribution.ce.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {
  ...mainLocale.moodProfile,
  linearDescription: mainLocale.linearDescription
});

</script>

<style lang="scss" src="./MoodProfile.scss" />
