<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <ProfileHeader :insufficientData="props.insufficientData" :title="Locale.moodProfile" :type="header.type" :text="header.text" :icon="header.icon" />
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  aggression: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  joy: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  sad: {
    required: false,
    typeof: "object",
    existProps: ['averageLevel', 'highPercentage', 'midPercentage', 'lowPercentage', 'noReactionPercentage']
  },
  corroboratedAngerPercentage:{
    required: false,
    typeof: "number"
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.moodProfile.header)
  },
  insufficientData: {
    required: false,
    typeof: "boolean",
  },
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import ProfileHeader from "@/components/ProfileHeader.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.moodProfile.header);

const header = computed(() => {
  if(!props.value.joy) return {type: 'no-data', text: '-', icon: null};

  const joy = props.value.joy.averageLevel;
  const aggression = props.value.aggression.averageLevel;
  const sad = props.value.sad.averageLevel;
  const corroboratedAngerPercentage = props.value.corroboratedAngerPercentage;

  if(joy > 1 && aggression > 2) return {
    type: 'fail',
    text: Locale.value.argumentative,
    icon: "warning-white"
  }
  if(corroboratedAngerPercentage > 2) return {
    type: 'fail',
    text: Locale.value.angry,
    icon: "warning-white"
  }
  if(props.value.aggression?.highPercentage > 2) return {
    type: 'fail',
    text: Locale.value.angry,
    icon: "warning-white"
  }
  if(props.value.aggression?.midPercentage > 5) return {
    type: 'warning',
    text: Locale.value.aggressive,
    icon: "warning-white"
  }
  if(props.value.aggression?.lowPercentage > 5) return {
    type: 'warning',
    text: Locale.value.assertive,
    icon: "warning-white"
  }
  if(aggression > 8) return {
    type: 'fail',
    text: Locale.value.angry,
    icon: "warning-white"
  }
  if(aggression >= 5) return {
    type: 'fail',
    text: Locale.value.highlyAggressive,
    icon: "warning-white"
  }
  if(aggression > 0) return {
    type: 'warning',
    text: Locale.value.assertive,
    icon: "warning-white"
  }
  if(sad > 5) return {
    type: 'fail',
    text: Locale.value.mostlySad,
    icon: "warning-white"
  }
  if(sad > 1) return {
    type: 'warning',
    text: Locale.value.sadnessIndicated,
    icon: "warning-white"
  }
  if(joy > 0) return {
    type: 'success',
    text: Locale.value.mostlyHappy,
    icon: "check-success-white"
  }
  else return {
    type: 'success',
    text: Locale.value.neutral,
    icon: "check-success-white"
  }
});

</script>

<style lang="scss" src="./MoodProfileHeader.scss" />
