@import "@/assets/styles/component.scss";
@import "@/components/SharpTwoSideArrow.scss";

.icfr-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .sharp-2s-line-arrow{
    background-color: $c-green-1;
  }
  .sharp-2s-line-left-container{
    .sharp-2s-line-arrow-tip{
      border-right-color: $c-green-1;
    }
  }
  .sharp-2s-line-right-container{
    .sharp-2s-line-arrow-tip{
      border-left-color: $c-green-1;
    }
  }
}
.icfr-title{
  @include title-5;
  white-space: pre;
}