<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="icfr-container" class="icfr-container">
      <div part="icfr-title" class="icfr-title">{{Locale.title}}</div>
      <SharpTwoSideArrow
        :min="-15" 
        :max="15" 
        :middle="0" 
        :value="props.hesitation"
        :left-text="Locale.careful"
        :right-text="Locale.freely"
      />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  hesitation: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.interview.question.carefulFreelyRatio),
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import SharpTwoSideArrow from '@/components/SharpTwoSideArrow.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview.question.carefulFreelyRatio);

</script>

<style lang="scss" src="./CarefulFreelyRatio.scss" />
