@import "@/assets/styles/component.scss";

.igd-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.igd-title{
  @include title-5;
}
.igd-value{
  @include title-3;
}
.igd-inner-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.igd-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  gap: 6px;
  color: $c-stroke;
}