@import "@/assets/styles/component.scss";
@import "@/components/SharpTwoSideArrow.scss";

.igsr-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  .sharp-2s-line-arrow{
    background-color: $c-blue;
  }
  .sharp-2s-line-left-container{
    .sharp-2s-line-arrow-tip{
      border-right-color: $c-blue;
    }
  }
  .sharp-2s-line-right-container{
    .sharp-2s-line-arrow-tip{
      border-left-color: $c-blue;
    }
  }
}
.igsr-title{
  @include title-5;
  white-space: pre;
}