<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="igd-container" class="igd-container">
      <div part="igd-title" class="igd-title">{{Locale.title}}</div>
      <div part="igd-inner-icons" class="igd-inner-icons">
        <div part="igd-icons" class="igd-icons">
          <IconPin v-if="props.coreBeliefImportance >= 5" />
          <IconPin v-if="props.coreBeliefImportance >= 16" />
          <IconPin v-if="props.coreBeliefImportance >= 26" />
        </div>
        <div part="igd-value" class="igd-value">
          {{props.coreBeliefImportance}}
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  coreBeliefImportance: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.interview.question.genuineDesire),
  }
}
</script>
<script setup>
import IconPin from '@/assets/icons/pin.svg';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview.question.genuineDesire);

</script>

<style lang="scss" src="./GenuineDesire.scss" />
