<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="igsr-container" class="igsr-container">
      <div part="igsr-title" class="igsr-title">{{Locale.title}}</div>
      <SharpTwoSideArrow
        :min="-30" 
        :max="30" 
        :middle="0" 
        :value="props.coreBeliefPleasingBalance"
        :left-text="Locale.genuine"
        :right-text="Locale.social"
      />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  coreBeliefPleasingBalance: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.interview.question.genuineSocialRatio),
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import SharpTwoSideArrow from '@/components/SharpTwoSideArrow.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview.question.genuineSocialRatio);

</script>

<style lang="scss" src="./GenuineSocialRatio.scss" />
