<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ike-container" class="ike-container">
      <div part="ike-title" class="ike-title">{{Locale.title}}</div>
      <div part="ike-inner-container" class="ike-inner-container">
        <div part="ike-item-container ike-item-aggression" class="ike-item-container ike-item-aggression">
          <div part="ike-item-name" class="ike-item-name">{{Locale.aggression}}</div>
          <SimpleLoadingBar :min="0" :max="30" :value="props.balance.objectiveEmotionAggression" />
        </div>
        <div part="ike-item-container ike-item-joy" class="ike-item-container ike-item-joy">
          <div part="ike-item-name" class="ike-item-name">{{Locale.joy}}</div>
          <SimpleLoadingBar :min="0" :max="30" :value="props.balance.objectiveEmotionJoy" />
        </div>
        <div part="ike-item-container ike-item-sadness" class="ike-item-container ike-item-sadness">
          <div part="ike-item-name" class="ike-item-name">{{Locale.sadness}}</div>
          <SimpleLoadingBar :min="0" :max="30" :value="props.balance.objectiveEmotionSad" />
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  balance: {
    required: true,
    typeof: "object",
    existProps: ['objectiveEmotionAggression', 'objectiveEmotionJoy', 'objectiveEmotionSad'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.interview.question.keyEmotions),
  }
}
</script>
<script setup>
import SimpleLoadingBar from '@/components/SimpleLoadingBar.vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview.question.keyEmotions);

</script>

<style lang="scss" src="./KeyEmotions.scss" />
