@import "@/assets/styles/component.scss";
@import "@/components/SimpleLoadingBar.scss";

.ike-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}
.ike-title{
  @include title-5;
}
.ike-inner-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ike-item-container{
  @include text-3;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: $c-stroke;
}
.ike-item-name{
  width: 80px;
}
.ike-item-aggression{
  .slb-line{
    background-color: $c-red;
  }
}
.ike-item-joy{
  .slb-line{
    background-color: $c-green-1;
  }
}
.ike-item-sadness{
  .slb-line{
    background-color: $c-blue;
  }
}