@import "@/assets/styles/component.scss";
@import "@/components/SharpTwoSideArrow.scss";

.iler-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.iler-title{
  @include title-5;
}