<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="iler-container" class="iler-container">
      <div part="iler-title" class="iler-title">{{Locale.title}}</div>
      <SharpTwoSideArrow
        :min="0"
        :max="500"
        :middle="[500 - 120, 500 - 80]"
        :value="500 - props.emotionCognitiveRatio"
        :left-text="Locale.emotion"
        :right-text="Locale.logic"
      />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  emotionCognitiveRatio: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.interview.question.logicEmotionRatio),
  }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import SharpTwoSideArrow from '@/components/SharpTwoSideArrow.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview.question.logicEmotionRatio);

</script>

<style lang="scss" src="./LogicEmotionRatio.scss" />
