@import "@/assets/styles/component.scss";
@import "@/components/Collapse.scss";
@import "../questionnaire/QuestionHeader.scss";
@import "../questionnaire/QuestionRiskSummary.scss";
@import "../questionnaire/QuestionTranscription.scss";
@import "./LogicEmotionRatio.scss";
@import "./GenuineSocialRatio.scss";
@import "./CarefulFreelyRatio.scss";
@import "./GenuineDesire.scss";
@import "./StrengthWeaknessAnalysis.scss";
@import "./KeyEmotions.scss";

.iq-line{
  @include line;
}
.iq-body-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.iq-body{
  display: flex;
  flex-direction: row;
  gap: 24px;
  .iswa-fs-view{
    gap: 12px;
  }
  &.iq-body-no-risk{
    .iswa-fs-view{
      gap: 12px;
    }
    .iler-container{
      margin-bottom: auto;
    }
    .ike-inner-container{
      margin-bottom: auto;
      margin-top: auto;
    }
    .iq-analysis-container{
      flex: unset;
    }
    .iq-transcription-container{
      width: 275px;
      .qt-text{
        max-height: 195px;
      }
    }
  }
}
.iq-analysis-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}
.iq-transcription-container{
  height: 100%;
  width: 275px;
  .qt-text{
    max-height: 267px;
  }
}
.iq-analysis-row{
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 24px;
  .iler-container{
    flex: 1;
  }
}