<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <Collapse :defaultVisible="props.expand" :expandable="props.expandable">
      <template #header>
        <QuestionHeader 
          :index="props.index" 
          :questionRisk="props.questionRisk" 
          :fileUrl="props.fileUrl"
          :question="props.question"
          :warnings="props.warnings"
        />
      </template>
      <div part="iq-body-container" class="iq-body-container">
        <div part="iq-line" class="iq-line"></div>
        <div v-if="props.questionRisk" part="iq-body" class="iq-body">
          <div part="iq-analysis-container" class="iq-analysis-container">
            <div part="iq-analysis-row" class="iq-analysis-row">
              <QuestionRiskSummary :question="props.questionRisk" :localeTexts="{...Locale, emotionRiskPlayer: '', speechSilenceRatio: ''}" :showTechnicalInfo="false" :showMaxSOS="false" />
              <div part="iq-line" class="iq-line"></div>
              <StrengthWeaknessAnalysis v-if="props.strengthsWeaknesses" :strengthsWeaknesses="props.strengthsWeaknesses" :localeTexts="Locale.strengthWeaknessAnalysis" />
              <div part="iq-line" class="iq-line"></div>
              <KeyEmotions v-if="props.balance" :balance="props.balance" :localeTexts="Locale.keyEmotions"/>
            </div>
            <div part="iq-line" class="iq-line"></div>
            <div v-if="props.balance" part="iq-analysis-row" class="iq-analysis-row">
              <GenuineDesire :coreBeliefImportance="props.balance.coreBeliefImportance" :localeTexts="Locale.genuineDesire"/>
              <GenuineSocialRatio :coreBeliefPleasingBalance="props.balance.coreBeliefPleasingBalance" :localeTexts="Locale.genuineSocialRatio"/>
              <div part="iq-line" class="iq-line"></div>
              <LogicEmotionRatio :emotionCognitiveRatio="props.balance.emotionCognitiveRatio" :localeTexts="Locale.logicEmotionRatio" />
              <div part="iq-line" class="iq-line"></div>
              <CarefulFreelyRatio :hesitation="props.balance.hesitation" :localeTexts="Locale.carefulFreelyRatio"/>
            </div>
          </div>
          <div v-if="props.questionSegments.data.length > 0" part="iq-transcription-container" class="iq-transcription-container">
            <QuestionTranscription :speechToTextIndex="speechToTextIndex" :validSegmentIndex="validSegmentIndex" :questionSegmentsData="props.questionSegments.data" :localeTexts="Locale" />  
          </div>
        </div>

        <div v-else part="iq-body" class="iq-body iq-body-no-risk">
          <div part="iq-analysis-container" class="iq-analysis-container">
            <StrengthWeaknessAnalysis v-if="props.strengthsWeaknesses" :strengthsWeaknesses="props.strengthsWeaknesses" :localeTexts="Locale.strengthWeaknessAnalysis" />
            <div part="iq-analysis-row" class="iq-analysis-row">
              <GenuineSocialRatio v-if="props.balance" :coreBeliefPleasingBalance="props.balance.coreBeliefPleasingBalance" :localeTexts="Locale.genuineSocialRatio"/>
            </div>
          </div>
          <div part="iq-line" class="iq-line"></div>
          <KeyEmotions v-if="props.balance" :balance="props.balance" :localeTexts="Locale.keyEmotions"/>
          <div part="iq-line" class="iq-line"></div>
          <div part="iq-analysis-container" class="iq-analysis-container">
            <LogicEmotionRatio v-if="props.balance" :emotionCognitiveRatio="props.balance.emotionCognitiveRatio" :localeTexts="Locale.logicEmotionRatio" />
            <CarefulFreelyRatio v-if="props.balance" :hesitation="props.balance.hesitation" :localeTexts="Locale.carefulFreelyRatio"/>  
          </div>
          <div part="iq-line" class="iq-line"></div>
          <div part="iq-transcription-container" class="iq-transcription-container">
            <QuestionTranscription :speechToTextIndex="speechToTextIndex" :validSegmentIndex="validSegmentIndex" :questionSegmentsData="props.questionSegments.data" :localeTexts="Locale" />
          </div>
        </div>
      </div>
    </Collapse>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  index: {
    required: true,
    typeof: "number",
  },
  questionRisk: {
    required: false,
    typeof: "object",
    existProps: ['maxSOS', 'averageJQ', 'riskObjective', 'riskSubjective', 'segmentsCount', 'averageVol1', 'averageVol2'],
  },
  fileUrl: {
    required: true,
  },
  question: {
    required: true,
    typeof: "object",
    existProps: ['id', 'text'],
  },
  warnings: {
    required: false,
    typeof: "array",
  },
  balance: {
    required: false,
    typeof: "object",
    existProps: ['emotionCognitiveRatio', 'coreBeliefPleasingBalance', 'hesitation', 'coreBeliefImportance', 'objectiveEmotionAggression', 'objectiveEmotionJoy', 'objectiveEmotionSad'],
  },
  strengthsWeaknesses: {
    required: false,
    typeof: "object",
    existProps: ['confidence', 'energy', 'excitement', 'finalScore', 'hesitation', 'stress'],
  },
  questionSegments: { // the data array is only for this question
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.interview.question)],
  },
  expanded: {
    required: false,
    typeof: "boolean",
    default: true
  },
  expandable: {
    required: false,
    typeof: "boolean",
    default: false
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Collapse from '@/components/Collapse.vue';
import QuestionHeader from '../questionnaire/QuestionHeader.ce.vue';
import QuestionRiskSummary from '../questionnaire/QuestionRiskSummary.ce.vue';
import QuestionTranscription from '../questionnaire/QuestionTranscription.ce.vue';
import LogicEmotionRatio from './LogicEmotionRatio.ce.vue';
import GenuineSocialRatio from './GenuineSocialRatio.ce.vue';
import CarefulFreelyRatio from './CarefulFreelyRatio.ce.vue';
import GenuineDesire from './GenuineDesire.ce.vue';
import StrengthWeaknessAnalysis from './StrengthWeaknessAnalysis.ce.vue';
import KeyEmotions from './KeyEmotions.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {...mainLocale.interview.question});

const speechToTextIndex = computed(() => {
  return props.value.questionSegments.headersPositions.speechToText;
})

const validSegmentIndex = computed(() => {
  return props.value.questionSegments.headersPositions.validSegment;
})

</script>

<style lang="scss" src="./Question.scss" />
