<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="iswa-container" class="iswa-container">
      <div part="iswa-title" class="iswa-title">{{Locale.title}}</div>
      <div part="iswa-inner-container" class="iswa-inner-container">
        <div part="iswa-fs-container" class="iswa-fs-container">
          <div part="iswa-fs-view" :class="{'iswa-fs-view': true, 'iswa-fs-strength': props.strengthsWeaknesses.finalScore >= 0, 'iswa-fs-weakness': props.strengthsWeaknesses.finalScore < 0}">
            <template v-if="props.strengthsWeaknesses.finalScore >= 0">
              <div part="iswa-attribute-title" class="iswa-attribute-title">{{Locale.strength}}</div>
              <IconStrength />
              <IconStrength v-if="props.strengthsWeaknesses.finalScore >= 2"/>
              <IconStrength v-if="props.strengthsWeaknesses.finalScore >= 4"/>
              <IconStrength v-if="props.strengthsWeaknesses.finalScore >= 6"/>
              <IconStrength v-if="props.strengthsWeaknesses.finalScore >= 8"/>
            </template>
            <template v-else>
              <div part="iswa-attribute-title" class="iswa-attribute-title">{{Locale.weakness}}</div>
              <IconWeakness />
              <IconWeakness v-if="props.strengthsWeaknesses.finalScore < -2"/>
              <IconWeakness v-if="props.strengthsWeaknesses.finalScore < -4"/>
              <IconWeakness v-if="props.strengthsWeaknesses.finalScore < -6"/>
              <IconWeakness v-if="props.strengthsWeaknesses.finalScore < -8"/>
            </template>
          </div>
        </div>
        <div part="iswa-rest-container" class="iswa-rest-container">
          <div>{{Locale.confidence}} {{props.strengthsWeaknesses.confidence}}</div>
          <div part="iswa-line" class="iswa-line"></div>
          <div>{{Locale.hesitation}} {{props.strengthsWeaknesses.hesitation}}</div>
          <div part="iswa-line" class="iswa-line"></div>
          <div>{{Locale.excitement}} {{props.strengthsWeaknesses.excitement}}</div>
          <div part="iswa-line" class="iswa-line"></div>
          <div>{{Locale.energy}} {{props.strengthsWeaknesses.energy}}</div>
          <div part="iswa-line" class="iswa-line"></div>
          <div>{{Locale.stress}} {{props.strengthsWeaknesses.stress}}</div>
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  strengthsWeaknesses: {
    required: true,
    typeof: "object",
    existProps: ['confidence', 'energy', 'excitement', 'finalScore', 'hesitation', 'stress'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.interview.question.strengthWeaknessAnalysis),
  }
}
</script>
<script setup>
import IconStrength from '@/assets/icons/strength.svg';
import IconWeakness from '@/assets/icons/weakness.svg';
import IconCheckSuccess from '@/assets/icons/check-success.svg';
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview.question.strengthWeaknessAnalysis);

</script>

<style lang="scss" src="./StrengthWeaknessAnalysis.scss" />
