<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="iswi-container" class="iswi-container">
     <div part="iswi-inner-container" class="iswi-inner-container">
       <div part="iswi-header-container" class="iswi-header-container">
         <div part="iswi-header-title" class="iswi-header-title">{{Locale.topic}}</div>
         <div part="iswi-header-params-container" class="iswi-header-params-container">
           <div part="iswi-header-params-icons" class="iswi-header-params-icons">
             <div part="iswi-header-attribute iswi-strength" class="iswi-header-attribute iswi-strength" v-if="props.finalScore >= 0">{{Locale.strength}}</div>
             <div part="iswi-header-attribute iswi-weakness" class="iswi-header-attribute iswi-weakness" v-else>{{Locale.weakness}}</div>
             <div part="iswi-header-icons" class="iswi-header-icons">
               <template v-if="props.finalScore >= 0">
                 <IconStrength />
                 <IconStrength v-if="props.finalScore >= 5" />
                 <IconStrength v-if="props.finalScore >= 10" />
               </template>
               <template v-else>
                 <IconWeakness />
                 <IconWeakness v-if="props.finalScore <= -6" />
                 <IconWeakness v-if="props.finalScore <= -10"/>
               </template>
             </div>
           </div>
         </div>
       </div>
       <div part="iswi-title" class="iswi-title">{{props.topic}}</div>
       <div part="iswi-question-container" class="iswi-question-container">
         <div part="iswi-question-index" class="iswi-question-index">{{props.questionIndex}}</div>
         <div part="iswi-question-text" class="iswi-question-text">{{props.question}}</div>
       </div>
     </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  questionIndex: {
    required: true,
    typeof: "number",
  },
  finalScore: {
    required: true,
    typeof: "number",
  },
  topic: {
    required: true,
    typeof: "string",
  },
  question: {
    required: true,
    typeof: "string",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.strengthsWeaknesses),
  }
}
</script>
<script setup>
import IconStrength from '@/assets/icons/strength.svg';
import IconWeakness from '@/assets/icons/weakness.svg';

import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.strengthsWeaknesses);

</script>

<style lang="scss" src="./StrengthWeakness.scss" />
