@import "@/assets/styles/component.scss";
@import "@/components/SharpTwoSideArrow.scss";

.iswa-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.iswa-inner-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.iswa-fs-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.iswa-fs-view{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  > svg{
    width: 36px;
    height: 36px;
  }
  &.iswa-fs-strength{
    > svg{
      color: $c-green-1;
    }  
  }
  &.iswa-fs-weakness{
    > svg{
      color: $c-orange;
    }
  }
}
.iswa-title{
  @include title-5;
}
.iswa-attribute-title{
  @include title-55;
  text-transform: uppercase;
  color: $c-main-dark;
}
.iswa-fs-value{
  @include title-3;
}
.iswa-rest-container{
  @include text-2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 365px;
  line-height: 14px;
  gap: 12px;
  color: $c-stroke;
}
.iswa-line{
  @include line;
}