@import "@/assets/styles/component.scss";

.iswi-container{
  border-radius: 12px;
  border: 1px solid $c-stroke;
  overflow: hidden;
}
.iswi-inner-container{
  display: flex;
  flex-direction: column;
  border-left: 8px solid $c-blue;
  padding: 24px;
  gap: 8px;
}
.iswi-header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.iswi-header-title{
  @include text-3;
  color: $c-stroke;
}
.iswi-header-params-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
.iswi-header-params-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.iswi-header-attribute{
  @include title-3;
  &.iswi-strength{
    color: $c-blue;
  }
  &.iswi-weakness{
    color: $c-orange;
  }
}
.iswi-header-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: 84px;
  color: $c-stroke;
}
.iswi-header-fs{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.iswi-header-fs-name{
  @include text-3;
  color: $c-stroke;
}
.iswi-header-fs-value{
  @include title-3;
  width: 30px;
  text-align: right;
}
.iswi-title{
  @include title-4;
  color: $c-secondary-dark;
}
.iswi-question-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 18px;
}
.iswi-question-index{
  @include text-3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border-radius: 100%;
  border: 1px solid $c-stroke;
  color: $c-secondary-dark;
}
.iswi-question-text{
  @include text-3;
  padding-top: 2px;
  color: $c-secondary-dark;
}