<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <Collapse :name="Locale.title">
      <StrengthWeaknessList 
        :strengthsWeaknesses="props.strengthsWeaknesses" 
        :questions="props.questions" 
        :summaryQuestions="props.summaryQuestions" 
        :localeTexts="Locale" 
      />
    </Collapse>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  strengthsWeaknesses: {
    required: true,
    typeof: "array",
  },
  questions: {
    required: true,
    typeof: "array",
  },
  summaryQuestions: {
    required: true,
    typeof: "array",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.strengthsWeaknesses),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Collapse from "@/components/Collapse.vue";
import StrengthWeaknessList from "./StrengthWeaknessList.ce.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.strengthsWeaknesses);

</script>

<style lang="scss" src="./StrengthWeaknessListCollapse.scss" />
