@import "@/assets/styles/component.scss";
@import "./StrengthWeakness.scss";

.iswl-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.iswl-block{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.iswl-list-line{
  @include line;
}
.iswl-block-weakness{
  .iswi-inner-container{
    border-left-color: $c-orange;
  }
}