<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="iswl-list" class="iswl-list">
      <div part="iswl-block" class="iswl-block" v-if="strength.length > 0">
        <StrengthWeakness v-for="value in strength" 
                          :questionIndex="value.questionIndex" 
                          :finalScore="value.finalScore" 
                          :topic="value.topic" 
                          :question="value.question" 
                          :localeTexts="Locale"
        ></StrengthWeakness>
      </div>
      <div part="iswl-block iswl-block-weakness" class="iswl-block iswl-block-weakness" v-if="weakness.length > 0">
        <StrengthWeakness v-for="value in weakness" 
                          :questionIndex="value.questionIndex" 
                          :finalScore="value.finalScore" 
                          :topic="value.topic" 
                          :question="value.question" 
                          :localeTexts="Locale"
        ></StrengthWeakness>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  strengthsWeaknesses: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      if(prop.length === 0) return { isValid: false, message: `The array strengthsWeaknesses doesn't have a valid value!`};
      prop.forEach((item, index) => {
        if(!item) return { isValid: false, message: `The strengthsWeaknesses[${index}] has no value!`};
        for(const v of ['_id','finalScore']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The strengthsWeaknesses[${index}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  questions: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      if(prop.length === 0) return { isValid: false, message: `The array questions doesn't have a valid value!`};
      prop.forEach((item, index) => {
        if(!item) return { isValid: false, message: `The questions[${index}] has no value!`};
        for(const v of ['id','text']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The questions[${index}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  summaryQuestions: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      if(prop.length === 0) return { isValid: false, message: `The array summaryQuestions doesn't have a valid value!`};
      prop.forEach((item, index) => {
        if(!item) return { isValid: false, message: `The summaryQuestions[${index}] has no value!`};
        for(const v of ['question','topics']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The summaryQuestions[${index}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.strengthsWeaknesses),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import StrengthWeakness from "./StrengthWeakness.ce.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.strengthsWeaknesses);

const strength = computed(() => {
  const items = [...props.value.strengthsWeaknesses]
    .sort((a,b) => b.finalScore - a.finalScore)
    .filter(i => i.finalScore >= 0);
  return mapItems(items);
})

const weakness = computed(() => {
  const items = [...props.value.strengthsWeaknesses]
    .sort((a,b) => a.finalScore - b.finalScore)
    .filter(i => i.finalScore < 0)
  return mapItems(items);
})

const mapItems = (items) => {
  return items
    .slice(0, 3)
    .map(i => {
      return {
        questionIndex: props.value.questions.findIndex(q => q.id === i._id) + 1,
        finalScore: i.finalScore,
        topic: props.value.summaryQuestions.find(q => q.question === i._id).topics[0].name,
        question: props.value.questions.find(q => q.id === i._id).text,
      }
    });
}

</script>

<style lang="scss" src="./StrengthWeaknessList.scss" />
