<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="ith-container" class="ith-container">
      <div part="ith-info-container" class="ith-info-container">
        <div part="ith-title" class="ith-title">
          <div part="ith-title-name" class="ith-title-name">{{Locale.topicName}}</div>
          <div>{{props.topicName}}</div>
        </div>
        <LineTopic
          v-if="props.topicRisk"
          part="ith-risk-line" 
          class="ith-risk-line" 
          :riskObjective="props.topicRisk.riskObjective" 
          :localeTexts="{...Locale, topicRiskReport: '', withholdingInformation: ''}" 
        />
        <div part="ith-info-icons" class="ith-info-icons">
          <div v-if="statesOfMind.length > 0" class="ith-info-icon-description">
            {{Locale.stateOfMind}}
          </div>
          
          <div v-for="state in statesOfMind" class="ith-info-icon-block">
            <component :is="state.icon" />
            {{state.text}}
          </div>
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topicName: {
    required: true,
    typeof: "string",
  },
  topicRisk: {
    required: false,
    typeof: "object",
    existProps: ['_id', 'maxSOS', 'riskObjective'],
  },
  features: {
    required: false,
    typeof: "object",
    existProps: ['emotionCognitiveRatio', 'JQ', 'aggression'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.interview.topicHeader),
  }
}
</script>
<script setup>
import IconHesitation from '@/assets/icons/hesitation.svg';
import IconStress from '@/assets/icons/stress.svg';
import IconAggression from '@/assets/icons/aggression.svg';
import IconBrain from '@/assets/icons/brain.svg';
import IconHeartBrain from '@/assets/icons/heart-brain.svg';
import IconHeart from '@/assets/icons/heart.svg';
import InvalidProperty from '@/components/InvalidProperty.vue';
import LineTopic from '../risk/LineTopic.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview.topicHeader);

const statesOfMind = computed(() => {
  const result = [];
  
  if(props.value.topicRisk && props.value.topicRisk.maxSOS > 110) result.push({icon: IconHesitation, text: Locale.value.hesitation});
  
  if(props.value.features && props.value.features.emotionCognitiveRatio <= 80) result.push({icon: IconBrain, text: Locale.value.logical});
  else if(props.value.features && props.value.features.emotionCognitiveRatio < 120) result.push({icon: IconHeartBrain, text: Locale.value.emotionCognitiveRatio});
  else if(props.value.features) result.push({icon: IconHeart, text: Locale.value.emotional});
  
  if(props.value.features && props.value.features.aggression > 0.5) result.push({icon: IconAggression, text: Locale.value.aggression});
  else if(props.value.features && props.value.features.JQ > 45) result.push({icon: IconStress, text: Locale.value.stress});
  
  return result;
})

</script>

<style lang="scss" src="./TopicHeader.scss" />
