@import "@/assets/styles/component.scss";
@import "../risk/LineTopic.scss";

.ith-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ith-info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.ith-title-name{
  @include text-3;
  color: $c-stroke;
}
.ith-title{
  @include title-6;
  flex: 1;
}
.ith-risk-line{
  width: 180px;
}
.ith-info-icons{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 330px;
  gap: 12px;
  svg {
    color: $c-stroke;
  }
}
.ith-info-icon-description{
  @include text-3;
  align-self: center;
  color: $c-stroke;
}
.ith-info-icon-block{
  @include text-0;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-wrap;
  text-align: center;
  color: $c-main-dark;
}