@import "@/assets/styles/component.scss";
@import "../questionnaire/components/Collapse.scss";
@import "./TopicHeader.scss";
@import "./Question.scss";

.i-topic-body{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 12px;
}