<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div class="itl-container">
      <template v-for="topic in topicList">
        <Topic 
          :topicName="topic.name"
          :topicRisk="topic.risk"
          :features="topic.features"
          :questions="topic.questions"
          :files="topic.files"
          :localeTexts="Locale"
          :expand="props.expand"
        />
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  risk: {
    required: false,
    typeof: "object",
    existProps: ['questions', 'topics'],
  },
  competenciesCoreValues: {
    required: false,
    typeof: "object",
    existProps: ['balance', 'strengthsWeaknesses', 'summary'],
    validate: (prop) => {
      if(!prop.summary.topics) return { isValid: false, message: `The competenciesCoreValues.summary is invalid! Property 'topics' is missing.`}
      prop.summary.topics.forEach((item, pIndex) => {
        for(const v of ['_id','features']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The competenciesCoreValues.summary.topics[${pIndex}] is invalid! Property '${v}' is missing.`}
        }
      })
    }
  },
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  files: {
    required: true,
    typeof: "array", // [ {id: '...', url: '...', text: '...'}, ...]
    validate: (prop) => {
      prop.forEach((item, pIndex) => {
        for(const v of ['id','url','text']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The files[${pIndex}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  warnings: {
    required: false,
    typeof: "array",
  },
  summaryQuestions: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      prop.forEach((item, pIndex) => {
        for(const v of ['question']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The summaryQuestions[${pIndex}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.interview)],
  },
  expand: {
    required: false,
    typeof: "boolean",
    default: false
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Topic from './Topic.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props, isRequiredPropsReady} = validateProps(propsDefinition, stringifyProps);

const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview);

const topicList = computed(() => {
  if(!isRequiredPropsReady.value){
    return [];
  }

  const topics = [];
  const headersPositions = props.value.segments.headersPositions;
  const validSegmentPosIndex = headersPositions.validSegment;
  const topicsPosIndex = headersPositions.topics;
  const questionIdPosIndex = headersPositions.question;
  
  const validSegments = props.value.segments.data.filter(seg => seg[validSegmentPosIndex]);
  
  //const topicNames = validSegments.reduce((r,c) => [...r, ...c[topicsPosIndex].split('|')], []);
  //const sortedRiskTopics = [...new Set(topicNames)];
  
  const topicNames = props.value.summaryQuestions.map(q => q.topics?.[0]?.name);
  const sortedRiskTopics = [...new Set(topicNames.filter(t => t !== undefined))];

  sortedRiskTopics.forEach((topicName) => {
    const topic = {
      name: topicName,
      risk: props.value.risk?.topics?.find(t => t._id === topicName),
      features: {},
      questions: [],
      files: [],
    }
    //const topicSegmentData = validSegments.filter(seg => seg[topicsPosIndex].split('|').findIndex(t => t === topicName) !== -1);
    //const listOfQuestionIds = [...new Set(topicSegmentData.map(seg => seg[questionIdPosIndex]))];
    const questionIds = props.value.summaryQuestions.filter(q => q.topics?.[0]?.name === topicName).map(q => q.question);
    const listOfQuestionIds = [...new Set(questionIds)];
    listOfQuestionIds.forEach(questionId => {
      const question = props.value.files.find(f => f.id === questionId);
      if(!question) {
        throw "The question from segment does not found in the files. QuestionId: " + questionId;
      }
      topic.features = props.value.competenciesCoreValues?.summary.topics.find(t => topicName === t._id).features;
      topic.files.push(question);

      const summaryQuestion = (props.value.summaryQuestions || []).find(sq => sq.question === questionId);
      const questionWarnings = (props.value.warnings || []).filter((w) => {
        if(w.hasOwnProperty('question')) return w.question === questionId;
        if(summaryQuestion && summaryQuestion.hasOwnProperty('file')) return w.reference === summaryQuestion.file;
        if(summaryQuestion && summaryQuestion.hasOwnProperty('url')) return w.reference === summaryQuestion.url;
        return false;
      });

      topic.questions.push({
        questionId: questionId,
        questionRisk: props.value.risk?.questions?.find(q => q._id === questionId),
        fileUrl: question.url,
        questionSegments: {
          data: props.value.segments.data.filter(seg => seg[validSegmentPosIndex]).filter(seg => seg[questionIdPosIndex] === questionId),
          headersPositions,
        },
        warnings: questionWarnings,
        balance: props.value.competenciesCoreValues?.balance.find(q => q._id === questionId),
        strengthsWeaknesses: props.value.competenciesCoreValues?.strengthsWeaknesses.find(q => q._id === questionId),
      })
    })
    topics.push(topic);
  });
  return topics;
});

</script>

<style lang="scss" src="./TopicList.scss" />
