<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <Collapse :defaultVisible="props.expand">
      <template #header>
        <TopicHeader :topicName="props.topicName" :topicRisk="props.topicRisk" :features="props.features" :localeTexts="Locale.topicHeader" />
      </template>
      <div class="i-topic-body">
        <template v-for="(question, index) in props.questions">
          <Question 
            :index="index + 1" 
            :questionRisk="question.questionRisk"
            :fileUrl="question.fileUrl"
            :questionSegments="question.questionSegments"
            :question="getSummaryQuestion(question.questionId)"
            :balance="question.balance"
            :strengthsWeaknesses="question.strengthsWeaknesses"
            :warnings="question.warnings"
            :localeTexts="Locale.question"
          />
        </template>
      </div>
    </Collapse>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topicName: {
    required: true,
    typeof: "string",
  },
  topicRisk: {
    required: false,
    typeof: "object",
    existProps: ['_id', 'maxSOS', 'riskObjective'],
  },
  features: {
    required: false,
    typeof: "object",
    existProps: ['emotionCognitiveRatio', 'JQ', 'aggression'],
  },
  questions:{
    required: true,
    typeof: "array",
    validate: (prop) => {
      const validArray = prop.filter(p => !!p);
      if(validArray.length === 0) return { isValid: false, message: `The array questions doesn't have a valid value!`};
      validArray.forEach((question, pIndex) => {
        for(const v of ['questionRisk','fileUrl','questionSegments', 'balance', 'strengthsWeaknesses']){
          if(!question.hasOwnProperty(v)) return { isValid: false, message: `The questions[${pIndex}] is invalid! Property ${v} is missing.`};
        }
        for(const v of ['data', 'headersPositions']){
          if(!question.questionSegments.hasOwnProperty(v)) return { isValid: false, message: `The questions[${pIndex}].questionSegments is invalid! Property ${v} is missing.`};
        }
      })
    }
  },
  files: {
    required: true,
    typeof: "array",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.interview)],
  },
  expand: {
    required: false,
    typeof: "boolean",
    default: false
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Collapse from '../questionnaire/components/Collapse.vue';
import TopicHeader from './TopicHeader.ce.vue';
import Question from './Question.ce.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.interview);

function getSummaryQuestion(questionId){
  return props.value.files.find(q => q.id === questionId);
}

</script>

<style lang="scss" src="./Topic.scss" />
