@import "@/assets/styles/component.scss";

.call-tag{
  @include text-1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #A3AED0;
  color: #A3AED0;
  border-radius: 4px;
  white-space: nowrap;
}
.call-tag-unknown-tag{
  border-color: #A3AED0;
  color: #A3AED0;
}
.call-tag-upset{
  border-color: #0D47A1;
  color: #0D47A1;
}
.call-tag-joy{
  border-color: #8BC541;
  color: #8BC541;
}
.call-tag-interest{
  border-color: #1B5E20;
  color: #1B5E20;
}
.call-tag-stress{
  border-color: #FFC700;
  color: #FFC700;
}
.call-tag-confidence{
  border-color: #29BB59;
  color: #29BB59;
}
.call-tag-hesitation{
  border-color: #DFE3EF;
  color: #DFE3EF;
}
.call-tag-aggression{
  border-color: #FF0000;
  color: #FF0000;
}
.call-tag-dissatisfaction{
  border-color: #B71C1C;
  color: #B71C1C;
}
.call-tag-frustration{
  border-color: #E65100;
  color: #E65100;
}
.call-tag-argument{
  border-color: #FFA000;
  color: #FFA000;
}
.call-tag-free-talker{
  border-color: #B39DDB;
  color: #B39DDB;
}
.call-tag-sadness{
  border-color: #0D47A1;
  color: #0D47A1;
}
.call-tag-sad{
  border-color: #0D47A1;
  color: #0D47A1;
}
.call-tag-emotional{
  border-color: #4527A0;
  color: #4527A0;
}
.call-tag-logical{
  border-color: #5D4037;
  color: #5D4037;
}
.call-tag-excitement{
  border-color: #AD1457;
  color: #AD1457;
}
.call-tag-passion{
  border-color: #FF80AB;
  color: #FF80AB;
}
.call-tag-uneasy{
  border-color: #F57C00;
  color: #F57C00;
}
.call-tag-energy{
  border-color: #00B8D4;
  color: #00B8D4;
}
.call-tag-priority{
  border-color: #2A385E;
  color: #2A385E;
}
.call-tag-uncertainty{
  border-color: #78909C;
  color: #78909C;
}