<template>
  <div part="call-tag" class="call-tag" :class="{['call-tag-'+className]: true}" >
   {{text}}
  </div>
</template>

<script setup>

import {computed} from "vue";

const props = defineProps({
  text: String,
  tag: String,
})

const className = computed(() => {
  return keys.find((key) => props.tag.toLowerCase().indexOf(key) > -1) || 'unknown-tag';
})

const keys = [
  'upset', 'joy', 'interest', 'stress', 'confidence', 
  'hesitation', 'aggression', 'dissatisfaction', 
  'frustration', 'argument', 'free-talker', 'sadness', 
  'sad', 'emotional', 'logical', 'excitement', 'passion', 
  'uneasy', 'energy', 'priority', 'uncertainty'
];

</script>

<style lang="scss" src="./CallTag.scss" />
