<template>
  <div part="emotion-line-container" class="emotion-line-container" :class="{'el-with-tooltip': tooltip}" @mousemove="onMouseMove" @mousedown="onMouseDown" @mouseenter="onMouseEnter" @mouseleave="onMouseLeave">
    <canvas ref="canvasRef" part="emotion-line" class="emotion-line"></canvas>
    <div v-if="tooltip" v-show="showTooltip" part="emotion-line-tooltip" class="emotion-line-tooltip" @mousemove.stop :style="{left: cursorPosition.clientX * zoomMultiplier + 'px', top: cursorPosition.clientY * zoomMultiplier + 'px'}">
      <div v-if="tooltipTitle" class="emotion-line-tooltip-title">{{tooltipTitle}}</div>
      <div class="emotion-line-tooltip-value-container" v-for="draw in drawItems">
        <div class="emotion-line-tooltip-type" :style="draw.tooltipColor ? {color: draw.tooltipColor} : {}">{{draw.tooltipName}}:</div>
        <div class="emotion-line-tooltip-value">{{currentTooltipSegment ? currentTooltipSegment.values[draw.headerName] : '-'}}</div>
      </div>
    </div>
    <PlayPositionLabelLine />
  </div>
</template>

<script setup>
import {instance} from '@/components/player/helpers/playerStore.js';
const {
  selectedAreaPlaying, 
  selectedArea,
  currentTooltipSegment,
  zoomMultiplier,
  validSegments,
  headersPositions
} = instance.value;

import PlayPositionLabelLine from '../labels/PlayPositionLabelLine.vue';
import {invertColor, mixColor} from '@/helpers/colors.js';
import {computed, ref, watch} from 'vue';
import {getZoom} from "@/helpers/zoom.js";
const props = defineProps({
  callLength: Number,
  drawItems: Array, //[{headerName: joy, tooltipName: Joy, tooltipColor: #FF0000, color: #FF0000, channel: undefined || Number, validation: (value) => bool, mixColor: undefined || Bool}]
  baseColor: String,
  invertColors: Boolean,
  tooltip: {
    type: Boolean,
    default: true,
  }, 
  tooltipTitle: String, 
})

const canvasRef = ref(null);
const resizeObserver = ref(null);
const cursorPosition = ref({
  clientX: 0,
  clientY: 0,
  offsetX: 0,
  offsetY: 0
});
const tooltipIsReadyToShow = ref(false);
const tooltips = ref([]);

const showTooltip = computed(() => {
  return tooltipIsReadyToShow.value && !selectedArea.value.selecting;
}); 

watch(props, () => {
  draw();
}, {immediate: true})

watch(canvasRef, () => {
  if(canvasRef.value){
    zoomMultiplier.value = 1/getZoom(canvasRef);
    resizeObserver.value = new ResizeObserver(resize);
    resizeObserver.value.observe(canvasRef.value.parentElement);
    draw(); 
  }
}, {immediate: true})

watch(() => selectedArea.value.to, () => {
  draw();
})

function resize(e){
  draw();
}

function onMouseMove(e){
  cursorPosition.value = {
    clientX: e.clientX,
    clientY: e.clientY - e.offsetY,
    offsetX: e.offsetX,
    offsetY: e.offsetY,
  }
  setTooltipItem(e.offsetX);
}

function onMouseDown(e){
  selectedArea.value = {
    selecting: true,
    clientXFrom: e.clientX,
    from: e.offsetX,
    to: e.offsetX,
    maxWidth: canvasRef.value.parentElement.offsetWidth / zoomMultiplier.value
  }
  selectedAreaPlaying.value = false;
}

function onMouseEnter(e){
  cursorPosition.value = {
    clientX: e.clientX,
    clientY: e.clientY - e.offsetY,
    offsetX: e.offsetX,
    offsetY: e.offsetY,
  }
  setTooltipItem(e.offsetX);
  tooltipIsReadyToShow.value = true;
}
function onMouseLeave(e){
  tooltipIsReadyToShow.value = false;
  currentTooltipSegment.value = null;
}

function draw(){
  if(!props.callLength) return;
  if(!canvasRef.value) return;
  if(!canvasRef.value.getContext) return;
  const canvas = canvasRef.value;
  const width = canvas.parentElement.offsetWidth / zoomMultiplier.value;
  canvas.width = width;
  const height = canvas.parentElement.offsetHeight / zoomMultiplier.value;
  canvas.height = height;
  const ctx = canvas.getContext("2d");

  ctx.fillStyle = props.baseColor;
  ctx.fillRect(0, 0, width, height);
  
  const channelPosId = headersPositions.value.channel;
  const startPosId = headersPositions.value.startPosSec;
  const endPosId = headersPositions.value.endPosSec;
  
  const _tooltips = [];

  for(const seg of validSegments.value) {
    let drawSettings; //draw the item with highest intensity
    let drawIntensity;
    
    for(const setting of props.drawItems){
      const valueId = headersPositions.value[setting.headerName];
      if(setting.channel !== undefined && seg[channelPosId] !== setting.channel) continue;
      if(setting.validation && !setting.validation(seg)) continue;
      const value = seg[valueId];
      if(drawIntensity === undefined ||value > drawIntensity){
        drawIntensity = value;
        drawSettings = setting;
      }
    }
    
    if(!drawSettings) continue;
    const valueId = headersPositions.value[drawSettings.headerName];
    
    if(drawSettings.mixColor !== undefined && drawSettings.mixColor === false) ctx.fillStyle = drawSettings.getColor(seg[valueId]);
    else {
      const finalColor = props.invertColors ? invertColor(drawSettings.getColor(seg[valueId])) : drawSettings.getColor(seg[valueId]);
      ctx.fillStyle = mixColor(props.baseColor, finalColor, seg[valueId]);
    }

    const start = seg[startPosId] / props.callLength * width;
    const end = seg[endPosId] / props.callLength * width;
    ctx.fillRect(start, 0, end-start, height);
    
    _tooltips.push(getTooltipObject(start, end, seg));
  }
  
  //draw selecting
  if(selectedArea.value.selecting || selectedAreaPlaying.value){
    ctx.fillStyle = '#4E9BF096';
    const selectionFrom = Math.min(selectedArea.value.from, selectedArea.value.to);
    const selectionTo = Math.max(selectedArea.value.from, selectedArea.value.to);
    ctx.fillRect(selectionFrom, 0, selectionTo - selectionFrom, height);
  }
  
  tooltips.value = _tooltips;
}

function getTooltipObject(start, end, segment) {
  const result = {
    start: start,
    end: end,
    values: {},
  };
  for(let setting of props.drawItems){
    const valueId = headersPositions.value[setting.headerName];
    result.values[setting.headerName] = segment[valueId];
  }
  return result;
}

function setTooltipItem(offsetX){
  let item;
  for(let t of tooltips.value){
    if(t.start <= offsetX && offsetX <= t.end){
      item = t;
      break;
    }
  }
  currentTooltipSegment.value = item;
}

</script>

<style lang="scss" src="./EmotionLine.scss" />

