@import "@/assets/styles/component.scss";
@import "../labels/PlayPositionLabelLine.scss";

.emotion-line-container{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  &.el-with-tooltip{
    cursor: pointer;
  }
}
.emotion-line{
  width: 100%;
  height: 100%;
}
.emotion-line-tooltip{
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -100%);
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  gap: 2px;
  background-color: $c-gray-bg-1;
  &::after {
    pointer-events: none;
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $c-gray-bg-1 transparent transparent transparent;
  }
}
.emotion-line-tooltip-title{
  @include title-1;
}
.emotion-line-tooltip-value-container{
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}
.emotion-line-tooltip-type{
  @include title-1;
}
.emotion-line-tooltip-value{
  @include title-1;
  color: $c-secondary-dark;
}