<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <InsufficientAudioData v-if="!props.tags" :message="Locale.insufficientAudioData" />
    <div v-else part="call-tags-container" class="call-tags-container">
      <template v-for="tag in props.tags">
        <CallTag :text="props.localeTexts && props.localeTexts[tag] ? props.localeTexts[tag] : tag" :tag="tag" />
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  tags: {
    required: false,
    typeof: "array",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: [...Object.keys(mainLocale.callTags)]
  }, // Object { [tagName]: translate }
}
</script>
<script setup>
import InvalidProperty from '@/components/InvalidProperty.vue';
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import CallTag from "./components/CallTag.vue";
import InsufficientAudioData from "@/components/InsufficientAudioData.vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.callTags);

</script>

<style lang="scss" src="./CallTags.scss" />
