@import "@/assets/styles/component.scss";
@import "./components/CallTag.scss";
@import "@/components/InsufficientAudioData.scss";

.call-tags-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
.insufficient-audio-data{
  border: 1px solid $c-stroke;
}
