<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <Collapse :name="Locale.topicRiskReport">
      <div part="btlc-line" class="btlc-line"></div>
      <BriefTopicList :topics="props.topics" :summaryQuestions="props.summaryQuestions" :localeTexts="Locale" />
    </Collapse>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topics: {
    required: true,
    typeof: "array",
  },
  summaryQuestions: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      if(prop.length === 0) return { isValid: false, message: `The array summaryQuestions doesn't have a valid value!`};
      prop.forEach((item, index) => {
        if(!item) return { isValid: false, message: `The summaryQuestions[${index}] has no value!`};
        for(const v of ['question','topics']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The summaryQuestions[${index}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.topicRisk),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Collapse from "@/components/Collapse.vue";
import BriefTopicList from "./BriefTopicList.ce.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.topicRisk);

</script>

<style lang="scss" src="./BriefTopicListCollapse.scss" />
