<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div v-if="info.length > 0" part="bhd-container" class="bhd-container">
      <template v-for="text in info">
        <Highlight :text="text" />
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  riskQuestions: {
    required: true,
    typeof: "array",
  },
  questions: {
    required: true,
    typeof: "array",
  },
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.riskHighlights),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Highlight from "./components/Highlight.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed, watch} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));
const emit = defineEmits(['textUpdated']);

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.riskHighlights);

const info = computed(() => {
  const segmentValidSegmentPos = props.value.segments.headersPositions.validSegment;
  const segmentSpeechToTextPos = props.value.segments.headersPositions.speechToText;
  const segmentQuestionNamePos = props.value.segments.headersPositions.question;
  const segmentRiskObjectivePos = props.value.segments.headersPositions.riskOZ;
  const result = [];
  props.value.questions.forEach((question) => {
    const riskQuestion = props.value.riskQuestions.find(rq => rq._id === question.id);
    if(riskQuestion.riskObjective >= 60) result.push(`${Locale.value.highRiskInQuestion} "${question.text}"`);

    if(segmentSpeechToTextPos !== undefined){
      props.value.segments.data
        .filter(seg => seg[segmentValidSegmentPos])
        .filter((seg) => seg[segmentQuestionNamePos] === riskQuestion._id && seg[segmentRiskObjectivePos] >= 60)
        .forEach((seg) => {
          result.push(`${Locale.value.highRiskInStatement} "${seg[segmentSpeechToTextPos]}"`);
        })
    }
  })
  
  return result;
});

watch(info, () => {
  emit('textUpdated', info.value);
}, {immediate: true})

</script>

<style lang="scss" src="./BriefHighlightDetailed.scss" />
