<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="brief-topic" class="brief-topic">
      <div part="brief-topic-title" class="brief-topic-title">{{props.topicRisk._id}}</div>
      <LineTopic part="brief-topic-line" class="brief-topic-line" :maxSOS="props.topicRisk.maxSOS" :riskObjective="props.topicRisk.riskObjective" :localeTexts="Locale" />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topicRisk: {
    required: true,
    typeof: "object",
    existProps: ['_id', 'maxSOS', 'riskObjective'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.topicRisk),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import LineTopic from "./LineTopic.ce.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.topicRisk);

</script>

<style lang="scss" src="./BriefTopic.scss" />
