<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="brief-topic-list" class="brief-topic-list">
      <template v-for="(value, index) in sortedTopics" >
        <div v-if="index !== 0" part="brief-topic-list-line" class="brief-topic-list-line"></div>
        <BriefTopic :topicRisk="value"></BriefTopic>
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topics: {
    required: true,
    typeof: "array",
  },
  summaryQuestions: {
    required: true,
    typeof: "array",
    validate: (prop) => {
      if(prop.length === 0) return { isValid: false, message: `The array summaryQuestions doesn't have a valid value!`};
      prop.forEach((item, index) => {
        if(!item) return { isValid: false, message: `The summaryQuestions[${index}] has no value!`};
        for(const v of ['question','topics']){
          if(!item.hasOwnProperty(v)) return { isValid: false, message: `The summaryQuestions[${index}] is invalid! Property ${v} is missing.`}
        }
      })
    }
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.topicRisk),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import BriefTopic from "./BriefTopic.ce.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.topicRisk);

const sortedTopics = computed(() => {
  const topicNames = props.value.summaryQuestions.map(i => i.topics[0].name);
  const sortedUniqueTopicNames = [...new Set(topicNames)];
  return sortedUniqueTopicNames.map(i => props.value.topics.find(j => j._id === i));
})

</script>

<style lang="scss" src="./BriefTopicList.scss" />
