@import "@/assets/styles/component.scss";
@import "./LineTopic.scss";

.brief-topic{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.brief-topic-title{
  @include title-4;
  color: $c-secondary-dark;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.brief-topic-line{
  width: 180px;
}