<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div v-if="info.length > 0" part="bhg-container" class="bhg-container">
      <template v-for="text in info">
        <Highlight :text="text" />
      </template>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  topics: {
    required: true,
    typeof: "array",
  },
  clStress: {
    required: false,
    typeof: "number",
  },
  avgEnergy: {
    required: true,
    typeof: "number",
  },
  avgExcitement: {
    required: true,
    typeof: "number",
  },
  avgUncertainty: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.riskHighlights),
  },
  line: {
    default: true,
    typeof: "boolean",
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import Highlight from "./components/Highlight.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {computed, watch} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));
const emit = defineEmits(['textUpdated']);

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.riskHighlights);

const info = computed(() => {
  const result = [];
  if(props.value.clStress > 5) result.push(Locale.value.highStress);
  
  if(props.value.topics.length > 0){
    const totalSOS = props.value.topics.reduce((res, curr) => res + curr.maxSOS, 0);
    const avgSOS = totalSOS / props.value.topics.length;
    if(avgSOS > 105) result.push(Locale.value.highInformationWithholding);
  }

  if(props.value.avgEnergy < 2  && props.value.avgExcitement < 5 && props.value.avgUncertainty > 20) result.push(Locale.value.highDepression);
  
  return result;
})

watch(info, () => {
  emit('textUpdated', info.value);
}, {immediate: true})

</script>

<style lang="scss" src="./BriefHighlightGeneral.scss" />
