<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <Collapse>
      <template #header>
        <div class="bhc-header">
          <div>{{Locale.riskHighlights}}</div>
          <div class="bhc-header-copy"><IconCopy @click="copyToClipboard" /></div>
        </div>
      </template>
      <div part="bhc-line" class="bhc-line"></div>
      <BriefHighlight
        :riskQuestions="props.riskQuestions"
        :questions="props.questions"
        :topics="props.topics"
        :segments="props.segments"
        :clStress="props.clStress"
        :avgEnergy="props.avgEnergy"
        :avgExcitement="props.avgExcitement"
        :avgUncertainty="props.avgUncertainty"
        :localeTexts="Locale"
        @textUpdated="onTextsUpdated"
      />
    </Collapse>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  riskQuestions: {
    required: true,
    typeof: "array",
  },
  questions: {
    required: true,
    typeof: "array", // [{id: '...', text: '...'}]
  },
  topics: {
    required: true,
    typeof: "array",
  },
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  clStress: {
    required: false,
    typeof: "number",
  },
  avgEnergy: {
    required: true,
    typeof: "number",
  },
  avgExcitement: {
    required: true,
    typeof: "number",
  },
  avgUncertainty: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.riskHighlights),
  }
}
</script>
<script setup>

import IconCopy from '@/assets/icons/copy.svg';
import InvalidProperty from '@/components/InvalidProperty.vue';
import Collapse from "@/components/Collapse.vue";
import BriefHighlight from "./BriefHighlight.ce.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {ref} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.riskHighlights);

const texts = ref([]);

function onTextsUpdated(values){
  texts.value = values;
}

function copyToClipboard() {
  if(texts.value.length > 0) navigator.clipboard.writeText(texts.value.join('; '));
}

</script>

<style lang="scss" src="./BriefHighlightCollapse.scss" />
