<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="bh-container" class="bh-container">
      <BriefHighlightGeneral 
        :topics="props.topics"
        :clStress="props.clStress"
        :avgEnergy="props.avgEnergy"
        :avgExcitement="props.avgExcitement"
        :avgUncertainty="props.avgUncertainty"
        :localeTexts="Locale"
        @textUpdated="updateGeneralTexts"
      />
      <div v-if="generalTexts.length > 0 && detailedTexts.length > 0" part="bh-line" class="bh-line"></div>
      <BriefHighlightDetailed 
        :riskQuestions="props.riskQuestions" 
        :questions="props.questions" 
        :segments="props.segments" 
        :localeTexts="Locale"
        @textUpdated="updateDetailedTexts"
      />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  riskQuestions: {
    required: true,
    typeof: "array",
  },
  questions: {
    required: true,
    typeof: "array",
  },
  topics: {
    required: true,
    typeof: "array",
  },
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  clStress: {
    required: false,
    typeof: "number",
  },
  avgEnergy: {
    required: true,
    typeof: "number",
  },
  avgExcitement: {
    required: true,
    typeof: "number",
  },
  avgUncertainty: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.riskHighlights),
  }
}
</script>
<script setup>

import InvalidProperty from '@/components/InvalidProperty.vue';
import BriefHighlightGeneral from "./BriefHighlightGeneral.ce.vue";
import BriefHighlightDetailed from "./BriefHighlightDetailed.ce.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {ref} from "vue";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));
const emit = defineEmits(['textUpdated']);

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.riskHighlights);

const generalTexts = ref([]);
const detailedTexts = ref([]);

function updateGeneralTexts(texts){
  generalTexts.value = texts;
  onUpdate()
}
function updateDetailedTexts(texts){
  detailedTexts.value = texts;
  onUpdate()
}
function onUpdate(){
  emit('textUpdated', [...generalTexts.value, ...detailedTexts.value]);
}

</script>

<style lang="scss" src="./BriefHighlight.scss" />
