@import "@/assets/styles/component.scss";
@import "./BriefHighlightGeneral.scss";
@import "./BriefHighlightDetailed.scss";

.bh-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 650px;
  overflow-y: auto;
}
.bh-line{
  @include line;
}
