@import "@/assets/styles/component.scss";
@import "./BriefTopic.scss";

.brief-topic-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 650px;
  overflow-y: auto;
}
.brief-topic-list-line{
  @include line;
}