@import "@/assets/styles/component.scss";
@import "@/components/Collapse.scss";
@import "./BriefHighlight.scss";

.bhc-line{
  @include line;
  margin-bottom: 24px;
}
.bhc-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 24px;
}
.bhc-header-copy{
  cursor: pointer;
  color: $c-blue;
}