<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="grs-container" class="grs-container" :class="{'grs-container-inline': props.inlineDesign}">
      <ValueScoreHeader
        :header="props.showHeader ? Locale.generalRiskScore : ''"
        :icon="description.icon"
        :text="description.text"
        :score="description.score"
        :inlineDesign="props.inlineDesign"
      />
      <div v-if="props.showSubtext && description.subtext !== '-'" part="grs-subtext" class="grs-subtext">{{description.subtext}}</div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  risk: {
    required: false,
    typeof: "object",
    existProps: ['topics'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.riskScore),
  },
  showHeader: {
    default: true,
    typeof: "boolean"
  },
  showSubtext: {
    default: true,
    typeof: "boolean"
  },
  inlineDesign: {
    default: false,
    typeof: "boolean"
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import ValueScoreHeader from "@/components/ValueScoreHeader.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.riskScore);

const description = computed(() => {
  if(props.value.risk === undefined) return {text: '-', icon: null, score: undefined, subtext: '-'};

  const risk = Math.max(...props.value.risk.topics.map(r => r.riskObjective))
  
  if(risk < 40) return {text: Locale.value.low, icon: 'check-success', score: risk, subtext: Locale.value.lowDescription};
  if(risk <= 60) return {text: Locale.value.medium, icon: 'warning-orange', score: risk, subtext: Locale.value.mediumDescription};
  return {text: Locale.value.high, icon: 'warning-red', score: risk, subtext: Locale.value.highDescription};
});

</script>

<style lang="scss" src="./GeneralRiskScore.scss" />
