@import "@/assets/styles/component.scss";
@import "@/components/ValueScoreHeader.scss";

.grs-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  &.grs-container-inline{
    flex-direction: row;
  }
}
.grs-subtext{
  @include text-4;
  color: $c-secondary-dark;
}