@import "@/assets/styles/component.scss";
@import "@/components/SegmentedLine.scss";

.topic-line{
  @include text-3;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $c-stroke;
}
.topic-line-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
