<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="topic-line" class="topic-line">
      <div part="topic-line-top" class="topic-line-top">
        <div>{{Locale.risk}}</div>
        <div>{{value.text}} ({{props.riskObjective}})</div>
      </div>
      <SegmentedLine :value="value.value" :type="value.type" />
      <div v-if="info">{{info}}</div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  maxSOS: {
    required: false,
    typeof: "number",
  },
  riskObjective: {
    required: true,
    typeof: "number",
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.topicRisk),
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import SegmentedLine from "@/components/SegmentedLine.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.topicRisk);

const value = computed(() => {
  if(props.value.riskObjective < 20) return {value: 1, type: 'low', text: Locale.value.low};
  if(props.value.riskObjective < 40) return {value: 2, type: 'low', text: Locale.value.low};
  if(props.value.riskObjective < 60) return {value: 3, type: 'medium', text: Locale.value.medium};
  if(props.value.riskObjective < 80) return {value: 4, type: 'high', text: Locale.value.high};
  return {value: 5, type: 'high', text: Locale.value.high};
});

const info = computed(() => {
  if(Number.isFinite(props.value.maxSOS) && props.value.maxSOS > 105) return Locale.value.withholdingInformation;
  return '';
});

</script>

<style lang="scss" src="./LineTopic.scss" />
