<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="rbi-container" class="rbi-container">
      <BadgeRisk class="rbi-item-final" :class="{'rbi-item-final-active': risk.final > 0}" 
                 :icon="risk.final >=5 ? 'warning-red' : null"
                 :title="Locale.finalRiskScore"
                 :value="risk.final"
                 :locale="Locale"
                 hideDescription
      />
      <BadgeRisk class="rbi-item-high" :class="{'rbi-item-high-active': risk.high > 0}"
                 :title="Locale.highRisk"
                 :value="risk.high"
                 :locale="Locale"
      />
      <BadgeRisk class="rbi-item-medium" :class="{'rbi-item-medium-active': risk.medium > 0}"
                 :title="Locale.mediumRisk"
                 :value="risk.medium"
                 :locale="Locale"
      />
      <BadgeRisk class="rbi-item-suspected" :class="{'rbi-item-suspected-active': risk.suspected > 0}"
                 :title="Locale.suspected"
                 :value="risk.suspected"
                 :locale="Locale"
      />
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  localeTexts: {
    required: false,
    typeof: "object",
    existProps: Object.keys(mainLocale.riskIndicators),
  }
}
</script>
<script setup>
import {computed} from 'vue';
import InvalidProperty from '@/components/InvalidProperty.vue';
import BadgeRisk from "./components/BadgeRisk.vue";
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, mainLocale.riskIndicators);

const risk = computed(() => {
  const result = {final: 0, high: 0, medium: 0, suspected: 0};
  const validPos = props.value.segments.headersPositions['validSegment'];
  const LVAPos = props.value.segments.headersPositions['offlineLVA-value'] || props.value.segments.headersPositions['onlineLVA'];
  const validSegments = props.value.segments.data.filter(s => s[validPos]);
  validSegments.forEach(s => {
    if(s[LVAPos] >= 19) result.high++;
    else if(s[LVAPos] >= 18) result.medium++;
    else if(s[LVAPos] >= 17) result.suspected++;
  })
  result.final = 5 * result.high + 3 * result.medium + 1 * result.suspected;
  return result;
});

</script>

<style lang="scss" src="./RiskBadgeIndicators.scss" />
