@import "@/assets/styles/component.scss";
@import "./components/BadgeRisk.scss";

.rbi-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
  > * {
    flex: 1;
  }
}
.rbi-item-final .br-left-border-container {
  border-color: $c-main-dark;
}
.rbi-item-final-active .br-left-border-container {
  background-color: $c-gray-bg-1;
}
.rbi-item-high .br-left-border-container {
  border-color: $c-red;
}
.rbi-item-high-active .br-left-border-container {
  background-color: #FF000012;
}
.rbi-item-medium .br-left-border-container {
  border-color: $c-orange;
}
.rbi-item-medium-active .br-left-border-container {
  background-color: #FF800012;
}
.rbi-item-suspected .br-left-border-container {
  border-color: $c-yellow;
}
.rbi-item-suspected-active .br-left-border-container {
  background-color: #FFC70012;
}
