<template>
  <InvalidProperty v-if="!propsValidation.isValid" :message="propsValidation.message" />
  <template v-else>
    <div part="sttsal-container" class="sttsal-container">
      <BaseTable :headers="grid_heads" :rows="rows">
        <template #stt="{row}">
          <div part="sttsal-stt" class="sttsal-stt" @mouseenter="(e) => onShowTooltip(e, row)" @mouseleave="onHideTooltip">
            {{row.stt}}
          </div>
        </template>
        <template #complex="{row, header}">
          <div part="sttsal-complex-column" class="sttsal-complex-column">
            <template v-if="header.validation.isLva">
              <div part="sttsal-lva" class="sttsal-lva" :style="{'color': row.lva.color, 'background': row.lva.background}">{{row.lva.text}}</div>
            </template>
            <template v-else-if="header.validation.isMood">
              <GPTCommandList :gpt-command="row.moods" :locale-texts="Locale.GPTCommand" />
            </template>
            
            <SegmentedLine v-if="header.validation.isRisk" part="sttsal-risk-line" class="sttsal-risk-line" 
                           :value="row.risk.value" 
                           :type="row.risk.type" 
            />
            <FeelGPTList v-if="header.validation.isEmotions" class="sttsal-emotions" :feel-gpt="row.emotions" />
          </div>
        </template>
      </BaseTable>
      <div ref="tooltipRef" part="sttsal-tooltip-container" class="sttsal-tooltip-container">
        <div v-if="tooltipObject" part="sttsal-tooltip-content" class="sttsal-tooltip-content">
          <div>
            {{tooltipObject.stt}}
          </div>
        </div>
      </div>
    </div>
  </template>
</template>

<script>
import mainLocale from "@/locales/locale.json";

const propsDefinition = {
  segments: {
    required: true,
    typeof: "object",
    existProps: ['data', 'headersPositions'],
  },
  channel:{
    required: false,
  },
  localeTexts: {
    required: false,
    typeof: "object",
  }
}
</script>
<script setup>

import SegmentedLine from "@/components/SegmentedLine.vue";
import InvalidProperty from '@/components/InvalidProperty.vue';
import BaseTable from "@/components/table/BaseTable.vue"
import GPTCommandList from "@/components/segments/gptCommand/GPTCommandList.vue"
import FeelGPTList from "@/components/segments/feelGPT/FeelGPTList.vue"
import {getDefinePropsObject, getLocaleTexts, validateProps} from "@/helpers/helper.js";
import {convertSecondsToTime, getFeelGPTLabels, getValidSegments} from "@/helpers/segments.js";
import {computed, ref} from "vue";
import {enumLvaOnlineData} from "@/enums/enumLvaOnlineData.js";

const stringifyProps = defineProps(getDefinePropsObject(propsDefinition));
const emit = defineEmits(['copyText']);

const {propsValidation, props} = validateProps(propsDefinition, stringifyProps);
const Locale = getLocaleTexts(stringifyProps.localeTexts, {...mainLocale.sttAnalysis, GPTCommand: {...mainLocale.GPTCommand}});

const tooltipRef = ref();
const tooltipObject = ref(null);
const delayTooltip = ref(null);

const grid_heads = computed(() => {
  const isLva = checkIfValueExist("offlineLVA-value") || checkIfValueExist("onlineLVA");
  const isMood = !isLva && checkIfValueExist("GPTCommand");
  const isRisk = checkIfValueExist("riskOZ");
  const isEmotions = checkIfValueExist("feelGPT");
  
  const headers = [
    {sortable: false, label: Locale.value.channelHeader, fieldName: 'channel', class: 'sttsal-table-sw'},
    {sortable: false, label: Locale.value.timeHeader, fieldName: 'timeStamp', class: 'sttsal-table-sw'},
    {sortable: false, label: Locale.value.transcriptionHeader, fieldName: 'stt'},
  ];
  
  const lastColumn = {
    sortable: false, 
    label: Locale.value.emotionsIndications, 
    fieldName: 'complex', 
    class: 'sttsal-table-end',
    validation: {
      isRisk,
      isEmotions,
      isLva,
      isMood
    }
  };
  
  if(isLva && isRisk) lastColumn.label = Locale.value.emotionsRiskIndications; 
  else if(isLva) lastColumn.label = Locale.value.emotionsIndications;
  else if(isMood && isRisk) lastColumn.label = Locale.value.emotionsRiskMoodIndications;
  else if(isMood) lastColumn.label = Locale.value.emotionsMoodIndications;
  else lastColumn.label = Locale.value.emotionsIndications;
  
  headers.push(lastColumn);
  
  return headers;
})

const getRiskObject = (risk) => {
  if(typeof risk === 'undefined') return risk;
  
  if(risk < 20) return {value: 1, type: 'low', risk};
  if(risk < 40) return {value: 2, type: 'low', risk};
  if(risk < 60) return {value: 3, type: 'medium', risk};
  if(risk < 80) return {value: 4, type: 'high', risk};
  return {value: 5, type: 'high', risk};
}

const checkIfValueExist = (value) => {
  return props.value.segments.headersPositions.hasOwnProperty(value);
}

const rows = computed(() => {
  const segments = props.value.segments;

  const isLva = checkIfValueExist("offlineLVA-value") || checkIfValueExist("onlineLVA");
  const isMood = !isLva && checkIfValueExist("GPTCommand");
  const isRisk = checkIfValueExist("riskOZ");
  const isEmotions = checkIfValueExist("feelGPT");

  const validSegments = getValidSegments(segments, props.value.channel);
  
  const getValue = (segment, header) => segment[segments.headersPositions[header]];
  
  const texts = [];
  const rowsData = validSegments.map(segment => {
    const row = {
      channel: Locale.value['channel' + getValue(segment, "channel")],
      timeStamp: convertSecondsToTime(getValue(segment, "startPosSec")),
      lva: enumLvaOnlineData[ getValue(segment, "offlineLVA-value") || getValue(segment, "onlineLVA") ],
      risk: getRiskObject( getValue(segment, "riskOZ") ),
      stt: getValue(segment, "speechToText") || Locale.value.noSTTData,
      moods: getValue(segment, "GPTCommand") || '',
      emotions: getFeelGPTLabels(segment, segments.headersPositions, getTranslate) || [],
    }

    const moods = row.moods.split(';').map(m => Locale.value.GPTCommand[m] || m) || [];
    
    const copyRT = {
      channel: row.channel,
      timeStamp: row.timeStamp,
      stt: row.stt,
      lva: isLva ? row.lva.text : '',
      emotions: isEmotions ? row.emotions.map(t => t.text).join(' ') : '',
      risk: isRisk ? Locale.value.risk+': '+row.risk.risk : '',
      mood: isMood ? moods.join(' ') : '',
    }
    
    const copyRTArr = [
      copyRT.channel,
      copyRT.timeStamp,
      copyRT.stt,
      copyRT.lva ? '['+copyRT.lva+']' : '',
      copyRT.emotions ? '['+copyRT.emotions+']' : '',
      copyRT.risk ? '<'+copyRT.risk+'>' : '',
      copyRT.mood ? '{'+copyRT.mood+'}' : '',
    ]
    
    texts.push(copyRTArr.filter(v => !!v).join(' '));

    return row;
  });

  emit('copyText', texts.join(';\n'));
  
  return rowsData;
});

const onShowTooltip = (event, row) => {
  if(row.stt.length < 50) return;
  
  const rect = event.target.getBoundingClientRect();
  tooltipRef.value.style.bottom = window.innerHeight - (rect.y - 2)+"px";
  tooltipRef.value.style.left = rect.x+"px";
  tooltipRef.value.style.setProperty('--tooltip-arrow-position', Math.min(Math.max(rect.width, 30), 400) / 2 +"px");
  
  if(delayTooltip.value) clearTimeout(delayTooltip.value);
  delayTooltip.value = setTimeout(() => tooltipObject.value = row, 3000);
}

const onHideTooltip = () => {
  if(delayTooltip.value){
    clearTimeout(delayTooltip.value);
    delayTooltip.value = null;
  }
  tooltipObject.value = null;
}

function getTranslate(text){
  return Locale.value.feelGPTLabels?.hasOwnProperty(text) ? Locale.value.feelGPTLabels[text] : text;
}

</script>

<style lang="scss" src="./STTSegmentAnalysisList.scss" />
