@import "@/assets/styles/component.scss";
@import "@/components/segments/gptCommand/GPTCommandList.scss";
@import "@/components/segments/feelGPT/FeelGPTList.scss";
@import "@/components/table/BaseTable.scss";
@import "@/components/SegmentedLine.scss";

.sttsal-container{
  @include text-2;
  position: relative;

  .rbt-container table thead th .rbt-th{
    @include title-2; 
  }
  
  table thead th,
  table tbody td{
    padding: 10px 12px 10px 0;
    &:first-child{
      padding-left: 12px;
    }
  }
}
.sttsal-table-sw{
  width: 1px;
  white-space: nowrap;
}
.sttsal-table-end{
  .rbt-th{
    justify-content: flex-end; 
  }
}
.sttsal-stt{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
  overflow: hidden;
  text-overflow: ellipsis;
}
.sttsal-emotions{
  justify-content: flex-end;
}
.sttsal-tooltip-container{
  --tooltip-arrow-position: 50px;
  
  position: fixed;
  display: flex;
  z-index: 2;
  .sttsal-tooltip-content{
    min-width: 70px;
    max-width: 500px;
    position: relative;
    padding: 12px 18px;
    border-radius: 12px;
    border: 1px solid $c-stroke;
    background-color: white;
  }
  .sttsal-tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: var(--tooltip-arrow-position);
    margin-left: -7px;
    border-width: 5px;
    border-style: solid;
    border-color: $c-stroke transparent transparent transparent;
  }
}
.sttsal-risk-line{
  width: 220px;
}
.sttsal-complex-column{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}
.sttsal-lva{
  border-radius: 6px;
  padding: 4px 12px;
  background-color: red;
  white-space: nowrap;
}